{% extends "layout.html" %}
{% load bootstrap3 %}
{% load staticfiles %}
{% block title_tag %} {{ instance.title }} | {{ block.super }}{% endblock %}

<!--
<style>
{% block style %}
h1 {
    color: #777777;
}

{% endblock style %}
</style>
-->
{% block body_content %}

<!-- Columna a la derecha -->
<div class="search-column">
    <div class="post-column">
        <div class="info">
            <div class="icon">
                <img src="{% static 'img/icons/info.svg' %}" alt="">
                <span>Información</span>
            </div>
            <div class="autor">
                <p class="title">Autor</p>
                <div class="profile">
                    <div class="img-cont">
                        <a href="#">
                            {% if instance.author.avatar%}
                        <img src="{{ instance.author.avatar.url }}" alt="">
                            {% endif %}

                        </a>
                    </div>
                    <div class="name-review-cont">

                        {% comment %} A quien corresponda {% endcomment %}
                        <a href="#">
                            {% if instance.author.get_long_name %}
                            <span>{{ instance.author.get_long_name }}</span>
                            {% endif %}
                            {% if instance.author.get_enterprise_name %}
                            <span>{{ instance.author.get_enterprise_name }} (@{{ instance.author.email }})</span>
                            {% endif %}
                        </a>
                        <p><div class="fb-like" data-href="{{ request.build_absolute_uri }" data-layout="standard"
                                data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
                        </p>
                        <hr/>

                        <img src="{% static 'img/stars.svg' %}" alt="">
                        <div class="average">
                            <span>546</span>
                            <span>valoraciones</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="date">
                <p class="title">Fecha de creación</p>
                <span>{{ instance.timestamp }}</span>
            </div>
            <div class="review">
                <p class="title">Calificación de la oferta</p>
                <img src="{% static 'img/stars.svg' %}" alt="">
                <div class="average">
                    <span>546</span>
                    <span>valoraciones</span>
                </div>
            </div>
        </div>

        <div class="blog">
            <div class="button">
                <img src="{% static 'img/icons/blog.svg' %}">
                <span>Te puede interesar</span>
            </div>
            <div id="blog-scroll">
                <div class="blog-entry">
                    <!-- Título del blog -->
                    <a class="title" href="#">Mi experiencia en Londres, viaje educativo a la ciudad</a>
                    <div class="views">
                        <img src="{% static 'img/icons/views.svg' %}" alt="">
                        <span>543</span>
                    </div>
                    <div class="rating">
                        <img src="{% static 'img/stars.svg' %}" alt="">
                        <span>124</span>
                    </div>
                </div>
                <div class="blog-entry">
                    <!-- Título del blog -->
                    <a class="title" href="#">Mi experiencia en Londres, viaje educativo a la ciudad</a>
                    <div class="views">
                        <img src="{% static 'img/icons/views.svg' %}" alt="">
                        <span>543</span>
                    </div>
                    <div class="rating">
                        <img src="{% static 'img/stars.svg' %}" alt="">
                        <span>124</span>
                    </div>
                </div>
                <div class="blog-entry">
                    <!-- Título del blog -->
                    <a class="title" href="#">Mi experiencia en Londres, viaje educativo a la ciudad</a>
                    <div class="views">
                        <img src="{% static 'img/icons/views.svg' %}" alt="">
                        <span>543</span>
                    </div>
                    <div class="rating">
                        <img src="{% static 'img/stars.svg' %}" alt="">
                        <span>124</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- //Columna a la derecha -->

<!-- Contenido principal (ofertas) -->




<main>
    <div class="blog-body">
        {% if instance.image %}
        <img src="{{ instance.image.url }}" class="img-responsive">
        {% endif %}

        <div class="title-cont">
            <h1>{{ title }} <small>{% if instance.draft %}<span style='color: red'> Borrador</span> {% endif %}{{ instance.publish }}</small> </h1>
            {% comment %}
            {% if instance.author.has_perm %}
                {{ instance.author.has_perm }}
            {% endif %}
            {% endcomment %}
            {% comment %} <h1>{{ title }} <small>{{ instance.timestamp|timesince }}</small> </h1>{% endcomment %}
        </div>

        <!-- Social Share Links guides https://github.com/codingforentrepreneurs/Guides/blob/master/all/social_share_links.md -->
        {% comment %}
        <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">
                Facebook
        </a>


        <a href="https://twitter.com/home?status=Ha%llegado%20una%20nueva%20forma%de%20aprender%20y%20recorrer%20tu%20mundo%20con%20@hostayni%20{{ request.build_absolute_uri }}">
            Twitter
        </a>


        <a href="https://twitter.com/home?status=Ha%llegado%20una%20nueva%20forma%de%20aprender%20y%20recorrer%20tu%20mundo%20{{ request.build_absolute_uri }}">
            Twitter
        </a>

        <a href='https://plus.google.com/share?url={{ request.build_absolute_uri }}'>

        <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri }}&title=Se%el%20%primero%20en%20unirte%20a%20Hostayni&summary=Ha%llegado%20una%20nueva%20forma%de%20aprender%20y%20recorrer%20tu%20mundo%20&source={{ request.build_absolute_uri }}">
            Linkedin
        </a>

        <a href="http://www.reddit.com/submit?url={{ request.build_absolute_uri }}&title=Ha%llegado%20una%20nueva%20forma%de%20aprender%20y%20recorrer%20tu%20mundo%20.">Reddit</a>
        {% endcomment %}
        <!--
        <div class="banner" style="background: url(img/londres.jpg) no-repeat center; background-size:cover;">
            <div class="title-cont">
                <h1>Cómo sobrevivir a londres, guía práctica</h1>
            </div>
        </div> -->
        <div class="text-cont">
            <!-- icono verde del blog que aparece al lado del texto -->
            <div class="side-icon">
                <img src="{% static 'img/icons/blog-icon.svg' %}" alt="">
            </div>
            <div class="main-text">
                {{ instance.content|linebreaks }}<br/>


                {% comment %}
                Forma en como se ha distribuido el cuerpo del articulo
                <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent maximus nisi lorem, eu sodales risus cursus non. Quisque urna nulla, fermentum eget sagittis eu, egestas id eros. Praesent ante justo, ullamcorper vitae nisl blandit, tincidunt rhoncus justo. Vivamus hendrerit semper vestibulum.</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent maximus nisi lorem, eu sodales risus cursus non. Quisque urna nulla, fermentum eget sagittis eu, egestas id eros. Praesent ante justo, ullamcorper vitae nisl blandit, tincidunt rhoncus justo. Vivamus <a href="#">hendrerit semper vestibulum</a>. Maecenas fermentum felis consequat, suscipit magna ac, pulvinar quam. Aliquam vestibulum, nulla sed viverra tempus, ligula tortor auctor felis, sed feugiat nibh ipsum a velit. Praesent maximus nisi lorem, eu sodales risus cursus non. Quisque urna nulla, fermentum eget sagittis eu, egestas id eros. Praesent ante justo,</p>
                <!-- contenedor para imagenes que tiene la imagen y un pie de foto opcional -->
                <div class="img-cont">
                    <img src="img/medellin.jpg" alt="">
                    <span>Pie de foto</span>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent maximus nisi lorem, eu sodales risus cursus non. Quisque urna nulla, fermentum eget sagittis eu, egestas id eros. Praesent ante justo, ullamcorper vitae nisl blandit, tincidunt rhoncus justo. Vivamus <a href="#">hendrerit semper vestibulum</a>. Maecenas fermentum felis consequat, suscipit magna ac, pulvinar quam. Aliquam vestibulum, nulla sed viverra tempus, ligula tortor auctor felis, sed feugiat nibh ipsum a velit.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent maximus nisi lorem, eu sodales risus cursus non. Quisque urna nulla, fermentum eget sagittis eu, egestas id eros. Praesent ante justo, ullamcorper vitae nisl blandit, tincidunt rhoncus justo. Vivamus <a href="#">hendrerit semper vestibulum</a>. Maecenas fermentum felis consequat, suscipit magna ac, pulvinar quam. Aliquam vestibulum, nulla sed viverra tempus, ligula tortor auctor felis, sed feugiat nibh ipsum a velit.</p>
                {% endcomment %}

            </div>
        </div>
    </div>
    <div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-numposts="5"></div>
</main>
<!-- //Contenido principal (posts) -->
{% endblock %}