{% extends "layout.html" %}
<!-- {% load bootstrap3 %} -->
{% load staticfiles %}
{% block title_tag %} {{ instance.title }} | {{ block.super }}{% endblock %}

<!--
<style>
{% block style %}
h1 {
    color: #777777;
}

{% endblock style %}
</style>
-->



{% block body_content %}

<div class="article-container">


<!-- Contenido principal (ofertas) -->

<div class="main-article">
    <div class="blog-body">
        {% if instance.image %}
        <img src="{{ instance.image.url }}" width="1000" height="1000" class="img-responsive">
        {% endif %}

        <div class="title-cont">
            <h1 class="title-article">{{ title }} <small>{% if instance.draft %}<span style='color: red'> Borrador</span> {% endif %}</small> </h1>
            {% if instance.author.id == userprofile.user.id %}
                <p><a class="glyphicon glyphicon-pencil" aria-hidden="true" href = "{% url 'articles:update' instance.slug %}"></a>
                &nbsp;&nbsp;&nbsp;&nbsp;| &nbsp;&nbsp;&nbsp;&nbsp;
                <a class='glyphicon glyphicon-trash' href = "{% url 'articles:article_remove' instance.slug %}"></a>
            {% endif %}
            {% comment %} <h1>{{ title }} <small>{{ instance.timestamp|timesince }}</small> </h1>{% endcomment %}
        </div>

        <!-- Columna a la derecha -->
        <div class="search-column-low">
          <div class="img-cont">
            {% if instance.author.avatar %}
                <a href="{% url 'accounts:detail' instance.author.slug %}">
                    <img src="{{ instance.author.avatar.url }}" alt="" class="img-responsive">
                </a>
            {% else %}
             <a href="{% url 'accounts:detail' instance.author.slug %}">
               <img src="{% static 'img/default_profile_pic.png' %}" class="img-responsive">
             </a>
            {% endif %}
          </div>
          <div class="name-review-author">
            {% comment %} A quien corresponda {% endcomment %}
            <a href="{% url 'accounts:detail' instance.author.slug %}">
                <span>{{ instance.author.get_long_name }}</span><br/>
            </a>
          </div>
          <div class="date">
              <span>{{ instance.timestamp }}</span>
          </div>
          <div class="name-review-facebook">
            <div class="fb-like" data-href="{{ request.build_absolute_uri }}" data-layout="standard"
                    data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
          </div>
        </div>

        <!-- //Columna a la derecha -->

        <!-- Social Share Links guides https://github.com/codingforentrepreneurs/Guides/blob/master/all/social_share_links.md -->
        {% comment %}
        <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">
                Facebook
        </a>


        <a href="https://twitter.com/home?status=Ha%llegado%20una%20nueva%20forma%de%20aprender%20y%20recorrer%20tu%20mundo%20con%20@hostayni%20{{ request.build_absolute_uri }}">
            Twitter
        </a>


        <a href="https://twitter.com/home?status=Ha%llegado%20una%20nueva%20forma%de%20aprender%20y%20recorrer%20tu%20mundo%20{{ request.build_absolute_uri }}">
            Twitter
        </a>

        <a href='https://plus.google.com/share?url={{ request.build_absolute_uri }}'>

        <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri }}&title=Se%el%20%primero%20en%20unirte%20a%20Hostayni&summary=Ha%llegado%20una%20nueva%20forma%de%20aprender%20y%20recorrer%20tu%20mundo%20&source={{ request.build_absolute_uri }}">
            Linkedin
        </a>

        <a href="http://www.reddit.com/submit?url={{ request.build_absolute_uri }}&title=Ha%llegado%20una%20nueva%20forma%de%20aprender%20y%20recorrer%20tu%20mundo%20.">Reddit</a>
        {% endcomment %}
        <!--
        <div class="banner" style="background: url(img/londres.jpg) no-repeat center; background-size:cover;">
            <div class="title-cont">
                <h1>Cómo sobrevivir a londres, guía práctica</h1>
            </div>
        </div> -->

        <p class="tags">Tags: {{ instance.tags.all|join:", " }}</p>
        <div class="text-cont">
            <!-- icono verde del blog que aparece al lado del texto -->
            <div class="side-icon">
                <img src="{% static 'img/icons/blog-icon.svg' %}" alt="">
            </div>
            <div class='main-text'>
                <div class='content-markdown'>{{ instance.content }}</div><br/>
            </div>
        </div>
    </div>
    <!-- <div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-numposts="5"></div> -->

    <h2>Similar posts</h2>
    {% for article in similar_posts %}
      <p>
        <a href="{{ article.get_absolute_url }}">{{ article.title }}</a>
      </p>
    {% empty %}
      There are no similar posts yet.
    {% endfor %}

    <div id="disqus_thread"></div>
</div>

<!-- Columna a la derecha -->
<div class="search-column">
    <div class="post-column">
        <div class="info">
            <div class="icon">
                <img src="{% static 'img/icons/info.svg' %}" alt="">
                <span>Información</span>
            </div>
            <div class="autor">
                <div class="profile">
                    <div class="img-cont">
                        {% if instance.author.avatar %}
                            <a href="{% url 'accounts:detail' instance.author.slug %}">
                                <img src="{{ instance.author.avatar.url }}" alt="" class="img-responsive">
                            </a>
                        {% else %}
                         <a href="{% url 'accounts:detail' instance.author.slug %}">
                           <img src="{% static 'img/default_profile_pic.png' %}" class="img-responsive">
                         </a>
                        {% endif %}
                    </div>
                    <div class="name-review-cont">

                        {% comment %} A quien corresponda {% endcomment %}
                        <a href="{% url 'accounts:detail' instance.author.slug %}">
                            <span>{{ instance.author.get_long_name }}</span> <span>(@{{ instance.author.username }})</span>
                        </a>
                        <p><div class="fb-like" data-href="{{ request.build_absolute_uri }}" data-layout="standard"
                                data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
                        </p>
                        <hr/>
                        {% comment %}
                        <img src="{% static 'img/stars.svg' %}" alt="">
                        <div class="average">
                            <span>546</span>
                            <span>valoraciones</span>
                        </div>
                        {% endcomment %}
                    </div>
                </div>
            </div>
            <div class="date">
                <span>{{ instance.timestamp }}</span>
            </div>
            {% comment %}
            <div class="review">
                <p class="title">Calificación de la oferta</p>
                <img src="{% static 'img/stars.svg' %}" alt="">
                <div class="average">
                    <span>546</span>
                    <span>valoraciones</span>
                </div>
            </div>
            {% endcomment %}
        </div>
        {% comment %}
        <div class="blog">
            <div class="button">
                <img src="{% static 'img/icons/blog.svg' %}">
                <span>Te puede interesar</span>
            </div>
            <div id="blog-scroll">
                <div class="blog-entry">
                    <!-- Título del blog -->
                    <a class="title" href="#">Mi experiencia en Londres, viaje educativo a la ciudad</a>
                    <div class="views">
                        <img src="{% static 'img/icons/views.svg' %}" alt="">
                        <span>543</span>
                    </div>
                    <div class="rating">
                        <img src="{% static 'img/stars.svg' %}" alt="">
                        <span>124</span>
                    </div>
                </div>
                <div class="blog-entry">
                    <!-- Título del blog -->
                    <a class="title" href="#">Mi experiencia en Londres, viaje educativo a la ciudad</a>
                    <div class="views">
                        <img src="{% static 'img/icons/views.svg' %}" alt="">
                        <span>543</span>
                    </div>
                    <div class="rating">
                        <img src="{% static 'img/stars.svg' %}" alt="">
                        <span>124</span>
                    </div>
                </div>
                <div class="blog-entry">
                    <!-- Título del blog -->
                    <a class="title" href="#">Mi experiencia en Londres, viaje educativo a la ciudad</a>
                    <div class="views">
                        <img src="{% static 'img/icons/views.svg' %}" alt="">
                        <span>543</span>
                    </div>
                    <div class="rating">
                        <img src="{% static 'img/stars.svg' %}" alt="">
                        <span>124</span>
                    </div>
                </div>

            </div>
        </div>
        {% endcomment %}
    </div>
</div>

<!-- //Columna a la derecha -->

</div>

<!-- //Contenido principal (posts) -->
{% endblock %}

