{% extends "layout.html" %}
{% load bootstrap3 %}
{% load staticfiles %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block title_tag %}Crear un artículo en {{ block.super }}{% endblock %}


    <head>
      <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
      <link rel="stylesheet" href="/resources/demos/style.css">
      <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
      <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
      <script>
      $(document).ready(function() {
        $( "#datepicker" ).datepicker();
      });
</script>
    </head>




{% block body_content %}
<div class="offert-form">
    <h1>
    {% if not form.instance.slug %}
        {{ form.ad }}
      {% else %}
      Actualizar artículo
      {% endif %}
        {% if instance.draft %}<span style='color: red'> Borrador</span> {% endif %}
    </h1>

    <form class="stayhost" method="POST" enctype="multipart/form-data">
    <div class="head">
        <div class="ofert-icon">
          <img src="{% static 'img/icons/lang.svg' %}" alt="">
          <div class="title">
            <h2>Contenidos</h2>
            <span>Crear un Artículo</span>
          </div>
        </div>
        <div class="submit-button-cont">
            <div>
              <input type="image" src="{% static 'img/icons/ok.png' %}" alt="Submit" width="48" height="48">
              <input type="submit" value="Guardar" class="submit-button">
            </div>
        </div>
    </div>
    {% csrf_token %}
        <div class="formgroup">
        {% bootstrap_form form %}
        </div>

        {% comment %}
        <div class="formgroup">
        {% bootstrap_field form.title %}
        </div>
         <div class="formgroup">
        {% bootstrap_field form.content %}
        </div>
        <div class="formgroup">
        {% bootstrap_field form.image %}
        </div>
        <div class="formgroup">
        {% bootstrap_field form.draft %}
        </div>
        <div class="formgroup">
        {% bootstrap_field form.publish %}
            <p>Publish: <input type="text" id="datepicker"></p>
        </div>
        <div class="formgroup">
            <span>Title</span>
            {{ form.title }}
        </div>
        <div class="formgroup">
            <span>Text</span>
            {{form.text}}
        </div>
        <div class="formgroup">
            <span>Photo</span>
            {{ form.image }}
        </div>
        {% endcomment %}

    </form>
</div>
{% endblock %}