{% extends "layout.html" %}
{% load bootstrap3 %}
{% load staticfiles %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block title_tag %}Crear un artículo en {{ block.super }}{% endblock %}
{% block top_logo %}
{% include "top-logo.html" %}
{% endblock %}

{% block body_content %}
<div class="offert-form">
    <h1>
    {% if not form.instance.slug %}
        {{ form.ad }}
      {% else %}
      Actualizar artículo
      {% endif %}
        {% if instance.draft %}<span style='color: red'> Borrador</span> {% endif %}
    </h1>

    <form class="stayhost" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
    <div class="head">
        <div class="ofert-icon">
          <img src="{% static 'img/icons/lang.svg' %}" alt="">
          <div class="title">
            <h2>Contenidos</h2>
            <span>Crear un Artículo</span>
          </div>
        </div>
    </div>

    {% comment %}
    <div class="formgroup">
        {% if form.errors %}
            {% for key, value in form.errors.itervalues %}
               <p> {{ key }}: {{ value.as_text }}</p>
            {% endfor %}
        {% endif %}

        {{ form.non_field_errors }}
        <p {% if form.title.errors %} class="some-field-err" {% endif %}><label for="{{ form.title.id_for_label }}">{{ form.title.label }}:</label>{{ form.title }}
            {% if form.title.errors %}
        <div style="color: red"> Errors with title are: {{ form.title.errors.as_text }}</div>
        {% endif %}
        </p>
        <p>{{ form.content.label }}{{ form.content }}</p>
        <p>{{ form.image.label }}{{ form.image }}</p>
        <p>{{ form.draft.label }}{{ form.draft }}</p>
    {% endcomment %}
    {% bootstrap_form form %}

    </div>


        {% comment %} 2
        <div class="formgroup">
        {% bootstrap_field form.title %}
        </div>
         <div class="formgroup">
        {% bootstrap_field form.content %}
        </div>
        <div class="formgroup">
        {% bootstrap_field form.image %}
        </div>
        <div class="formgroup">
        {% bootstrap_field form.draft %}
        </div>
        <div class="formgroup">
        {% bootstrap_field form.publish %}
        </div>
        <div class="formgroup">
            <span>Title</span>
            {{ form.title }}
        </div>
        <div class="formgroup">
            <span>Text</span>
            {{form.text}}
        </div>
        <div class="formgroup">
            <span>Photo</span>
            {{ form.image }}
        </div>
        {% endcomment %}

        <div class="submit-button-cont">
            <div>
              <input type="image" src="{% static 'img/icons/ok.png' %}" alt="Submit" width="48" height="48">
              <input type="submit" value="Publicar" class="submit-button">
            </div>
        </div>

    </form>

</div>
{% endblock %}