Hola {{ lodging_offer_owner_full_name }} {{ lodging_offer_owner_email }}


El usuario {{ user_interested_full_name }} ({{ interested_email }}) esta interesado en esta oferta
de alojamiento que tu has publicado con nosotros:

{{ lodging_offer_title }} - {{ domain }}{{ offer_url }}


Si existe un acuerdo por la oferta {{ lodging_offer_title }}, el dueño deberá
actualizarla seleccionando el estado "Oferta tomada" en su formulario para que ésta
no sea incluida en los resultados de búsquedas de HOSTAYNI.



Saludos,

Equipo de HOSTAYNI
