{% extends "layout.html" %}
{% load bootstrap3 %}
{% load staticfiles %}
{% block title_tag %} Como funciona Hostayni | {{ block.super }}{% endblock %}

{% block body_content %}
        <div class="container-info-howitworks-high">
          <img src="{% static 'img/howitworks/howitworks-1160.jpg' %}" alt="">
        </div>
        <div class="container-info-howitworks-medium">
          <img src="{% static 'img/howitworks/howitworks-767.jpg' %}" alt="">
        </div>
        <div class="container-info-howitworks-low">
          <img src="{% static 'img/howitworks/howitworks-415.jpg' %}" alt="">
        </div>
{% endblock %}
