{% load staticfiles %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<html lang="es">
{% block head %}
<head>
    <title>{% block title_tag %}HOSTAYNI{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% comment %} Jeronimo's static files  {% endcomment %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

      <!-- Bootstrap CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>

    <style>
        {% block style %}

            .red-color {
              color: red;
            }
            .grey-color {
              color: #ccc;
            }
            .media-focus{
                background-color: rgba(255, 255, 0, 0.22);
            }
        {% endblock style %}
    </style>
</head>
{% endblock %}
<!--   class="grey-background" Orignal Jerome Design -->
<body>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.10";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

{% include "messages_display.html" %}
    <div class="wrapper">
        <!-- Botones de registro e inicio de sesión -->
        <header>
            {% block top_logo %}
            {% endblock %}

            {% if request.user.is_authenticated %}
                {% if userprofile %}
                    <div class="profile-options">
                        <div class="img">
                            {% if userprofile.user.avatar %}
                                <img src="{{ userprofile.user.avatar.url }}" class="img-responsive">
                            {% else %}
                               <img src="https://s3-sa-east-1.amazonaws.com/ihost-project/assets/img/default_profile_pic.png" class="img-responsive">
                            {% endif %}
                            <!-- Imagen de perfil -->
                           {% comment %} <img src="{{ object.image_url|default_if_none:'#' }}" alt="">{% endcomment %}
                        </div>

                        {% comment %} Begin settings drowdown {% endcomment %}

                        <div class="name-options-cont">
                            <div class="name">
                            {% if userprofile.user.user_type == "P" %}
                                <p>{{ userprofile.user.email }} - {{ userprofile.user.first_name }}</p>
                            {% else %}
                                <p>{{ userprofile.user.email }} - {{ userprofile.user.enterprise_name }}</p>
                            {% endif %}
                            </div>
                            <div class="options">
                                Mi Ayni
                                <img src="{% static 'img/icons/gear.svg' %}" alt="">
                                <div class="drop-down"> <p>Mi Ayni</p>
                                    <ul>
                                        <li><a href="{% url 'accounts:preferences' userprofile.user.slug %}" >
                    Configuración de la cuenta</a></li>
                                        <li><a href="{% url 'accounts:profile' userprofile.user.slug %}">Mis roles de usuario</a></li>
                                        <li class="line"></li>
                                        <p>Contenidos</p>
                                        <li><a href="{% url 'articles:create' %}">Crear Artículo</a></li>
                                        <li><a href="{% url 'articles:list' userprofile.user.slug %}">Mis artículos</a></li>
                                        <li class="line"></li>
                                        <p>Anfitrión</p>
                                        {% if userprofile.user.is_hosting_host %}
                                          <li><a href="{% url 'host:hosting-host' %}">Crear oferta de hospedaje</a></li>
                                          <li><a href="{% url 'host:list' userprofile.user.slug %}">Mis ofertas de hospedaje</a></li>
                                        {% endif %}
                                        {% if userprofile.user.is_study_host %}
                                          <li><a href="{% url 'host:study-host' %}">Crear oferta de estudios</a></li>
                                             <li><a href="{% url 'host:studiesofferlist' userprofile.user.slug %}">Mis ofertas de estudio</a></li>
                                        {% endif %}
                                        <li class="line"></li>
                                        <p>Búsquedas</p>
                                        <li><a href="{% url 'host:hostingoffer-search' %}">Ofertas de hospedaje</a></li>
                                        <li><a href="{% url 'host:studyoffer-search' %}">Ofertas de estudio</a></li>

                                        <li><a href="{% url 'accounts:logout' %}">Salir</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>


                {% endif %}
                {% else %}
                    <div class="registration">
                        <a href="{% url 'accounts:signup' %}">Registrarse</a><a href="{% url 'login' %}">Iniciar sesión</a>
                    </div>
            {% endif %}
        </header>
        {% block body_content %}

        {% endblock body_content %}




    </div>

    <!-- Optional JavaScript -->
   <script  type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>


    <footer>
      <p align="center">{% now 'Y' %} &copy; HOSTAYNI S.A.S. Todos los derechos reservados.</p>
    </footer>
</body>
</html>