{% extends "layout.html" %}
{% load bootstrap3 %}
{% load staticfiles %}
{% block title_tag %}Quienes somos | {{ block.super }}{% endblock %}
{% block body_content %}

<div class="container-main-title">
  <h2>POLÍTICAS Y PROCEDIMIENTOS PARA PROTECCIÓN DE LOS DATOS PERSONALES</h2>
</div>
<div class="container-main-info">
<p align="center">
    <h4>I. MARCO LEGAL (República de Colombia)</h4>
</p>
<p align="justify">

  <br/>

    <ul class="list-group">
        <li class="list-group-item">Constitución Política, artículo 15.</li>
        <li class="list-group-item">Ley 1266 de 2008.</li>
        <li class="list-group-item">Ley 1581 de 2012.</li>
        <li class="list-group-item">Decretos Reglamentarios 1727 de 2009, 2952 de 2010 y 1377 de
            2013
        </li>
        <li class="list-group-item">Sentencias de la Corte Constitucional C — 1011 de 2008, y
            C -748 del 2011
        </li>
    </ul>

<br/><hr/>
    <h4>II. PRINCIPIOS GENERALES Y POSTULADOS</h4>
<br/><br/>

<strong>HOSTAYNI S.A.S.</strong>, identificado con NIT. 901.104.666-0, domiciliada en la ciudad de Medellín,
  Antioquia; garantiza la protección de derechos como el Habeas Data, la privacidad, la intimidad,
  el buen nombre y la imagen, con tal propósito todas las actuaciones se regirán por principios
  de buena fe, legalidad, autodeterminación informática, libertad y transparencia.
  <br /><br />
Quien, en ejercicio de cualquier actividad, incluyendo, entes administrativos de la empresa,
proveedores, empleados, usuarios y terceros en general, pueda suministrar cualquier tipo de
información o dato personal a Hostayni, y en la cual esta actúe como encargada del tratamiento o
responsable del tratamiento podrá conocerla, actualizarla y rectificarla o solicitar su supresión.

 <br /><br />

<h4>i. Definiciones</h4>
De conformidad con la legislación vigente sobre la materia, se establecen las siguientes
definiciones, las cuales serán aplicadas e implementadas acogiendo los criterios de
interpretación que garanticen una aplicación sistemática e integral, y en consonancia
con los avances tecnológicos, la neutralidad tecnológica; y los demás principios y
postulados que rigen los derechos fundamentales que circundan, orbitan y rodean el
derecho de habeas data y protección de datos personales.
<br /><br />
<ul class="list-group">
        <li class="list-group-item"><strong>Autorización:</strong><br/>
            Consentimiento previo, expreso e informado del titular para llevar a cabo el Tratamiento de datos personales.
        </li>
        <li class="list-group-item"><strong>Base de datos:</strong><br/>
            Conjunto organizado de datos personales que sea objeto de Tratamiento.
        </li>
        <li class="list-group-item"><strong>Dato personal:</strong><br/>
            Cualquier información vinculada o que pueda asociarse a una o varias personas naturales determinadas o determinables.

        </li>
        <li class="list-group-item"><strong>Encargado del Tratamiento:</strong><br/>
            Persona natural o jurídica, pública o privada, que por sí misma o en asocio con otros, realice el tratamiento de datos personales por cuenta del responsable del tratamiento.

        </li>
        <li class="list-group-item"><strong>Responsable del Tratamiento:</strong><br/>
            Persona natural o jurídica, pública o privada, que por sí misma o en asocio con otros, decida sobre la base de datos y/o el tratamiento de los datos.
        </li>
        <li class="list-group-item"><strong>Titular:</strong><br/>
            Persona natural cuyos datos personales sean objeto de tratamiento.

        </li>
        <li class="list-group-item"><strong>Tratamiento:</strong><br/>
            Cualquier operación o conjunto de operaciones sobre datos personales, tales como la recolección, almacenamiento, uso, circulación o supresión.
        </li>
    </ul>

<br />

<h4>ii. Principios Específicos </h4>

Hostayni aplicará los siguientes principios específicos, los cuales constituyen las reglas a
seguir en la recolección, manejo, uso, tratamiento, almacenamiento e intercambio, de datos
personales:

<br /><br />

a) <strong>Principio de legalidad:</strong><br/>
    En el uso, captura, recolección y tratamiento de datos personales, se dará aplicación a las
disposiciones vigentes y aplicables que rigen el tratamiento de datos personales y demás
derechos fundamentales conexos.

<br /><br />

b) <strong>Principio de libertad:</strong><br/>
    El uso, captura, recolección y tratamiento de datos personales sólo puede llevarse a cabo
con el consentimiento, previo, expreso e informado del Titular. Los datos personales no
podrán ser obtenidos o divulgados sin previa autorización, o en ausencia de mandato legal,
estatutario, o judicial que releve el consentimiento

<br /><br />

c) <strong>Principio de finalidad:</strong><br/>
    El uso, captura, recolección y tratamiento de datos personales a los que tenga acceso y
sean acopiados y recolectados por Hostayni, estarán subordinados y atenderán una finalidad
legítima, la cual debe serle informada al respectivo titular de los datos personales.

<br /><br />

d) <strong>Principio de veracidad o calidad:</strong><br/>
    La información sujeta a uso, captura, recolección y tratamiento de datos personales
debe ser veraz, completa, exacta, actualizada, comprobable y comprensible.
Se prohíbe el Tratamiento de datos parciales, incompletos, fraccionados o que induzcan a error.

<br /><br />

e) <strong>Principio de transparencia:</strong><br/>
    En el uso, captura, recolección y tratamiento de datos personales debe garantizarse el
derecho del Titular a obtener en cualquier momento y sin restricciones, información acerca de
la existencia de cualquier tipo de dato personal que sea de su interés o titularidad.

<br /><br />

f) <strong>Principio de acceso y circulación restringida:</strong><br/>
    Los datos personales, salvo la información pública, no podrán estar disponibles en Internet u otros medios de divulgación o comunicación masiva, salvo que el acceso sea técnicamente controlable para brindar un conocimiento restringido sólo a los Titulares o terceros autorizados.

<br /><br />

g) <strong>Principio de seguridad:</strong><br/>
Los datos personales e información usada, capturada, recolectada y sujeta a tratamiento por HOSTAYNI, será objeto de protección en la medida en que los recursos técnicos y estándares mínimos así lo permitan, a través de la adopción de medidas tecnológicas de protección, protocolos, y todo tipo de medidas administrativas que sean necesarias para otorgar seguridad a los registros y repositorios electrónicos evitando su alteración, modificación, pérdida, consulta, y en general en contra de cualquier uso o acceso no autorizado.

<br /><br />

h) <strong>Principio de confidencialidad:</strong><br/>
Todas y cada una de las personas que administran, manejen, actualicen o tengan acceso a informaciones de cualquier tipo que se encuentre en la Bases de Datos de HOSTAYNI, se comprometen a conservar y mantener de manera estrictamente confidencial y no revelarla a terceros, todas las informaciones personales, comerciales, contables, técnicas  o de cualquier otro tipo suministradas en la ejecución y ejercicio de sus funciones, pudiendo solo realizar suministro o comunicación de datos personales cuando ello corresponda al desarrollo de las actividades autorizadas en la presente Ley y en los términos de la misma.

<br/><br/><hr/>
    <h4>III. DATO SENSIBLE</h4>
<br/><br/>
Se entiende por datos sensibles aquellos que afectan la intimidad del titular o cuyo uso indebido puede generar su discriminación, tales como aquellos que revelen el origen racial o étnico, la orientación política, las convicciones religiosas o filosóficas, la pertenencia a sindicatos, organizaciones sociales, de derechos humanos o que promueva intereses de cualquier partido político o que garanticen los derechos y garantías de partidos políticos de oposición así como los datos relativos a la salud, a la vida sexual y los datos biométricos, entre otros.

<br /><br />

<h4>i. Tratamiento de Datos Sensibles  </h4>
<br/><br/>
Se podrá hacer uso y tratamiento de los datos catalogados como sensibles cuando:

<br /><br />

a) El Titular haya dado su autorización explícita a dicho tratamiento, salvo en los casos que por ley no sea requerido el otorgamiento de dicha autorización.

<br /><br />
En estos eventos, se procederá de la siguiente forma:
<br/><br/>
HOSTAYNI informará a los Titulares de la información: <strong>(i)</strong> que por tratarse de
    este tipo de datos, no está obligado a autorizar su Tratamiento e <strong>(ii</strong>)
informará cuales Datos son Sensibles y la finalidad del Tratamiento.



b) El Tratamiento sea necesario para salvaguardar el interés vital del titular y este se encuentre física o jurídicamente incapacitado. En estos eventos, los representantes legales deberán otorgar su autorización.


<br /><br />


c) El Tratamiento sea efectuado en el curso de las actividades legítimas y con las debidas garantías por parte de una fundación, ONG, asociación o cualquier otro organismo sin ánimo de lucro, cuya finalidad sea política, filosófica, religiosa o sindical, siempre que se refieran exclusivamente a sus miembros o a las personas que mantengan contactos regulares por razón de su finalidad. En estos eventos, los datos no se podrán suministrar a terceros sin la autorización del titular.

<br /><br />

d) El Tratamiento se refiere a datos que sean necesarios para el reconocimiento, ejercicio o defensa de un derecho en un proceso judicial.

<br /><br />

e) El Tratamiento tenga una finalidad histórica, estadística o científica. En este evento deberán adoptarse las medidas conducentes a la supresión de identidad de los Titulares.


<br/><br/><hr/>
    <h4>IV. AUTORIZACIÓN</h4><br/>

Sin perjuicio de las excepciones previstas en la ley, en el tratamiento se requiere la autorización previa, expresa e informada del titular; esta será obtenida por medio un formato (Digital) a través del cual el titular podrá autorizar el tratamiento de sus datos personales por parte de HOSTAYNI,  y que pueda ser objeto de consulta y verificación posterior.
<br/>
<h4>i. Recolección de la Información</h4>

En desarrollo de los principios de finalidad y libertad HOSTAYNI, se limitará a solicitar aquellos datos personales que son estrictamente pertinentes y adecuados para las finalidades con que son recolectados para el cumplimiento del objeto social y las cuales están descritas en el siguiente numeral, igualmente no hará uso de medios engañosos o fraudulentos para recolectar y realizar tratamiento de datos personales.


<br /><br /><hr/>

<h4>V. FINALIDAD DEL TRATAMIENTO DE LOS DATOS</h4><br/>

Los datos personales que son recolectados por HOSTAYNI, para el adecuado desarrollo de su objeto social, tienen las siguientes finalidades:

<br /><br />



a) Realizar actividades de mercadeo, publicidad, y envío de información comercial referente a los servicios de Hostayni y de terceros a través de la plataforma, especialmente servicios de alojamiento, información turística, de negocios, de eventos, actividades culturales, lugares de interés, programas educativos, voluntariados, programas sociales, asesorías empresariales, entre otros.
<br /><br />


b) Transmitir los datos personales a terceros aliados con los que el usuario decida adquirir algún servicio a través de la plataforma dispuesta por Hostayni. Transmitir los datos personales


<br /><br />


c) Consolidar información de los tipos de visitantes que llegan a cada ciudad, con fines estadísticos y poder segmentar en beneficio del usuario de la plataforma dispuesta por Hostayni, cada uno de los servicios acorde a sus necesidades puntuales.


<br /><br />

d) Dar cumplimiento a las obligaciones que Hostayni pueda llegar a contraer con los usuarios de la plataforma y usuarios que adquieran servicios directamente prestados por Hostayni.

<br /><br />

La información suministrada por el titular de los datos a HOSTAYNI, por cualquier medio ya sea escrito, telefónico, en formato o formularios digitales o por correo, solo será utilizada para los fines aquí descritos y una vez cese la necesidad del Tratamiento de los Datos Personales, podrán ser eliminados de las bases de datos de HOSTAYNI o archivados en términos seguros a efectos de solo ser divulgados cuando la Ley así lo exija.
<br/><br/>
Es importante tener en cuenta que el derecho de supresión de los datos no es absoluto y el responsable puede negar el ejercicio del mismo cuando:
<br/><br/>

a) El titular tenga un deber legal o contractual, que de alguna manera lo obligue a permanecer en la base de datos.
<br /><br />
b) La eliminación de datos obstaculice actuaciones judiciales o administrativas vinculadas a obligaciones fiscales, la investigación y persecución de delitos o la actualización de sanciones administrativas.

<br /><br />
c) Los datos sean necesarios para proteger los intereses jurídicamente tutelados del titular; para realizar una acción en función del interés público, o para cumplir con una obligación legalmente adquirida por el titular.


<br /><br /><hr/>

<h4>VI. DERECHOS DE LOS TITULARES DE LA INFORMACIÓN</h4><br/>

En atención y en consonancia con lo dispuesto en la normatividad vigente y aplicable en materia de protección de datos personales, el titular de los Datos Personales tiene los siguientes derechos:

<br /><br />



a) Solicitar en cualquier momento a HOSTAYNI que su información sea rectificada, modificada, actualizada o eliminada.

<br /><br />


b) Solicitar prueba de la autorización para el tratamiento de datos, salvo lo previsto en la Ley 1581 de 2012, Decreto 1377 de 2013 y demás normas que los modifiquen o sustituyan.


<br /><br />


c) Ser informado por HOSTAYNI, previa solicitud, respecto de los usos aplicados a sus datos personales y/o datos sensibles.



<br /><br />

d) Con el cumplimiento de los requisitos legales, presentar ante la Superintendencia de Industria y Comercio quejas por infracciones conforme a lo dispuesto en la Ley 1581 de 2012, Decreto 1377 de 2013 y las demás normas que los modifiquen, adicionen o complementen.


<br /><br />

e) Revocar la autorización y/o solicitar la supresión de los datos y su administración, en casos de vulneración de los derechos y garantías constitucionales y legales.

<br /><br />

f) Acceder en forma gratuita a sus datos personales y/o datos sensibles suministrados a HOSTAYNI.

<br /><br />

g) Salvo en los casos expresamente autorizados, exigir la confidencialidad y la reserva de la información suministrada.



<br /><br /><hr/>

<h4>VII. PROCEDIMIENTOS ESTABLECIDOS PARA QUE LOS TITULARES EJERZAN SUS DERECHOS</h4><br/>

HOSTAYNI, garantizará el derecho de acceso cuando, previa acreditación de la identidad del titular, legitimidad, o personalidad de su representante, poniendo a disposición de éste, sin costo o erogación alguna, de manera pormenorizada y detallada, los respectivos datos personales a través de los medios establecidos por HOSTAYNI para dicho proceso.
<br /><br />

<h4>1. Procedimiento para Consultar, Actualizar, Rectificar o Suprimir Información:  </h4>


En cualquier momento y de manera gratuita el Titular o su representante podrán interponer ante HOSTAYNI, las consultas y reclamos de cualquier índole como: la rectificación, actualización o supresión de sus datos personales, previa acreditación de su identidad.
<br/><br/>
Los derechos de consulta, rectificación, actualización o supresión únicamente se podrán ejercer por:
<br/><br/>
a) El titular o sus causahabientes, previa acreditación de su identidad, o a través de instrumentos electrónicos que le permitan identificarse.
<br/><br/>
b) Su representante, previa acreditación de la representación.
<br/><br/>
La solicitud de rectificación, actualización o supresión debe ser presentada a través de un comunicado, sea éste transmitido por correo electrónico o escrito físico, que será presentado ante HOSTAYNI a través del correo electrónico info@hostayni.com o enviado a la siguiente dirección: Calle 4 A No. 29 C – 83 Interior 204 de la ciudad de Medellín, Colombia. El comunicado debe contener como mínimo la siguiente información:
<br/><br/>

<ul class="list-group">
    <li class="list-group-item">El nombre y domicilio del titular o cualquier otro medio para recibir la respuesta.</li>

    <li class="list-group-item">Copia de los documentos que acrediten la identidad o la personalidad de su representante.
</li>

    <li class="list-group-item">La descripción clara y precisa de los datos personales respecto de los cuales el titular busca ejercer alguno de los derechos de consulta, rectificación, actualización o supresión.
    </li>

    <li class="list-group-item">En caso dado otros elementos o documentos que faciliten la localización de los datos personales.</li>
</ul>
<br/><br/>
El departamento de servicio al cliente de HOSTAYNI es el área designada en la empresa para la atención de consultas y reclamos interpuestos por los titulares de los datos. Por lo tanto, cualquier consulta o reclamos debe ser dirigida a ésta área a través de los medios (correo electrónico o escrito físico) anteriormente descritos.
<br/><br/>

<h4>2. Procedimiento para Revocar la Autorización de Tratamiento de Datos Personales: </h4>

Los titulares de los datos personales pueden revocar el consentimiento al tratamiento de sus datos personales en cualquier momento, siempre y cuando no lo impida una disposición legal o contractual. Para ello, deberán seguir el mismo procedimiento estipulado en el punto inmediatamente anterior, y especificar en su comunicado la pretensión de que sea revocada la autorización de tratamiento de sus datos personales.

<br /><br /><hr/>

<h4>VIII. ÁREA ENCARGADA DEL TRATAMIENTO DE LOS DATOS PERSONALES</h4><br/>
<br /><br />
HOSTAYNI, designa al departamento de servicio al cliente como área responsable de atención al Titular,  para cumplir con la función de protección de datos personales, la cual dará trámite a las solicitudes de los titulares, para el ejercicio de los derechos de acceso, consulta, rectificación, actualización, supresión y revocatoria a que se refiere la normatividad vigente sobre protección de datos personales.
<br /><br />
El departamento de servicio al cliente de HOSTAYNI, estará disponible para que el Titular proceda con dichos tramites, en su domicilio ubicado en la Calle 4 A No. 29 C – 83 Interior 204 de la ciudad de Medellín, Colombia, en el teléfono (4) XXX XX XX o en el correo electrónico XXXXXX@XXXXX.com
<br /><br />
La consulta será atendida en un término máximo de diez (10) días contados a partir de la fecha de recibo de la misma. En caso de no ser posible atender la consulta en dicho término, se le informará al Titular, expresando los motivos de la demora y en ningún caso podrá superar los cinco (05) días hábiles siguientes al vencimiento del término.
<br /><br />
En caso de que el Titular de la información considere que su información contenida en una base de datos debe ser objeto de corrección, actualización o supresión, o cuando adviertan el presunto incumplimiento de los deberes que establece la ley, se podrá presentar un reclamo (según el procedimiento antes descrito).</p>
<br /><br />
Si el reclamo resulta incompleto, HOSTAYNI requerirá al interesado dentro de los cinco (05) días siguientes a la recepción del reclamo para que se subsane las fallas. Si transcurridos dos (02) meses desde la fecha del requerimiento, sin que el solicitante presente la información requerida, se entenderá que ha desistido del reclamo.
<br /><br />
Una vez recibido el reclamo, se incluirá en la base de datos una leyenda que diga “reclamo en trámite” y el motivo del mismo, en un término no mayor a dos (02) días hábiles.

<br /><br />
El término máximo para atender el reclamo será de quince (15) días hábiles contados a partir del día siguiente a la fecha de su recibo. Cuando no fuere posible atender el reclamo dentro de dicho término, se informará al interesado los motivos de la demora y la fecha en que se atenderá su reclamo, la cual en ningún caso podrá superar los ochos (08) días hábiles siguientes al vencimiento del término.
<br /><br />
Es pertinente aclarar que los titulares de la información o sus causahabientes sólo podrán elevar queja ante la Superintendencia de Industria y Comercio una vez hayan elevado trámite de consulta o reclamo ante HOSTAYNI y cuya respuesta no haya sido satisfactoria.

<br /><br /><hr/>

<h4>IX. DEBERES DE HOSTAYNI EN RELACIÓN CON EL TRATAMIENTO DE LOS DATOS PERSONALES</h4><br/>
<br /><br />
HOSTAYNI tendrá presente, en todo momento, que los Datos Personales son propiedad de las personas a las que se refieren y que sólo ellas pueden decidir sobre los mismos. En este sentido, hará uso de ellos sólo para aquellas finalidades para las que se encuentra facultado debidamente, respetando en todo caso la normatividad vigente sobre protección de datos personales.

<br /><br /><hr/>

<h4>X. DEBERES DE HOSTAYNI COMO RESPONSABLE DEL TRATAMIENTO DE DATOS PERSONALES</h4><br/>
<br /><br />
HOSTAYNI cuando actúe como Responsables del Tratamiento de datos personales, cumplirá con los siguientes deberes:
<br /><br />
a) Garantizar al Titular, en todo tiempo, el pleno y efectivo ejercicio del derecho de hábeas data.
<br /><br />
b) Solicitar y conservar, copia de la respectiva autorización otorgada por el titular.
<br /><br />
c) Informar debidamente al titular sobre la finalidad de la recolección y los derechos que le asisten por virtud de la autorización otorgada.

<br /><br />
d) Conservar la información bajo las condiciones de seguridad necesarias para impedir su alteración, pérdida, consulta, uso o acceso no autorizado o fraudulento.

<br /><br />
e)  Garantizar que la información que se suministre al encargado del tratamiento sea veraz, completa, exacta, actualizada, comprobable y comprensible.
<br /><br />
f) Actualizar la información, comunicando de forma oportuna al encargado del tratamiento, todas las novedades respecto de los datos que previamente le haya suministrado y adoptar las demás medidas necesarias para que la información suministrada a este se mantenga actualizada.

<br /><br />
g) Rectificar la información cuando sea incorrecta y comunicar lo pertinente al encargado del tratamiento.

<br /><br />
h) Suministrar al encargado del tratamiento, según el caso, únicamente datos cuyo Tratamiento esté previamente autorizado.
<br /><br />
i) Exigir al encargado del tratamiento en todo momento, el respeto a las condiciones de seguridad y privacidad de la información del Titular.
<br /><br />
j) Tramitar las consultas y reclamos formulados.

<br /><br />
k) Informar al encargado del tratamiento cuando determinada información se encuentra en discusión por parte del Titular, una vez se haya presentado la reclamación y no haya finalizado el trámite respectivo.

<br /><br />
l) Informar a solicitud del Titular sobre el uso dado a sus datos.

<br /><br />
m) Informar a la autoridad de protección de datos cuando se presenten violaciones a los códigos de seguridad y existan riesgos en la administración de la información de los Titulares.

<br /><br /><hr/>

<h4>XI. SEGURIDAD DE LA INFORMACIÓN</h4><br/>
<br /><br />
En desarrollo del principio de seguridad establecido en la normatividad vigente, HOSTAYNI,  adoptará las medidas técnicas, humanas y administrativas que sean necesarias para otorgar seguridad a los registros evitando su alteración, pérdida, consulta, uso o acceso no autorizado o fraudulento.

<br /><br /><hr/>

<h4>XII. VIGENCIA DE LAS POLÍTICAS</h4><br/>
<br /><br />

</div>

{% endblock %}
