{% extends "layout.html" %}
{% load staticfiles %}
<style>
  #post-container{

  }

</style>

{% block script %}
<script>
 // http://api.jquery.com/jquery.ajax/
 $(document).ready(function(){
     loadPostContainer("post-container")
 });
</script>
{% endblock script %}


{% block body_content %}



    <div class="result-post-search ">
        <div class="info-results-post">
            {% if request.GET.q %}
                <h1>Resultados para {{ request.GET.q }}</h1>
            {% endif %}
        </div>
        <div class="post-info-profile">
         {% include "posts/search_form.html" %} <br />


        {% comment %} Cargando post desde cualquier lado
        Con el data-url y el url del listado de posts (a quienes sigo en el sistema)
        le envio ese url a la llamada arriba de la funcion loadPostContainer("post-container") linea 14
        y esta es llamada alli (fue declarada en el layout.html) en donde se cargan todos los posts

            Este url es clave, es desde aqui en donde se toma el endpoint para ser enviado su URL y
            listarlo

        {% endcomment %}
        <hr/>
        <div class="history-post">
        <div class="results-title-posts">
            <h2>Comentarios</h2>
        </div>
        <div class="history-each-post" id="post-container" data-url="/api/search/">
            {% comment %}
                Con data-url="/api/post/ solo puedo buscar posts de personas a las que sigo
                Con data-url="/api/search/" buscare posts de personas asi no las siga, para
                lo cual crearemos un SearchApiView igual que PostListApiView
            {% endcomment %}

        </div>
        <div class="load-more-post">
          <a href="#" id="loadmore">Ver mas posts</a>
        </div>
        </div>
        </div>

        <div class="result-post-usuarios">
        <hr/>
        <div class="results-title-usuarios">
            <h2>Usuarios</h2>
        </div>
        <div class="results-usuarios-container">
            {% for user in users %}
                <a href='{% url 'accounts:detail' user.slug %}'> {{ user.full_name }} - {{ user.username }}</a><br />

                {% empty %}
                <p>Usuarios no encontrados</p>
            {% endfor %}
        </div>

        </div>

    </div>
{% endblock body_content %}
