<!-- Terms and conditions modal -->
<div class="modal fade" id="largeModal" tabindex="-1" role="dialog" aria-labelledby="largeModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 class="modal-title" id="myModalLabel">TÉRMINOS Y CONDICIONES</h2>
      </div>
      <div class="modal-body">
          <p align="justify">
              <strong>Hostayni S.A.S.</strong> es una sociedad por acciones simplificada constituida
              en Colombia y domiciliada en la ciudad de Medellín, que se encarga de promocionar
              prestación de servicios de terceros a través de su plataforma web, app y otros medios.<br />
              <br />
              Éstos servicios se refieren principalmente pero no se limitan a:
              alojamiento, entretenimiento, programas educativos, voluntariados,
              programas sociales y culturales, acompañamiento al turista.
          </p> <br />
          <h4>ALCANCE</h4>
          <p align="justify">
              Los presentes términos y condiciones están sujetos a cambios en cualquier momento y
              aplican para todos los servicios promocionados prestados a través terceros en la
              plataforma web, app y demás medios disponibles.
              <br /><br />Al registrarse y hacer uso (incluyendo simplemente navegar sin registro) de la
              plataforma web, app y demás medios disponibles, usted acepta los presentes términos
              y condiciones y confirma que los ha leído y entendido en su totalidad acogiéndose a las
              condiciones aquí informadas.
          </p> <br />
          <h4>DEFINICIONES</h4>
          <p align="justify">

            <ul class="list-group">
                <li class="list-group-item"><strong>"Hostayni"</strong> o <strong>Hostayni.com”:</strong>
                          <br />Hostayni S.A.S. sociedad por acciones simplificada domiciliada en Medellín, Colombia
                          y constituida bajo las leyes de ese país.</li>

                <li class="list-group-item"><strong>Plataforma</strong> <br />
                      se refiere a la página web, app y demás medios dispuestos, creados, actualizados y
                          controlados por Hostayni dónde está disponible el servicio.</li>

                <li class="list-group-item"><strong>Servicio</strong> <br />
                              hace referencia a los servicios de reservas a través de la plataforma y al
                  canal de comunicación que facilita Hostayni entre los usuarios y los terceros que los
                  promocionan a través de la plataforma.
                </li>
                <li class="list-group-item"><strong>Tercero</strong> <br />
                              Persona natural o jurídica diferente de Hostayni, que promociona y/o
                  publicita sus servicios a través de la plataforma. El tercero tiene una personalidad
                  jurídica diferente a Hostayni S.A.S. por lo tanto, responde directamente ante los
                  usuarios por los servicios que promociona a través de la plataforma.</li>

                <li class="list-group-item"><strong>Usuario</strong> <br />
                  persona natural o jurídica, que se registra y navega en la plataforma suministrando
                  sus datos personales para el uso del servicio prestado por Hostayni.
                </li>
            </ul>
          </p><br/>

          <h4>PRIVACIDAD Y TRATAMIENTO DE DATOS PERSONALES</h4>
          <p align="justify">
              Para Hostayni es de vital importancia respetar los derechos de los titulares de los
              datos personales suministrados a través de la plataforma. Por lo tanto, dispone de
              una serie de recursos humanos, técnicos y tecnológicos idóneos para la protección.</p>

          <p align="justify">Hostayni trata y usa los datos personales de los usuarios y terceros que lo han
              autorizado previamente. Lo anterior, conforme a la Ley Estatutaria 1581 de 2012
              y sus decretos reglamentarios en la República de Colombia.
              Consulte la política de privacidad y tratamiento de datos personales de Hostayni.</p>

          <p align="justify">
              Siempre en el texto de autorización para el tratamiento de datos, Hostayni informa
              al usuario o tercero las finalidades para las cuales recolecta los datos personales,
              los derechos que tiene el titular de los datos como: actualizarlos, corregirlos,
              rectificarlos o suprimirlos, y a través de cuales canales de comunicación puede ejercer
              tales derechos.
          </p>
          <br/>

          <h4>CONDUCTAS INAPROPIADAS- PROHIBICIONES PARA LOS USUARIOS</h4>
          <p align="justify">
              Los contenidos de la plataforma son de propiedad de Hostayni y los terceros que
              promocionan sus servicios en ésta. Por lo tanto, los usuarios no podrán transferir,
              distribuir, modificar, copiar, transmitir, mostrar, realizar, reproducir, publicar,
              otorgar licencia, crear trabajos derivados, vender o revender cualquier información, software, producto o servicio obtenido de la plataforma o a través de la plataforma. sólo podrán reproducir o copiar información en la medida de lo necesario para el disfrute del servicio adquirido..</p>




      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>
<!-- End Terms and conditions modal -->