{% extends "layout.html" %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block title_tag %} Iniciar Sesion en {{ block.super }}{% endblock %}

{% block script %}
    <script>
    /*
    $(document).ready(function () {
       //$("form input").addClass("form-control")
       $("form #id_username").attr("placeholder", "Correitsdsdsdsdsdsdsdsdsdsddso")
    });*/
    </script>
{% endblock script %}

{% block body_content %}
<div class="form-cont">
    <div class="main-login">
        <form class="form-login" action="{% url 'login' %}" method="POST">

          <div class="login-container">
            {% csrf_token %} <br/>
            {% comment %}
            {% bootstrap_form form %}
            {% endcomment %}

            {% bootstrap_field form.username %}
            {% bootstrap_field form.password %}


            <div class="submit-button-cont">
              <a href="../password_reset/">¿Olvidaste tu contraseña?</a>
                <div class="container-button-login">
                  <input type="image" src="{% static 'img/icons/ok.png' %}" alt="Submit" width="48" height="48">
                  <input type="submit" value="Iniciar Sesión" class="submit-button">
                </div>
            </div>
          </div>
        </form>
    </div>
    <div class="portrait">
      <div class="img-cont-login" style="background: url('{{ image.0  }}') no-repeat center; background-size:cover;">
      </div>
          <span>{{ image.1  }}</span>
    </div>


</div>
<div style="background: url('{{ image.0  }}') no-repeat center; background-size:cover;" class="form-cont-low">
    <div class="main-login">
        <form class="form-login" action="{% url 'login' %}" method="POST">

          <div class="login-container">
            {% csrf_token %} <br/>
            {% bootstrap_form form %}
            {% comment %}
            {% bootstrap_field form.username %}
            {% bootstrap_field form.password %}
            {% endcomment %}

            <div class="submit-button-cont">
              <a href="../password_reset/">¿Olvidaste tu contraseña?</a>
                <div>
                  <input type="image" src="{% static 'img/icons/ok.png' %}" alt="Submit" width="48" height="48">
                  <input type="submit" value="Iniciar Sesión" class="submit-button">
                </div>
            </div>
          </div>
        </form>
    </div>
    <div class="portrait">
      <div class="img-cont-login" style="background: url('{{ image.0  }}') no-repeat center; background-size:cover;">
      </div>
          <span>{{ image.1  }}</span>
    </div>
</div>

{% endblock %}
