{% extends "layout.html" %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block title_tag %}Contraseña Reestablecida | {{ block.super }}{% endblock %}
{% block top_logo %}
{% include "top-logo.html" %}
{% endblock %}
{% block body_content %}
<div class="container">
    <a href="/" class="logo-cont">
        <img src="{% static 'img/Logo-slogan-lg.png' %}">
    </a>
    <h1>¡Tu contraseña ha sido reestablecida!</h1>

    <p>Ahora puedes <a href="{% url 'login' %}">iniciar sesión</a>.</p>
</div>
{% endblock %}