{% extends "layout.html" %}
{% load staticfiles %}
{% block title_tag %}Correo de reestablecimiento de contraseña enviado | {{ block.super }}{% endblock %}

{% block body_content %}
<div class="container-reset-password">

    <div class="text-done">
    <p>Hemos enviado instrucciones a esa dirección de correo electrónico sobre cómo restablecer
        la contraseña asociada a ella.
        <br/>
        <br/>
        Sigue las instrucciones enviadas a este correo electrónico y podrás participar en hostayni
        ¡en muy poco tiempo!</p>
    </div>
</div>
{% endblock %}
