{% extends "layout.html" %}
{% load bootstrap3 %}
{% load staticfiles %}
{% block title_tag %} Escribe una nueva contraseña | {{ block.super }}{% endblock %}

{% block body_content %}
<div class="container-reset-confirm">

  <div class="title-reset-confirm">
    <h1>Asignate una nueva contraseña</h1>
  </div>
  <div class="form-reset-confirm">
    <form method="POST">
     {% csrf_token %}
     {% bootstrap_form form %}
     <input type="submit" value="Cambiar mi contraseña" class="btnResetConfirm">
    </form>
  </div>
</div>
{% endblock %}
