{% extends "layout.html" %}
{% load bootstrap3 %}
{% load staticfiles %}
{% block title_tag %} Escribe una nueva contraseña | {{ block.super }}{% endblock %}

{% block body_content %}
<div class="container">
    <a href="/" class="logo-cont">
        <img src="{% static 'img/Logo-slogan-lg.png' %}">
    </a>
    <h1>Asignate una nueva contraseña</h1>

    <form method="POST">
     {% csrf_token %}
     {% bootstrap_form form %}
     <input type="submit" value="Cambiar mi contraseña" class="btn btn-default">
    </form>
</div>
{% endblock %}