{% extends "layout.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block title_tag %} ¿Olvidaste tu contraseña? | {{ block.super }}{% endblock %}

{% block body_content %}
<div class="container">
    <a href="/" class="logo-cont">
        <img src="{% static 'img/Logo-slogan-lg.png' %}">
    </a>
    <h1>¿Olvidaste tu contraseña?</h1>
    <p>¡No hay problema! <br/> A cualquiera nos puede pasar. <br/> Ingresa la dirección de correo electrónico asociada a tu cuenta y te enviaremos instrucciones sobre cómo cambiar tu contraseña. </p>
    
    <form method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}

        <input type="submit" value="¡Enviarme instrucciones!" class="btn btn-default">
    </form>
</div>
{% endblock %}