{% extends "layout.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block title_tag %} ¿Olvidaste tu contraseña? | {{ block.super }}{% endblock %}

{% block body_content %}
<div class="container-reset-password">

  <div class="title-reset-password">
    <h1>¿Olvidaste tu contraseña?</h1>
  </div>
  <div class="texto-reset-password">
    <p>¡No hay problema! <br/> A cualquiera nos puede pasar. <br/> Ingresa la dirección de correo electrónico asociada a tu cuenta y te enviaremos instrucciones sobre cómo cambiar tu contraseña. </p>
  </div>
  <div class="form-reset-password">
    <form method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}

        <input type="submit" value="¡Enviarme instrucciones!" class="btnResetPassword">
    </form>
  </div>
</div>
{% endblock %}
