{% extends "layout.html" %}
{% load staticfiles %}
{% block title_tag %}Correo de reestablecimiento de contraseña enviado | {{ block.super }}{% endblock %}

{% block body_content %}
<div class="container">
    <a href="/" class="logo-cont">
        <img src="{% static 'img/Logo-slogan-lg.png' %}">
    </a>
    <h1>Revisa tu bandeja de entrada</h1>
    <p>Hemos enviado instrucciones a esa dirección de correo electrónico sobre cómo restablecer
        la contraseña asociada a ella, si hay una cuenta para esa dirección de correo electrónico.
        <br/>
        Sigue las instrucciones de ese correo electrónico y estarás publicando o aplicando a nuevas
        ofertas ¡en muy poco tiempo!</p>
</div>
{% endblock %}