.logo{
  width: 490.54px;
  height: 89.77px;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.logoTitle{
  background-color:	#FFFFFF;
  padding-left: 15.0px;
  padding-top: 10.0px;
  padding-bottom: 10.0px;
}
/*.imgLogoContainer{
  width: 219.53px;
  height: 55.59px;
}*/
.logoRed{
  background-color: #DEDC00;
  width: 490.54px;
  height: 29.73px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.logoFacebook{
  margin-top: 5.5px;
  margin-bottom: 5.5px;
  margin-right: 5px;
}
.completeMsg{
  background-color: #EBEBEA;
  border-radius: 25px;
  width: 593.98px;
  height: 880.76px;
}
.bodyMsg{
  /*margin-top: 30px;*/
  /*background-color: #FFFFFF;*/
  margin: 0;
}
.bodyPart1{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: auto;
  width: 490.72px;
  height: 421.16px;
  background-color: #FFFFFF;
  padding-top: 0px;
}
.titleSlogan{
  background-color:	#706F6F;
  height: 121.43px;
  font-family: "sans-serif";
}
.title{
  color: #FFFFFF;
  font-size: 40pt;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  margin: auto;
  text-align: center;
  width: 358px;
  height: 58px;
}
.slogan{
  color: #DEDC00;
  font-size: 12pt;
  font-family: "sans-serif";
  text-align: center;
  height: 33;
  font-family: 'Source Sans Pro', sans-serif;
}
.msgSaludo{
  margin-left: 50px;
  background-color: #FFFFFF;
}
.saludoHola{
  font-size: 14pt;
  font-family: 'Source Sans Pro', sans-serif;
}
.body1{
  text-align: left;
  font-family: 'Source Sans Pro', sans-serif;
}
.button {
  background-color: #DEDC00;
  border: none;
  color: #706F6F;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  /*display: inline-block;*/
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  font-family: 'Source Sans Pro', sans-serif;
}
.contButton{
  position:relative;
  left: 25%;
}
.body2{
  font-family: 'Source Sans Pro', sans-serif;
}
.footerUp{
  width: 490.72px;
  height: 169.64px;
  background-color: #FFFFFF;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-style: dashed;
  border-color: #DEDC00;
  border-width: thin;
}
.footerDown{
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #DEDC00;
  width: 490.72px;
  height: 69.24px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: auto;
}
.textFooterUp{
  font-size: 10pt;
  margin-left: 50px;
  padding-top: 10px;
  font-family: 'Source Sans Pro', sans-serif;
}
.iconsFooterUp{
  width: 416.44px;
  height: 88.69px;
  margin-left: 50px;
  font-family: 'Source Sans Pro', sans-serif;
}
.iconServices{
  width: 69.33px;
  height: 88.69px;
  margin: 0;
  display: inline-block;
  float: left;
}
.iconImageHost{
  display: block;
  margin: 0 auto;
  margin-top: 5px;
}
.iconTextHost{
  text-align: center;
  text-decoration: underline;
  margin-top: 2px;
  color: #006633;
  font-size: 7pt;
}
.iconImageLearn{
  display: block;
  margin: 0 auto;
  margin-top: 25px;
}
.iconTextLearn{
  text-align: center;
  text-decoration: underline;
  margin-top: 2px;
  color: #E94E1B;
  font-size: 7pt;
}
.iconImageInnovacion{
  display: block;
  margin: 0 auto;
  margin-top: 5px;
}
.iconTextInnovacion{
  text-align: center;
  text-decoration: underline;
  margin-top: 2px;
  color: #1D71B8;
  font-size: 7pt;
}
.iconImageEntretenimiento{
  display: block;
  margin: 0 auto;
  margin-top: 25px;
}
.iconTextEntretenimiento{
  text-align: center;
  text-decoration: underline;
  margin-top: 2px;
  color: #D93382;
  font-size: 7pt;
}
.iconImageSocial{
  display: block;
  margin: 0 auto;
  margin-top: 5px;
}
.iconTextSocial{
  text-align: center;
  text-decoration: underline;
  margin-top: 2px;
  color: #F39325;
  font-size: 7pt;
}
.iconImageVida{
  display: block;
  margin: 0 auto;
  margin-top: 25px;
}
.iconTextVida{
  text-align: center;
  text-decoration: underline;
  margin-top: 2px;
  color: #3F4E55;
  font-size: 7pt;
}
.iconBackHost{
  background-color: green;
}