{% extends "layout.html" %}

{% block script %}
<script>
 // http://api.jquery.com/jquery.ajax/
 $(document).ready(function(){
     loadPostContainer("post-container")
 });
</script>
{% endblock script %}

{% block body_content %}

<!-- Columna a la derecha -->
<div class="search-column">
    <div class="profile-extras">
        <!-- botones para crear ofertas -->
        <div class="offert-buttons">
                <h3>Crear oferta</h3>
                <div>
                    <a href="#"><img src="img/icons/hosting.svg" alt=""></a>
                    <a href="#"><img src="img/icons/learn.svg" alt=""></a>
                    <a href="#"><img src="img/icons/innovate.svg" alt=""></a>
                    <a href="#"><img src="img/icons/enjoy.svg" alt=""></a>
                    <a href="#"><img src="img/icons/social.svg" alt=""></a>
                    <a href="#"><img src="img/icons/life.svg" alt=""></a>
                </div>

        </div>
        <!-- //Mis lugares  -->
        <div class="places">
            <div class="button">
                <img src="img/icons/pin.svg">
                <span>Lugares</span>
            </div>
            <div class="myPlaces-search">
                <!-- En este input se selecciona una de las ciudades a las que ha ido y a continuación se filtra por tipo de oferta -->
                <select name="user-places">
                    <option value="Medellín">Medellín, Colombia</option>
                </select>
                <img src="img/icons/hosting.svg" alt="">
                <img src="img/icons/learn.svg" alt="">
                <img src="img/icons/innovate.svg" alt="">
                <img src="img/icons/life.svg" alt="">
                <img src="img/icons/enjoy.svg" alt="">
                <img src="img/icons/social.svg" alt="">
            </div>
            <div id="myPlaces-result">
                <!-- Cuidado con la clase "learn" debe ser agregada dinámicamente desde el servidor de acuerdo al la categoría -->
                <div class="place learn">
                    <div class="title">
                        <img src="img/icons/learn-lines.svg" alt="">
                        <h3>Universidad eafit</h3>
                    </div>
                    <div class="img" style="background: url(img/appoinment.jpg) no-repeat center; background-size:cover;">
                        <div class="info">
                            <div class="cont">
                                <!-- Link para verlo en el mapa -->
                                <a href="#">
                                    <img src="img/icons/go-to-map.svg" alt="">
                                </a>
                                <div class="rating">
                                    <img src="img/stars.svg" alt="">
                                    <span>355 Valoraciones</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="place life">
                    <div class="title">
                        <img src="img/icons/life-lines.svg" alt="">
                        <h3>Restaurante El Poblado</h3>
                    </div>
                    <div class="img" style="background: url(img/appoinment.jpg) no-repeat center; background-size:cover;">
                        <div class="info">
                            <div class="cont">
                                <a href="#">
                                    <img src="img/icons/go-to-map.svg" alt="">
                                </a>
                                <div class="rating">
                                    <img src="img/stars.svg" alt="">
                                    <span>355 Valoraciones</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="place learn">
                    <div class="title">
                        <img src="img/icons/learn-lines.svg" alt="">
                        <h3>Universidad eafit</h3>
                    </div>
                    <div class="img" style="background: url(img/appoinment.jpg) no-repeat center; background-size:cover;">
                        <div class="info">
                            <div class="cont">
                                <!-- Link para verlo en el mapa -->
                                <a href="#">
                                    <img src="img/icons/go-to-map.svg" alt="">
                                </a>
                                <div class="rating">
                                    <img src="img/stars.svg" alt="">
                                    <span>355 Valoraciones</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="place life">
                    <div class="title">
                        <img src="img/icons/life-lines.svg" alt="">
                        <h3>Restaurante El Poblado</h3>
                    </div>
                    <div class="img" style="background: url(img/appoinment.jpg) no-repeat center; background-size:cover;">
                        <div class="info">
                            <div class="cont">
                                <a href="#">
                                    <img src="img/icons/go-to-map.svg" alt="">
                                </a>
                                <div class="rating">
                                    <img src="img/stars.svg" alt="">
                                    <span>355 Valoraciones</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- //Mis lugares  -->

        <!-- Entradas de blog -->
        <div class="blog">
            <div class="button">
                <img src="img/icons/blog.svg">
                <span>Blog</span>
            </div>
            <div id="blog-scroll">
                <div class="blog-entry">
                    <!-- Título del blog -->
                    <a class="title" href="#">Mi experiencia en Londres, viaje educativo a la ciudad</a>
                    <div class="views">
                        <img src="img/icons/views.svg" alt="">
                        <span>543</span>
                    </div>
                    <div class="rating">
                        <img src="img/stars.svg" alt="">
                        <span>124</span>
                    </div>
                </div>
                <div class="blog-entry">
                    <!-- Título del blog -->
                    <a class="title" href="#">Mi experiencia en Londres, viaje educativo a la ciudad</a>
                    <div class="views">
                        <img src="img/icons/views.svg" alt="">
                        <span>543</span>
                    </div>
                    <div class="rating">
                        <img src="img/stars.svg" alt="">
                        <span>124</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //Columna a la derecha -->

<!-- información del usuario (columna a la izquierda) -->
<div class="profile-info grey-background">
    <div class="main-info">
        <div class="img-cont">
            <img src="img/profile.png" alt="">
        </div>
        <div class="name-cont">
            <div>
                <p>Juanito Juanes</p>
                <span>Estudiante</span>
            </div>
            <!-- estado del usuario (online-offline) -->
            <i class="status"><img src="img/icons/online.svg" alt=""></i>
        </div>
        <div class="info-cont basic">
            <p><i><img src="img/icons/col-flag.svg" alt=""></i>Medellin, Colombia</p>
            <p><i></i>32 años</p>
            <p><i><img src="img/icons/lang.svg" alt=""></i>Español</p>
        </div>
        <div class="info-cont">
            <p class="subtitle"><i></i>Actualmente en:</p>
            <span><i><img src="img/icons/col-flag.svg" alt=""></i>Medellín, Colombia</span>
        </div>
        <div class="host-types">
            <p class="hosting"><i></i>Stayhost</p>
            <p class="innovate"><i></i>Innovatehost</p>
        </div>
    </div>

    <div class="secondary-info">
        <div class="field-cont">
            <h3><i></i>Formación</h3>
            <div class="info-cont">
                <p class="subtitle"><i></i>En curso</p>
                <p><i></i>Ingeniería Biomédica</p>
                <span><i></i>Universidad EAFIT</span>
            </div>
            <div class="info-cont">
                <p class="subtitle"><i></i>Completado</p>
                <p><i></i>Ph.D.</p>
                <span><i></i>Stanford University</span>
            </div>
            <div class="info-cont">
                <p class="subtitle"><i></i>Intereses</p>
                <span><i></i>Ingeniería Biomédica</span>
            </div>
        </div>
        <div class="field-cont">
            <h3><i></i>Mis viajes</h3>
            <div class="info-cont mb4">
                <span><i></i>Medellín, Colombia</span>
                <span><i></i>Londres, Reino Unido</span>
            </div>
        </div>
    </div>
</div>
<!-- información del usuario (columna a la izquierda) -->

<!-- Contenido principal (actividad-posts de usuario) -->
<div id="user-activity-main">
    <div class="post-form grey-background">
        <form action="POST">
            <div class="post-content-cont">
                <textarea class="post-content" name="post-content" placeholder="Comparte con nosotros"></textarea>
                <!-- boton para compartir una locación -->
            </div>
            <div class="photos-cont">
                <input type="file" class="post-photo" id="post-photo" name="post-photo" accept="image/*" data-multiple-caption="{count} archivos" multiple="">
                <label for="post-photo">
                    <img src="img/icons/green-photo-upload.svg" alt="">
                </label>
                <a class="pin-location" href="">
                    <img src="img/icons/green-pin.svg" alt="">
                </a>
            </div>
        </form>
    </div>
    <!-- Actividad de usuario -->
    <div class="user-activity rating">
        <div class="user-info">
            <div class="img">
                <a href="#">
                    <img src="img/profile.png" alt="">
                </a>
            </div>
            <div class="name-time-cont">
                <a href="#" class="name">Juanito Juanes</a>
                <a href="#" class="time">
                    <span>hace</span>
                    <span>1</span>
                    <span>hora</span>
                </a>
            </div>
        </div>
        <div class="body">
            <p>
                Ha valorado
                <span class="object">el restaurante</span>
                <a href="#" class="object-name">Mirador Mede</a> con una calificación de&nbsp
                <img src="img/grey-stars.svg" alt="">
            </p>
        </div>
        <div class="place-img" style="background: url(img/medellin.jpg) no-repeat center; background-size:cover;">
            <div class="place-info">
                <div class="info-cont">
                    <div class="actions">
                        <a class="go-to-map" href="#" title="Ver en mapa"><img src="img/icons/go-to-map.svg" alt=""></a>
                    </div>
                    <div class="review">
                        <img src="img/stars.svg" alt="">
                        <div class="average">
                            <span>546</span>
                            <span>valoraciones</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- // Actividad de usuario -->
    <div class="user-activity rating">
        <div class="user-info">
            <div class="img">
                <a href="#">
                    <img src="img/profile.png" alt="">
                </a>
            </div>
            <div class="name-time-cont">
                <a href="#" class="name">Juanito Juanes</a>
                <a href="#" class="time">
                    <span>hace</span>
                    <span>1</span>
                    <span>hora</span>
                </a>
            </div>
        </div>
        <div class="body">
            <p>
                Ha valorado
                <span class="object">el restaurante</span>
                <a href="#" class="object-name">Mirador Mede</a> con una calificación de&nbsp
                <img src="img/grey-stars.svg" alt="">
            </p>
        </div>
        <div class="place-img" style="background: url(img/medellin.jpg) no-repeat center; background-size:cover;">
            <div class="place-info">
                <div class="info-cont">
                    <div class="actions">
                        <a class="go-to-map" href="#" title="Ver en mapa"><img src="img/icons/go-to-map.svg" alt=""></a>
                    </div>
                    <div class="review">
                        <img src="img/stars.svg" alt="">
                        <div class="average">
                            <span>546</span>
                            <span>valoraciones</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- // Actividad de usuario -->
    <div class="user-activity rating">
        <div class="user-info">
            <div class="img">
                <a href="#">
                    <img src="img/profile.png" alt="">
                </a>
            </div>
            <div class="name-time-cont">
                <a href="#" class="name">Juanito Juanes</a>
                <a href="#" class="time">
                    <span>hace</span>
                    <span>1</span>
                    <span>hora</span>
                </a>
            </div>
        </div>
        <div class="body">
            <p>
                Ha valorado
                <span class="object">el restaurante</span>
                <a href="#" class="object-name">Mirador Mede</a> con una calificación de&nbsp
                <img src="img/grey-stars.svg" alt="">
            </p>
        </div>
        <div class="place-img" style="background: url(img/medellin.jpg) no-repeat center; background-size:cover;">
            <div class="place-info">
                <div class="info-cont">
                    <div class="actions">
                        <a class="go-to-map" href="#" title="Ver en mapa"><img src="img/icons/go-to-map.svg" alt=""></a>
                    </div>
                    <div class="review">
                        <img src="img/stars.svg" alt="">
                        <div class="average">
                            <span>546</span>
                            <span>valoraciones</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- // Actividad de usuario -->
    <!-- Actividad de usuario -->
    <div class="user-activity rating">
        <div class="user-info">
            <div class="img">
                <a href="#">
                    <img src="img/profile.png" alt="">
                </a>
            </div>
            <div class="name-time-cont">
                <a href="#" class="name">Juanito Juanes</a>
                <a href="#" class="time">
                    <span>hace</span>
                    <span>1</span>
                    <span>hora</span>
                </a>
            </div>
        </div>
        <div class="body">
            <p>
                Ha valorado
                <span class="object">el restaurante</span>
                <a href="#" class="object-name">Mirador Mede</a> con una calificación de&nbsp
                <img src="img/grey-stars.svg" alt="">
            </p>
        </div>
        <div class="place-img" style="background: url(img/medellin.jpg) no-repeat center; background-size:cover;">
            <div class="place-info">
                <div class="info-cont">
                    <div class="actions">
                        <a class="go-to-map" href="#" title="Ver en mapa"><img src="img/icons/go-to-map.svg" alt=""></a>
                    </div>
                    <div class="review">
                        <img src="img/stars.svg" alt="">
                        <div class="average">
                            <span>546</span>
                            <span>valoraciones</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- // Actividad de usuario -->
</div>
<!-- //Contenido principal (posts de usuario) -->


{% endblock body_content %}