{% extends "layout.html" %}
{% load staticfiles %}

{% block script %}
<script>
 // http://api.jquery.com/jquery.ajax/
 $(document).ready(function(){
     loadPostContainer("post-container")
 });
</script>
{% endblock script %}

{% block body_content %}

<!-- PROFILE INFO CONTAINER -->
<div class="profile-info-container">
    <!-- DETAILS PROFILE USER -->
    <div class="full-column-profile">
    <div class="column-profile-detail">
      {% if object.profile.user.user_type == "P"  %}
        <div class="img-profile">
          {% if object.profile.user.avatar %}
                <img src="{{ object.profile.user.avatar.url }}" width="100" height="100" class="img-responsive">
          {% else %}
                <img src="{% static 'img/default_profile_pic.png' %}" class="img-responsive">
          {% endif %}
        </div>
        <div class="nombre-profile">
          <!--Validando que no me parezca para seguirme a mi mismo-->
          {% if object.profile.user.slug != userprofile.user.slug %}
          <p>
              <a href='{{ object.profile.get_follow_url }}'>
                  {% if following %}
                      Unfollow
                  {% else %}
                      Follow
                  {% endif %}
              </a>

          </p>
          {% endif %}
        </div>
        <div class="nombre-profile">
          <p> <b> {{ object.profile.user.first_name }} {{ object.profile.user.last_name }} </b> </p>
        </div>
        <div class="lugar-nacimiento-profile">
          <!-- Los paises de los usuarios estan guardados en bd con
           codigo de paises, por ejemplo Colombia es CO ... hay que mirar
           como representarlos o estandarizarlos o mostrarlos asi cosa
           que no es muy viable-->
          {% if object.profile.user.country_of_origin == "CO" %}
              <p>{{ object.profile.user.city_of_origin }}, Colombia</p>
          {% endif %}
        </div>
        <div class="fecha-nacimiento-profile">
          <p>{{ object.profile.user.date_of_birth }}</p>
        </div>
        <div class="idiomas-profile">
          <div class="idioma-icon">
            <img src="{% static 'img/icons/lang.svg' %}" alt="">
          </div>
          <div class="idioma-text">
            {% for language in speak_languages %}
                <p> {{ language }} </p>
            {% endfor %}
          </div>
        </div>
        <div class="lugar-residencia-profile">
          <p> <b>Actualmente en:</b> </p>
            <p> {{ object.profile.user.city_current_residence }}</p>
        </div>
        <hr width="100%" size="10" noshade>
        <div class="datos-contacto-profile">
            <b>Datos de contacto:</b></br>
            <p> {{ object.profile.user.email }} </p>
            <p> {{ object.profile.user.phone_number }} </p>
            <p> {{ object.profile.user.address }} </p>
        </div>
        <hr width="100%" size="10" noshade>
        <div class="biografia-profile">
          <p> <b> Biografia: </b> </p>
          <p> {{ object.profile.user.biography }} </p>
        </div>
        <hr width="100%" size="10" noshade>
        <div class="roles-profile">
          <p> <b> Roles: </b> </p>
          {% if object.profile.user.is_student %}
               <p> Estudiante </p>
          {% endif %}
          {% if object.profile.user.is_professor %}
               <p> Profesor </p>
          {% endif %}
          {% if object.profile.user.is_executive %}
               <p> Ejecutivo </p>
          {% endif %}
          {% if object.profile.user.is_study_host %}
               <p> Anfitrion de estudios </p>
          {% endif %}
          {% if object.profile.user.is_entrepreneurship_host %}
               <p> Anfitrion de Emprendimiento </p>
          {% endif %}
          {% if object.profile.user.is_hosting_host %}
               <p> Anfitrion de alojamiento </p>
          {% endif %}
          {% if object.profile.user.is_ayni_host %}
               <p> Anfitrión de AYNI </p>
          {% endif %}
          {% if object.profile.user.is_daily_life_host %}
               <p> Anfitrión de servicios de vida diaria</p>
          {% endif %}
        </div>
        <hr width="100%" size="10" noshade>
        <div class="act-entretenimiento-profile">
          <p> <b> Entretenimiento: </b></p>
          {% for activities in entertainment_activities %}
              <p> {{ activities }} </p>
          {% endfor %}
        </div>
      {% endif %}

      {% if object.profile.user.user_type == "O"  %}
        <div class="img-profile">
          {% if object.profile.user.avatar %}
                <img src="{{ object.profile.user.avatar.url }}" width="100" height="100" class="img-responsive">
          {% else %}
                <img src="{% static 'img/default_profile_pic.png' %}" class="img-responsive">
          {% endif %}
        </div>
          <div class="nombre-profile">
          <!--Validando que no me parezca para seguirme a mi mismo-->
          {% if object.profile.user.slug != userprofile.user.slug %}
          <p>
              <a href='{{ object.profile.get_follow_url }}'>
                  {% if following %}
                      Unfollow
                  {% else %}
                      Follow
                  {% endif %}
              </a>

          </p>
          {% endif %}
        </div>
        <div class="nombre-profile">
          <p> <b> {{ object.profile.user.enterprise_name }} </b> </p>
        </div>
        <div class="fecha-nacimiento-profile">
          <p> {{ object.profile.user.creation_date }} </p>
        </div>
        <hr width="100%" size="10" noshade>
        <div class="datos-contacto-profile">
            <b>Datos de contacto:</b></br>
            <p> {{ object.profile.user.address }} </p>
        </div>
        <hr width="100%" size="10" noshade>
        <div class="biografia-profile">
          <p> <b> Descripción: </b> </p>
          <p> {{ object.profile.user.description }} </p>
        </div>
        <hr width="100%" size="10" noshade>
        <div class="roles-profile">
          <p> <b> Roles: </b> </p>
          {% if object.profile.user.is_student %}
               <p> Estudiante </p>
          {% endif %}
          {% if object.profile.user.is_professor %}
               <p> Profesor </p>
          {% endif %}
          {% if object.profile.user.is_executive %}
               <p> Ejecutivo </p>
          {% endif %}
          {% if object.profile.user.is_study_host %}
               <p> Anfitrion de estudios </p>
          {% endif %}
          {% if object.profile.user.is_entrepreneurship_host %}
               <p> Anfitrion de Emprendimiento </p>
          {% endif %}
          {% if object.profile.user.is_hosting_host %}
               <p> Anfitrion de alojamiento </p>
          {% endif %}
          {% if object.profile.user.is_ayni_host %}
               <p> Anfitrión de AYNI </p>
          {% endif %}
          {% if object.profile.user.is_daily_life_host %}
               <p> Anfitrión de servicios de vida diaria</p>
          {% endif %}
        </div>

      {% endif %}

      {% comment %}

      {% if object.profile.user.gender == "M"  %}
      Genero: Masculino
      {% elif object.profile.user.gender == "F" %}
      Genero: Femenino
      {% endif %}

      {% endcomment %}

    </div>
    </div>

    <!-- INFORMATION OF POST AND ACTIVITY OF THE PROFILE -->
    <div class="post-info-profile">
      <div class="actividad-post">
          <p>Número de contactos: {{ object.followed_by.all.count }}</p>

      <hr/>
      </div>

      <div class="followed-by">
        <h4>Contactos el usuario</h4>
            {% for profile in object.followed_by.all %}
                <a href='../{{ profile.user.slug }}'>{{ profile.user.slug }}</a><br /><br />
            {% empty %}
                <p>El usuario no tiene contactos aún</p>
            {% endfor %}

        <hr/>
      </div>

      <div class="search-post">
        {% include "posts/search_form.html" %}
      </div>

      <div class="publish-post">
        {% if not request.GET.q %}
                {% include "posts/form.html" with form=create_form action_url=create_url btn_title='Post' form_class='post-form' %}
        {% endif %}
      </div>

      <div class="history-post">
        <div class="history-each-post" id="post-container" data-url="/api/{{ object.username }}/post/">

        </div>
        <a href="#" id="loadmore">Ver mas posts</a>
      </div>

    </div>
</div> <!-- PROFILE INFO CONTAINER -->
{% endblock body_content %}
