{% extends "layout.html" %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load staticfiles %}
{% block title_tag %}Crear un artículo en {{ block.super }}{% endblock %}


{% block body_content %}
<div class="offert-form">
    <h1>
    {% if not form.instance.slug %}
        {{ form.ad }}
      {% else %}
      Actualizar artículo
      {% endif %}
    </h1>

    <form class="stayhost" method="POST" enctype="multipart/form-data" action="">
    <div class="head">
        <div class="ofert-icon">
          <img src="{% static 'img/icons/lang.svg' %}" alt="">
          <div class="title">
            <h2>Contenidos</h2>
            <span>Crear un Artículo</span>
          </div>
        </div>
        <div class="submit-button-cont">
            <div>
              <input type="image" src="{% static 'img/icons/ok.png' %}" alt="Submit" width="48" height="48">
              <input type="submit" value="Guardar" class="submit-button">
            </div>
        </div>
    </div>
    {% csrf_token %}
        {% bootstrap_field form.title %}
        {% bootstrap_field form.content %}
        {% bootstrap_field form.category %}
        {% bootstrap_field form.image %}

    </form>
</div>
{% endblock %}