{% extends "layout.html" %}

{% block body_content %}

<div class="container-confirm-myarticles">
    <form class="form-confirm-myarticles" action="" method="post">
        {% csrf_token %}
        <div class="title-confirm-myarticles">
          <p>¿ Estas seguro que deseas borrar el artículo "{{ object }}" ?</p>
        </div>
        <div class="buttons-confirm-myarticles">
          <input class='btn btn-danger' type="submit" value="Confirmar" />
          <div class="button-confirm-myarticles-cancel">
            <div class="cancel-text">
              <a href="{% url 'articles:list' object.author.slug %}">Cancel</a>
            </div>
          </div>
        </div>
  </form>

</div>
{% endblock %}
