{% extends 'layout.html' %}

{% block title_tag %}Articles created | {{ block.super }}{% endblock %}

{% block body_content %}

<div class="container-myarticles">
 <div class="panel-myarticles panel-default">
 <!-- Default panel contents -->
  <div class="panel-heading">Mis Artículos
      &nbsp;&nbsp;&nbsp;&nbsp;| &nbsp;&nbsp;&nbsp;&nbsp;
       <a href = "{% url 'articles:new' %}">Crear artículo</a>
  </div>
   <!-- Table -->
   <table class="table">
    <tr>
     <th>Artículo</th>
     <th>Acciones</th>
    </tr>
  {% for article in articles %}
    <tr>
     <td>
      <h5><a href="{% url 'articles:detail' article.slug %}">{{ article.title }}</a>
     </td>
     <td>
     <!-- <p><a class='btn btn-warning' href = "{% url 'articles:update' article.slug %}">Update</a>-->
     <p><a class="glyphicon glyphicon-pencil" aria-hidden="true" href = "{% url 'articles:update' article.slug %}"></a>
         &nbsp;&nbsp;&nbsp;&nbsp;| &nbsp;&nbsp;&nbsp;&nbsp;
     <a class='glyphicon glyphicon-trash' href = "{% url 'articles:article_remove' article.slug %}"></a>
   <!-- <a class='btn btn-danger' href = "{% url 'articles:article_remove' article.slug %}">Delete</a> -->
    </p>
     </td>
    {% endfor %}
   </table>
 </div>
</div>
{% endblock %}
