{% extends 'layout.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block body_content %}

<br/><br/><br/><br/><br/><br/>
<a href="{% url 'host:edit_lodging_offer_uploads_image' slug=lodging_offer_image.lodging_offer.slug %}">Agregar más imágenes a esta oferta</a>
&nbsp;&nbsp;&nbsp;&nbsp;| &nbsp;&nbsp;&nbsp;&nbsp;
<a href="{% url 'host:detail' slug=lodging_offer_image.lodging_offer.slug %}">Regresar a oferta</a>
<h2>Editar imágen</h2>
<form role="form" action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    {% bootstrap_form form %}

    <div class="submit-button-cont">
        <div>
          <input type="image" src="{% static 'img/icons/ok.png' %}" alt="Submit" width="48" height="48">
          <input type="submit" value="Actualizar" class="submit-button">
        </div>
    </div>
</form>
{% endblock %}