{% extends 'layout.html' %}
{% load bootstrap3 %}
{% block title_tag %}{{ lodgingofferdelete.ad_title }} | {{ block.super }}{% endblock %}
{% block top_logo %}
{% include "top-logo.html" %}
{% endblock %}
{% block body_content %}

<div class="container">
    <h1>¿ Estas seguro que deseas borrar la oferta {{ lodgingofferdelete.ad_title }} ?</h1>
    <form method="post">
        {% csrf_token %}
        <input type="submit" class="btn btn-danger" value="Eliminar">
        <a href="{% url 'host:list' lodgingofferdelete.created_by.slug %}">Cancelar</a>
    </form>

    
</div>

{% endblock %}