{% extends 'layout.html' %}
{% load staticfiles %}
{% block title_tag %}Studies Offert Search | {{ block.super }}{% endblock %}
{% block body_content %}

<div class="offert-form">
  <form class="stayhost" action="." method="get">
    <div class="head">
      <div class="ofert-icon">
        <img src="{% static 'img/icons/search.svg' %}" alt="">
        <div class="title">
          <h2>Learnhost</h2>
          <span>Search</span>
        </div>
      </div>
      
      <div class="submit-button-cont">
              <div>
                <input type="image" src="{% static 'img/icons/ok.png' %}" alt="Submit" width="48" height="48">
                <input type="submit" value="Search" class="submit-button">
              </div>
            </div>
    </div>
    {% csrf_token %}
    <div class="formgroup">
      <span></span>
        {{ form.query }}
    </div> 
  </form>
  {% if "query" in request.GET %}<br />
  <div class="main">
    <p><h3>Studies Offers containing: "{{ cd.query }}"</h3></p>
    <span>Found {{ total_results }} result{{ total_results|pluralize }}</span>
  </div>
  <br /><br />
  <table>
    <tbody>
      <tr>
        <th>Study Offer Title</th>    
        <th>Institution</th>    
        <th>Knowledge Topics</th>    
        <th>Location</th>    
      </tr>
      {% for result in results %}
          {% with studyoffer=result.object %}
        <tr>
          <td><a href="{% url 'host:studyoffertdetail' studyoffer.pk %}">{{ studyoffer.ad_title }}</a></td>
          <td>{{ studyoffer.created_by.first_name }}, {{ studyoffer.institute_character }}</td>
          <td>{{ studyoffer.knowledge_topics.all|join:", " }}</td>
          <td>{{ studyoffer.city }}, {{ studyoffer.country }}</td>
        </tr>
        {% endwith %}
        {% empty %}
          <p>There are no results for your query.</p>
      {% endfor %}   
    </tbody>
  </table>
  {% endif %}
</div>
{% endblock %}



