{% extends 'layout.html' %}
{% load staticfiles %}

{% block title_tag %}{{ lodgingofferdetail.ad_title }} | {{ block.super }}{% endblock %}
{% block body_content %}


<div class="container">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      {% for upload in uploads %}
      <li data-target="#carousel-example-generic" data-slide-to="{{ forloop.counter }}"{% if forloop.first %}class="active"{% endif %}>
      </li>
      {% endfor %}
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      {% for upload in uploads %}
          <div class="item {% if forloop.first %}active{% endif %}">
            <img src="{{ upload.image.url }}" width="auto" height="auto"  alt="">
          </div>
      {% endfor %}
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<div class="detail-study-container">
  <main class="main-detail-study">
    <div class="acomodacion-study">
      <h4>{{ studyofferdetail.studies_type_offered }}</h2>
    </div>
    <div class="title-cont-study">
      <h1>{{ studyofferdetail.ad_title }}</h1>
    </div>
    <div class="study-location-title">
      <div class="study-location">
        <span>{{ studyofferdetail.address }}, {{ studyofferdetail.city }} - {{ studyofferdetail.country }}</span>
      </div>
      <div class="study-price">
        <span>$ {{ studyofferdetail.studies_value }} COP </span>
      </div>
    </div>

    <div class="add-images-container">
        {% if studyofferdetail.created_by_id == userprofile.user.id %}
        <div class="main-content-study">
              <a href="{% url 'host:edit_study_offer_uploads' slug=studyofferdetail.slug %}">
              <img src="{% static 'img/icons/photo.svg' %}" alt=""> Agregar/Editar </a>
        </div>
        <p><a class='glyphicon glyphicon-pencil' href = "{% url 'host:edit-study-offer' slug=studyofferdetail.slug %}"></a>
  &nbsp;&nbsp;&nbsp;&nbsp;| &nbsp;&nbsp;&nbsp;&nbsp;
<a class='glyphicon glyphicon-trash' href = "{% url 'host:delete-study-offer' slug=studyofferdetail.slug %}"></a></p>
        {% endif %}
    </div>

    <div class="details-studio">
        <div class="important-features-study">
          <div class="imp-feat-study-I">
            <img src="{% static 'img/icons/diary-button.svg' %}" alt="">
            <p> Duracion {{ studyofferdetail.duration }} </p>
          </div>
          <div class="imp-feat-study-I">
            <img src="{% static 'img/icons/diary-button.svg' %}" alt="">
            <p> Modalidad {{ studyofferdetail.modality }} </p>
          </div>
          <div class="imp-feat-study-I">
            <img src="{% static 'img/icons/diary-button.svg' %}" alt="">
            <p> Intensidad {{ studyofferdetail.maximum_quota }} </p>
          </div>
        </div>
        <div class="cont amenities">
          <div class="servicios-ofrecidos-container"/>
            <h3>Detalles de la oferta</h3>
            <div class="servicios-ofrecidos-study">
                <img src="{% static 'img/icons/diary-button.svg' %}" alt="">
                <span> {{ studyofferdetail.academic_mobility_programs }} </span>
            </div>
          </div>
          <div class="descripcion-container">
            <h3>Descripción Adicional</h3>
            <div class="container">
                <span><p align="justify">{{ studyofferdetail.additional_description }}</p></span>
            </div>
          </div>

        <div class="lodging-mapa">
            {% comment %}
            <div class="map-cont">
                <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d1983.0517024099001!2d-75.56337732682343!3d6.25010353077667!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2sco!4v1501007278560" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            {% endcomment %}
        </div>

        <div id="disqus_thread"></div>
    </div>

  </main>

  <!-- Search column -->
  <div class="search-column-study">
      <div class="post-column-study">
          <div class="info-study">
             <div class="icon-study">
                  <img src="{% static 'img/icons/info.svg' %}" alt="">
                  <span>Información</span>
             </div>
              <div class="autor-study">
                  <div class="profile-study">
                      <div class="img-cont-study">
                          {% if studyofferdetail.created_by.avatar %}
                          <a href="{% url 'accounts:detail' studyofferdetail.created_by.slug %}">
                              <img src="{{ studyofferdetail.created_by.avatar.url }}" alt="" class="img-responsive">
                          </a>
                          {% else %}
                               <a href="{% url 'accounts:detail' studyofferdetail.created_by.slug %}">
                                 <img src="{% static 'img/default_profile_pic.png' %}" class="img-responsive">
                               </a>
                          {% endif %}
                      </div>
                      <div class="name-review-cont-study">
                          {% comment %} A quien corresponda {% endcomment %}
                           <a href="{% url 'accounts:detail' studyofferdetail.created_by.slug %}">
                              <span>{{ studyofferdetail.created_by.get_long_name }}</span>
                              <span>{{ studyofferdetail.created_by.get_enterprise_name }} (@{{ studyofferdetail.created_by.username }})</span>
                          </a>
                          {% comment %}
                          <img src="{% static 'img/stars.svg' %}" alt="">

                          <div class="average">
                              <span>546</span>
                              <span>valoraciones</span>
                          </div>
                          {% endcomment %}
                      </div>
                  </div>
              </div>
              <div class="date-study-publish">
                  <span>{{ studyofferdetail.pub_date }}</span>
              </div>

              {% if studyofferdetail.created_by_id != userprofile.user.id %}
              <div class="contact">
                  <a class="contact-button" href="
                  {% url 'host:contact_study_owner_offer' study_offer_owner_full_name=study_offer_owner_full_name study_offer_owner_username=study_offer_owner_username study_offer_owner_email=study_offer_owner_email user_interested_full_name=user_interested_full_name user_interested_username=user_interested_username user_interested_email=user_interested_email study_offer_title=study_offer_title offer_url=offer_url %}">
                      <img src="{% static 'img/icons/social-lines.svg' %}" alt="">
                      <span>Aplicar</span>
                  </a>
                  <h4 align="justify">Al hacer clic en <strong>Aplicar</strong>, se enviará una notificación de correo electrónico
                  al dueño de la oferta y al usuario interesado en ella.</h4>


                  {% comment %}
                      Toca tener una funcion de enviar notificacion para cuando el dueño es empresa y cuando
                      es persona

                  <a class="contact-button" href="
                  {% url 'host:contact_study_owner_offer' study_offer_owner_full_name=study_offer_owner_full_name study_offer_owner_username=study_offer_owner_username study_offer_owner_email=study_offer_owner_email user_interested_full_name=user_interested_full_name user_interested_enterprise_name=user_interested_enterprise_name user_interested_username=user_interested_username user_interested_email=user_interested_email study_offer_title=study_offer_title offer_url=offer_url %}">
                      <img src="{% static 'img/icons/social-lines.svg' %}" alt="">
                      <span>Aplicar</span>
                  </a>
                  <h4 align="justify">Al hacer clic en <strong>Aplicar</strong>, se enviará una notificación de correo electrónico
                  al dueño de la oferta y al usuario interesado en ella.</h4>
                  {% endcomment %}
              </div>
              {% endif %}

               {% comment %}
              <div class="review">
                  <p class="title">Calificación de la oferta</p>
                  <img src="{% static 'img/stars.svg' %}" alt="">
                  <div class="average">
                      <span>546</span>
                      <span>valoraciones</span>
                  </div>
              </div>
               {% endcomment %}
          </div>

      </div>
  </div>
</div>


<script id="dsq-count-scr" src="//hostayni.disqus.com/count.js" async></script>
{% endblock %}
