{% extends 'layout.html' %}
{% load staticfiles %}
{% block title_tag %}Studies Offert Search | {{ block.super }}{% endblock %}
{% block body_content %}

<div class="banner-lodging-search">
  <img src="{% static 'img/Banner-Educacion.png' %}" alt="">
</div>

<div class="container-lodging-search">
  <form class="stayhost" action="." method="get">
    <div class="head-lodging-search">
      <div class="formgroup-lodging-search">
          {{ form.query }}
      </div>
      <div class="ofert-icon-lodging">
        <input type="image" src="{% static 'img/icons/search.svg' %}" alt="Submit" width="32" height="32">
      </div>
    </div>
  </form>
</div>

<div class="results-lodging-container">
  {% if "query" in request.GET %}<br />
      <div class="info-results-query">
          <p><h3>Ofertas educativas que contengan: "{{ cd.query }}"</h3></p>
          <span>Encontrados cerca de {{ total_results }} resultado{{ total_results|pluralize }}</span>
      </div>
      <br /><br />
      {% for result in results %}
          {% with studyoffer=result.object %}
          <div class="item-result-lodging" >
            <div class="img-item-container">
              <a href="{% url 'host:studyoffertdetail' studyoffer.slug %}">
                  <div class="img-item-search">
                      {% if studyoffer.photo %}
                           <img src="{{ studyoffer.photo.url }}" width="auto" height="100%" alt="">
                           <!-- <div class="img-item" style="background: url('{{ offers.photo.url }}') no-repeat center; background-size:cover;"></div> -->
                       {% endif %}
                   </div>
              </a>
            </div>
            <div class="info-item-lodging">
              <div class="info-item-lodging-firstpart">
                <div class="title-item-lodging">
                    <h3>{{ studyoffer.ad_title }}</h3>
                </div>
                <div class="price-item-lodging">
                  <p> $ {{ studyoffer.studies_value }} COP </p>
                </div>
             </div>
             <div clas="location-item-lodging">
               <p> {{ studyoffer.address }}, {{ studyoffer.city }} - {{ studyoffer.country }} </p>
             </div>
              <div class="info-item-lodging-lastpart">
                <div class="description-item-lodging">
                  <p> {{ studyoffer.additional_description|linebreaks|truncatechars:420 }} </p>
                </div>
                <div class="mainfeatures-item-lodging">
                  <div class="imp-feat-II">
                    <img src="{% static 'img/icons/diary-button.svg' %}" alt="">
                    <p> Duración {{ studyoffer.duration }} </p>
                   </div>
                   <div class="imp-feat-II">
                     <img src="{% static 'img/icons/diary-button.svg' %}" alt="">
                     <p> Modalidad {{ studyoffer.modality }} </p>
                    </div>
                    <div class="imp-feat-II">
                      <img src="{% static 'img/icons/diary-button.svg' %}" alt="">
                      <p> Cupo {{ studyoffer.maximum_quota }} </p>
                    </div>
                </div>
                  {% comment %}
                  {% if lodgingoffer.created_by.first_name %}
                      <p>Publicada por: {{ studyoffer.created_by.get_long_name }}</p>
                  {% endif %}
                  {% if lodgingoffer.created_by.get_enterprise_name %}
                      <p>Publicada por: {{ studyoffer.created_by.get_enterprise_name }}</p>
                  {% endif %}
                  {% endcomment %}
              </div>
            </div>
            {% endwith %}
            {% empty %}
            <p>No existen resultados para tu búsqueda de "{{ cd.query }}".</p>
          </div>
      {% endfor %}

  {% else %}
      {% for po in offers_paid %}
      <div class="item-result-lodging" >
        <div class="img-item-container">
          <a href="{% url 'host:studyoffertdetail' po.slug %}">
              <div class="img-item-search">
                  {% if po.photo %}
                       <img src="{{ po.photo.url }}" width="auto" height="100%" alt="">
                       <!-- <div class="img-item" style="background: url('{{ offers.photo.url }}') no-repeat center; background-size:cover;"></div> -->
                   {% endif %}
               </div>
          </a>
        </div>
        <div class="info-item-lodging">
          <div class="info-item-lodging-firstpart">
            <div class="title-item-lodging">
                <h3>{{ po.ad_title }}</h3>
            </div>
            <div class="price-item-lodging">
              <p> $ {{ po.studies_value }} COP </p>
            </div>
         </div>
         <div clas="location-item-lodging">
           <p> {{ po.address }}, {{ po.city }} - {{ po.country }} </p>
         </div>
          <div class="info-item-lodging-lastpart">
            <div class="description-item-lodging">
              <p> {{ po.additional_description|linebreaks|truncatechars:420 }} </p>
            </div>
            <div class="mainfeatures-item-lodging">
              <div class="imp-feat-II">
                <img src="{% static 'img/icons/diary-button.svg' %}" alt="">
                <p> Duración {{ po.duration }} </p>
               </div>
               <div class="imp-feat-II">
                 <img src="{% static 'img/icons/diary-button.svg' %}" alt="">
                 <p> Modalidad {{ po.modality }} </p>
                </div>
                <div class="imp-feat-II">
                  <img src="{% static 'img/icons/diary-button.svg' %}" alt="">
                  <p> Cupo {{ po.maximum_quota }} </p>
                </div>
            </div>
              {% comment %}
              {% if po.created_by.first_name %}
                  <p>Publicada por: {{ po.created_by.get_long_name }}</p>
              {% endif %}
              {% if po.created_by.get_enterprise_name %}
                  <p>Publicada por: {{ po.created_by.get_enterprise_name }}</p>
              {% endif %}
              {% endcomment %}
          </div>
        </div>
      </div>
    {% endfor %}
    {% for offers in offer_list %}
     <div class="item-result-lodging" >
       <div class="img-item-container">
         <a href="{% url 'host:studyoffertdetail' offers.slug %}">
             <div class="img-item-search">
                 {% if offers.photo %}
                      <img src="{{ offers.photo.url }}" width="auto" height="100%" alt="">
                      <!-- <div class="img-item" style="background: url('{{ offers.photo.url }}') no-repeat center; background-size:cover;"></div> -->
                  {% endif %}
              </div>
         </a>
       </div>
       <div class="info-item-lodging">
         <div class="info-item-lodging-firstpart">
           <div class="title-item-lodging">
               <h3>{{ offers.ad_title }}</h3>
           </div>
           <div class="price-item-lodging">
             <p> $ {{ offers.studies_value }} COP </p>
           </div>
        </div>
        <div clas="location-item-lodging">
          <p> {{ offers.address }}, {{ offers.city }} - {{ offers.country }} </p>
        </div>
         <div class="info-item-lodging-lastpart">
           <div class="description-item-lodging">
             <p> {{ offers.additional_description|linebreaks|truncatechars:420 }} </p>
           </div>
           <div class="mainfeatures-item-lodging">
             <div class="imp-feat-II">
               <img src="{% static 'img/icons/diary-button.svg' %}" alt="">
               <p> Duración {{ offers.duration }} </p>
              </div>
              <div class="imp-feat-II">
                <img src="{% static 'img/icons/diary-button.svg' %}" alt="">
                <p> Modalidad {{ offers.modality }} </p>
               </div>
               <div class="imp-feat-II">
                 <img src="{% static 'img/icons/diary-button.svg' %}" alt="">
                 <p> Cupo {{ offers.maximum_quota }} </p>
               </div>
           </div>
             {% comment %}
             {% if offers.created_by.first_name %}
                 <p>Publicada por: {{ offers.created_by.get_long_name }}</p>
             {% endif %}
             {% if offers.created_by.get_enterprise_name %}
                 <p>Publicada por: {{ offers.created_by.get_enterprise_name }}</p>
             {% endif %}
             {% endcomment %}
         </div>
       </div>
     </div>
  {% endfor %}

  {% endif %}

</div>

{% endblock %}
