@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700");
/*COLORES*/
/*color principal*/
/*Gris claro*/
/*Gris*/
/*Gris oscuro*/
/*Alerta*/
/*Fuente principal*/
/*Padding para los inputs de texto*/
/*Fondo de textura gris*/
/*Rádio de las puntas*/

/* HEADER, FOOTER AND HOME */

* {
  padding: 0;
  margin: 0;
  clear: both;
  list-style-type: none;
  list-style: none;
  text-decoration: none;
  font-family: "Source Sans Pro", sans-serif;
  border: none; }

.wrapper {
  /*max-width: 1280px;*/
  margin: 0 auto; }

h1, h2, h3, h4, h5, h6 {
  color: #4c4c4c; }

p {
  color: #4c4c4c; }
  p a {
    color: #4c4c4c;
    text-decoration: underline; }
  p a:active {
    text-decoration: none; }
  p a:visited {
    color: #706f6f; }

header {
  height: 120px;
  /*display: flex;
  flex-flow: row wrap;*/
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #ffffff;
  z-index: 2;
  justify-content: space-between;
  /*justify-content: space-evenly;*/
  }

  .header-container {
    height: 60px;
    display: flex;
    flex-flow: row wrap;
    /*box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);*/
    width: 100%;
    z-index: 2;
    justify-content: space-between;
    }

    .icons-header-low{
      display: flex;
      flex-flow: row wrap;
      width: 100%;
      justify-content: center;
      height: 60px;
      z-index: 1;
      /*margin-top: 46px;
      margin-bottom: 20px;*/
    }

    .pic_icon_low{
      padding: 0;
      flex: 0 0 43px;
      margin: 1px;
      align-items: center;
      margin: 2.5% 4px 0px 4px;
      /*margin-left: 3px;
      margin-right: 3px;*/
    }

  header .registration {
    display: flex;
    flex-flow: row wrap;
    width: 14%;
    max-width: 30%;
    margin: 14px 0 0 0;
    height: 100%; }

    header .registration .button_home:hover {
      background-color: #d6d6d6; }

  header .profile-options {
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    margin: 5px 0px 0 0px;
    width: 26%;
    justify-content: flex-end;
    display: none;}


    header .profile-options .img {
      display: flex;
      flex-flow: row wrap;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      border-radius: 10px;
      width: 50px;
      height: auto;
      float: right;
      margin-top: 23%;
    }
      header .profile-options .img img {
        display: inline-block;
        width: inherit;
        height: auto;
        cursor: pointer;
        border-radius: 10%; }
    header .profile-options .name-options-cont {
      display: flex;
      flex-flow: row wrap;
      height: auto;
      width: 45%;
      margin: 35% 0 0 0;
      justify-content: flex-end;
      font-size: 6px; }

      header .profile-options .name-options-cont .name {
        color: #706f6f;
        overflow: hidden;
        height: 21px;
        display: none;}
        header .profile-options .name-options-cont .name p {
          text-align: right;
          cursor: pointer; }
      header .profile-options .name-options-cont .options {
        width: 44px;
        margin: 4px 0 0 0;
        font-size: 8px;}
        header .profile-options .name-options-cont .options p {
          font-size: 0.9em; }
        header .profile-options .name-options-cont .options img {
          width: 15px;
          height: 15px;
          cursor: pointer; }
        header .profile-options .name-options-cont .options .drop-down {
          display: none;
          position: relative;
          top: 0;
          right: 180px;
          width: 170px;
          height: auto;
          padding: 13px;
          border: 1px solid #d6d6d6;
          background-color: #fff; }
          header .profile-options .name-options-cont .options .drop-down ul li a {
            color: #706f6f;
            font-size: 0.9em; }
          header .profile-options .name-options-cont .options .drop-down ul .line {
            border-bottom: 2px solid #d6d6d6;
            margin: 7px 0; }


/* Drop down menu registro iniciar sesión */

header .registration .registration_low{
  height: 100%;
  width: 30%;
  z-index: 3;
  justify-content: space-between;
}

header .registration .registration_low img {
  width: auto;
  height: 50%;
  cursor: pointer;
  z-index: 3;
  justify-content: space-between;}

header .registration .registration_low .drop-down {
  display: none;
  position: relative;
  top: 0;
  right: 98px;
  width: 102px;
  height: auto;
  padding: 13px;
  border: 1px solid #d6d6d6;
  background-color: #fff;
  z-index: 3;}

header .registration .registration_low .drop-down ul li a {
    color: #706f6f;
    font-size: 0.9em;
    z-index: 3;
    margin-bottom: 0px; }

header .registration .registration_low .drop-down li:hover{
  background-color: #d6d6d6;
}

header .registration .registration_low .drop-down ul .line {
    border-bottom: 2px solid #d6d6d6;
    margin: 7px 0;
  z-index: 3; }

  header .registration .registration_low:hover .drop-down {
    display: block;
}

header .profile-options-low {
  display: flex;
  flex-flow: row wrap;
  width: 19%;
  height: 100%;
  max-width: 30%;
  min-width: 10%;
  margin: 0 0 0 0;
  justify-content: start;}


  header .profile-options-low .img-low {
    display: flex;
    flex-flow: row wrap;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
    width: 50px;
    height: auto;
    margin: 7% 0;
    max-height: 52px;
  }
    header .profile-options-low .img-low img {
      display: inline-block;
      width: inherit;
      height: auto;
      cursor: pointer; }

    header .profile-options-low{
      width: 60px;
      margin: 0 0 0 0; }
      header .profile-options-low p {
        font-size: 0.9em; }
      header .profile-options-low img {
        width: 15px;
        height: 15px;
        cursor: pointer;
        border-radius: 5px;}

      header .profile-options-low .drop-down-low {
        display: none;
        position: relative;
        top: 0;
        right: 55px;
        width: 200px;
        height: auto;
        padding: 13px;
        border: 1px solid #d6d6d6;
        background-color: #fff; }
        header .profile-options-low .drop-down-low ul li a {
          color: #706f6f;
          font-size: 0.9em; }
          header .profile-options-low .drop-down-low ul {
            width: 100%; }
          header .profile-options-low .drop-down-low ul li {
            width: 100%; }
        header .profile-options-low .drop-down-low ul .line {
          border-bottom: 2px solid #d6d6d6;
          margin: 7px 0; }

          .profile-options-low:hover .drop-down-low {
              display: block;
          }

/*header .profile-options-low .drop-down-low ul{
  width: 20%;
}*/

.button_a{
  width: 50%;
  display: none;
}

.button_home{
  background-color: #DEDC00;
  border: none;
  color: #706F6F;
  text-align: center;
  text-decoration: none;
  /*display: inline-block;*/
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  font-family: 'Source Sans Pro', sans-serif;
  width: 85%;
  height: 57%;
  margin-top: 6%;
  margin-left: 1%;
}

main {
  display: flex;
  flex-flow: row wrap;
  width: 90%;
  margin: 0px 20px;
  justify-content: center;
 }


.logo_container{
  display: flex;
  flex-flow: row wrap;
  padding-right: 0.1%;
  padding-left: 2%;
  margin-top: 0.5%;
  margin-right: 0.5%;
  width: 16%;
}

.logo_img{
  width: auto;
  height: 85%;
  display: none;
}

.logo_img_low{
  width: auto;
  height: 100%;
}

.icons{
  /*display: flex;
  flex-flow: row wrap;
  width: 59%;
  justify-content: center;*/
  display: none;
}

.pic_icon{
  /*padding: 0;
  flex: 0 0 6%;
  margin: 1px;
  align-items: center;
  margin: 2.5% 4px 0px 4px;*/
  display: none;
}

.icons .pic_icon img{
  height: 68%;
}

.search_ele{
  width: 100%;
  margin: 114px 0px 50px 0px;
  /*margin-top: 30px;
  margin-bottom: 30px;*/
  justify-content: center;
  text-align: center;
}

.form_search{
  width: 100%;
  justify-content: center;
}

/*input[type="text"]{
  display: block;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  padding: 5px 10px;
  color: #4c4c4c;
  border: 1px solid #d6d6d6;
  width: 80%;
  text-align: center;
  margin: 0px 11%;
  margin-bottom: 8px; }*/

article {
  overflow: hidden;
  display: inline-block;
  width: 48.2%;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-top-left-radius: 10px;
  -moz-border-top-right-radius: 10px;
  -ms-border-top-left-radius: 10px;
  -ms-border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 0 10px 30px 0; }

  article .img-title-cont {
    height: 250px; }

  article .img-title-cont .title-cont {
      -webkit-transition: all 100ms ease-in-out;
      -moz-transition: all 100ms ease-in-out;
      -ms-transition: all 100ms ease-in-out;
      -o-transition: all 100ms ease-in-out;
      transition: all 100ms ease-in-out;
      background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.4) 0%, rgba(125, 185, 232, 0) 100%);
      background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.4) 0%, rgba(125, 185, 232, 0) 100%);
      background: linear-gradient(to right, rgba(0, 0, 0, 0.4) 0%, rgba(125, 185, 232, 0) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= '#66000000', endColorstr='#007db9e8',GradientType=1 );
      height: 250px;
      position: relative !important;
      bottom: 250px  !important;
      left: 0 !important;
      right: 0 !important;
      max-width: 250px; }

  article .img-title-cont .img {
      height: 250px; }

  article .img-title-cont h3 {
      color: #fff;
      position: absolute;
      bottom: 0;
      font-size: 2em;
      padding: 0px 0px 15px 10px;
      margin-bottom: 10px;
      overflow: hidden;
      line-height: 1.1em;
      /* fallback */
      max-height: 4em; }

  article .img-title-cont:hover .title-cont {
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.46) 0%, rgba(125, 185, 232, 0) 100%) !important;
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.46) 0%, rgba(125, 185, 232, 0) 100%) !important;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.46) 0%, rgba(125, 185, 232, 0) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= '#66000000', endColorstr='#007db9e8',GradientType=1 ); }

  article .post-info {
    display: flex;
    flex-flow: row wrap;
    /*height: 80%;
    max-width: 40%;*/
    padding-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;}

  article .post-info .post-type {
    /*display: flex;
    flex-flow: row wrap;*/
    height: 15px;
    align-items: left;
    width: 40%;
    margin: 7px 0 0 0;
    text-align: center;}

  article .article-date{
    width: 45%;
    margin-left: 10px;
    font-size: 80%;
    text-align: right;
    margin-top: 10%;
  }

  article .article-author{
    width: 50%;
    font-size: 90%;
  }

  article .article-author img{
    border-radius: 5px;
  }

  article .medium-post{
    width: 20%;
    margin-left: 2px;
  }

  article .post-info .post-type i {
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        border-radius: 5px;
        text-transform: uppercase;
        font-size: 0.57em;
        color: #fff;
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 600;
        letter-spacing: 0.07em;
        margin-top: -4px; }

  article .post-info .description {
      /*display: block;
      vertical-align: top;*/
      display: flex;
      flex-flow: row wrap;
      height: 50%;
      width: 50%;
      color: #4c4c4c;
      overflow: hidden;
      font-size: 0.95em;
      line-height: 1.3em;
      text-overflow: ellipsis;
      max-height: 2.6em; }

  article .post-info .review {
      display: block;
      width: 200px;
      float: right;
      margin-top: 10px; }
      article .post-info .review .cost {
        vertical-align: top;
        display: inline-block;
        font-family: "Montserrat", sans-serif;
        color: #4c4c4c;
        margin-right: 10px; }
      article .post-info .review .stars {
        display: inline-block;
        width: 110px; }
      article .post-info .review img {
        cursor: pointer;
        width: inherit;
        height: 20px; }
      article .post-info .review .average {
        font-size: 0.95em;
        color: #706f6f; }

.first_part_postinfo{
  display: flex;
  flex-flow: row wrap;
  height: 7%;
  width: 100%;
}

.second_part_postinfo{
  display: flex;
  flex-flow: row wrap;
  height: 11%;
  width: 100%
}

.entrepreneurship .post-type i {
  background-color: #E84E1B;
  padding: 3px 13px;
}

.ayni .post-type i {
  background-color: #DDDB00;
  padding: 3px 40px;
 }

.learn .post-type i {
  background-color: #2D2E82;
  padding: 3px 20px;
}

.daily-life .post-type i {
  background-color: #D83381;
  padding: 3px 20px;
}

.host .post-type i {
  background-color: #036633;
  padding: 3px 20px;
}

.full-width {
  width: auto;
  border-width: 1px;
  margin-top: 20px;
  box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
  flex: 0 0 95%;
  }

 .full-width .post-info .description {
   display: flex;
   flex-flow: row wrap;
   width: 60%;
   height: 100%; }

 .full-width .post-info .review {
    display: inline-block;
    margin-top: 0;
    width: 115px; }

 .full-width .post-info .review .cost {
      display: block; }

/*.full-width-mobile {
  display: block;
  width: auto;
  margin-right: 10px; }
  .full-width-mobile .post-info .description {
    display: block;
    vertical-align: top;
    width: auto; }
  .full-width-mobile .post-info .review {
    display: block;
    width: 200px;
    margin-top: 10px; }
    .full-width-mobile .post-info .review .cost {
      vertical-align: top;
      display: inline-block;
      margin-right: 10px; }
    .full-width-mobile .post-info .review .average {
      font-size: 0.95em;
      color: #706f6f; }*/

    .medium-post{
      width: 20%;
    }

footer {
/*margin-top: 50px;*/ }
  footer .main-cont {
    background: url("../img/background-text.jpg");
    background-repeat: repeat;
    padding: 20px 10px;
    height: 292px; }
    footer .main-cont .content {
      display: flex;
      flex-flow: row wrap;
      margin: 0 auto;
      max-width: 1500px; }
      footer .main-cont .content .logo {
        display: flex;
        flex-flow: row wrap;
        margin-right: 10px;
        vertical-align: middle;
        width: 20%;
        height: 37%;}
        footer .main-cont .content img {
          height: inherit;
          width: auto; }
      footer .main-cont .content .links {
        display: inline-block;
        vertical-align: middle; }
        footer .main-cont .content .links a {
          color: #706f6f;
          margin-right: 35px;
          font-size: 0.9em; }
        footer .main-cont .content .links a:last-child {
          margin-right: 0; }
        footer .main-cont .content .links a:hover {
          text-decoration: underline; }
      footer .main-cont .content .legal {
        margin-top: 20px;
        text-align: center; }
        footer .main-cont .content .legal p {
          color: #706f6f;
          font-size: 0.8em; }

    footer .main-cont .content .terminos-contactenos .terminos-each a{
      color: #ffffff;
    }

    .quienes-somos{
      display: flex;
      flex-flow: row wrap;
      width: 68%;
      height: auto;
      margin-right: 3px;
      font-size: 11px;
    }

    .links-servicios{
      display: flex;
      flex-flow: row wrap;
      width: 96%;
      height: 29%;
      margin-top: 11px;
    }

    .link-each{
      width: 100%;
      height: auto;
      text-align: center;
      vertical-align: middle;
      font-size: 11px;
    }

    .terminos-contactenos{
      display: flex;
      flex-flow: row wrap;
      width: 100%;
      height: 10%;
      margin-top: 12px;
      background-color: #767676;
    }

    .terminos-each{
      width: 33%;
      height: auto;
      text-align: center;
      color: #ffffff;
      justify-content: space-around;
      font-size: 10px;
      padding-top: 10px;
    }

    .legal{
      width: 100%;
      text-align: center;
      margin-top: 10px;
      font-size: 10px;
    }


    /* ELEMENTS FOR DETAIL ARTICLE */

    .article-container{
      display: flex;
      flex-flow: row wrap;
    }

    .main-article{
      width: 82%;
      margin: 90px 17px 0px 27px;
    }

    .search-column {
      /*width: 30%;
      float: right;
      padding-left: 10px;
      margin: 90px 2px 10px 10px;*/
      display: none;
    }

    .post-column{
      display: flex;
      flex-flow: row wrap;
    }

      .post-column .info {
        margin-bottom: 35px; }
        .post-column .info .icon {
          margin-bottom: 5px;
          display: none; }
          .post-column .info .icon img {
            width: 31px;
            height: 31px;
            vertical-align: middle;
            margin-right: 5px; }
          .post-column .info .icon span {
            vertical-align: middle;
            color: #706f6f;
            font-weight: 600; }
        .post-column .info .autor .title {
          color: #706f6f;
          font-size: 0.9em;
          margin-bottom: 3px; }
        .post-column .info .autor .profile {
          margin-bottom: 13px; }
          .post-column .info .autor .profile .img-cont {
            display: flex;
            flex-flow: row wrap;
            vertical-align: top;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            border-radius: 10px;
            width: 20%;
            margin-right: 5px; }
            .post-column .info .autor .profile .img-cont img {
              width: 50px;
              height: 50px; }
          .post-column .info .autor .profile .name-review-cont {
            display: flex;
            flex-flow: row wrap;
            vertical-align: top;
            color: #4c4c4c; }
            .post-column .info .autor .profile .name-review-cont span {
              color: #706f6f;
              font-weight: 600; }
            .post-column .info .autor .profile .name-review-cont img {
              width: 100px;
              height: 16px;
              display: block;
              margin-top: 3px; }
            .post-column .info .autor .profile .name-review-cont .average span {
              font-size: 0.9em;
              font-weight: 400; }
        .post-column .info .date {
          margin-bottom: 15px; }
          .post-column .info .date .title {
            color: #706f6f;
            font-size: 0.9em; }
          .post-column .info .date span {
            color: #4c4c4c;
            font-weight: 600; }
        .post-column .info .review {
          margin-bottom: 10px; }
          .post-column .info .review .title {
            color: #706f6f;
            font-size: 0.9em;
            margin-bottom: 3px; }
          .post-column .info .review img {
            width: 130px;
            height: 20px; }
          .post-column .info .review .average {
            margin-top: -5px; }
            .post-column .info .review .average span {
              color: #706f6f;
              font-size: 0.9em;
              font-weight: 400; }

              .blog-body .text-cont {
                max-width: 100%;
                margin: 25px 0px 39px 0px; }
                .blog-body .text-cont .side-icon {
                  display: none;
                  width: 38px;
                  height: 38px;
                  margin-right: 5px;
                  margin-top: 4px;
                  vertical-align: top; }
                .blog-body .text-cont .main-text {
                  display: inline-block;
                  width: 100%;
                  margin-right: -4px; }

.title-article{
  font-size: 22px;
}


.search-column-low{
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.img-cont{
  display: flex;
  flex-flow: row wrap;
  width: 15%;
}

.img-cont img{
  width: 100%;
  height: auto;
}

.img-cont a{
  width: 100%;
  height: auto;
}

.name-review-author{
  display: flex;
  flex-flow: row wrap;
  vertical-align: top;
  color: #4c4c4c;
  width: 60%;
  margin-left: 13px;
  margin-top: 8px;
  font-size: 11px;
  text-decoration: none;
  font-family: "Source Sans Pro", sans-serif;
}

.name-review-author span {
  color: #777777;
  font-family: "Source Sans Pro", sans-serif;
}

.name-review-facebook{
  display: flex;
  flex-flow: wrap;
  margin-top: 11px;
  width: 100%;
}

.date{
  margin-top: 10px;
}

.date span {
  color: #777777;
  font-size: 11px;
  font-family: "Source Sans Pro", sans-serif;
}

/* SEARCH OFFERS */

.ofert-icon img{
  width: 10%;
  height: auto;
}

/* DESIGN ELEMENTS FOR TEXT CONTAINERS FOR PRIVACY AND POLITICS, TERMS AND CONDITIONS */

.container-main-info{
  margin: 120px 100px 20px 100px;
}

.container-main-title{
  text-align: center;
  margin: 100px 40px 42px 40px;
  font-size: 10px;
}

.container-main-title h2{
  font-size: 21px;
}

/* DESIGN ELEMENTS FOR LOGIN AND SIGN UP */

/* login */

.form-cont{
  display: none;
  flex-flow: row wrap;
  margin: 70px 0px 0px 0px;
  height: 62%;
}

.form-cont-low{
  display: flex;
  flex-flow: row wrap;
  margin: 20px 0px 0px 0px;
  height: 85%;
}

.main-login{
  width: 100%;
  margin-top: 25%;
  margin-left: 16%;
  margin-right: 16%;
  height: 86%;
}

.portrait{
  width: 50%;
  height: 60%;
  margin-top: 10%;
  display: none;
}

.img-cont-login{
  display: inline-block;
  vertical-align: top;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin-right: 5px;
}

.form-login{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    margin: auto;
    background-color: #FFFFFF;
    padding-top: 0px;
    /*height: 67%;*/
    width: 100%;
    display: inline-block;
}

.login-container{
  margin: 20px;
}

input[type="text"] .form-control{
  margin: 0px 0px;
}

.submit-button-cont{
  justify-content: center;
  margin-left: 23%;
  margin-bottom: 2%;
}

.login-container .form-group label{
  width: 100%;
  text-align: center;
}

.login-container .form-group input[type="text"]{
  width: 100%;
  margin: 0px 0px;
}

.main-login .form-login .login-container .submit-button-cont a{
  width: auto;
  font-size: 12px;
}

/* sign up */

.form-cont-signup{
  display: none;
  flex-flow: row wrap;
  margin: 0px 60px 34px 60px;
  /*height: 73%;*/
  height: 90%;
  overflow: auto;
}

.form-cont-signup-low{
  display: flex;
  flex-flow: row wrap;
  margin: 38px 0px 0px 0px;
  /*height: 77%;*/
  height: 90%;
  overflow: auto;
}

.signup-container .legal{
  font-size: 12px;
}

.portrait-signup{
  width: 50%;
  height: 60%;
  margin-top: 10%;
}

.img-cont-signup{
  display: inline-block;
  vertical-align: top;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin-right: 5px;
}

.main-signup{
  width: 100%;
  margin-top: 8%;
  margin-left: 15%;
  margin-right: 15%;
  height: 76%;
}

.form-signup{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  margin: 0 0 0 0;
  background-color: #FFFFFF;
  padding-top: 0px;
  /*height: 95%;*/
  width: 100%;
  display: inline-block;
}

.signup-container{
  margin: 3% 7% 7% 7%;
  display: inline-block;
  text-align: center;
}

.signup-title{
  margin: 10px 0 0 0;
}

.signup-title p{
  font-size: 19px;
}

.submit-button-cont-signup{
  display: block;
  width: 100%;
  justify-content: center;
}

.form-control{
  text-align: center;
}



/* FORMULARIO CONTACTENOS */

.container-contactenos{
  margin: 132px 50px 110px 50px
}

.container-button-submit:hover{
  background-color: #d6d6d6;
}

.container-contactenos .container-contact-info .form-group .form-control{
  margin: 0px 0px;
  width: 100%;
  text-align: left;
}

.submit-button-contactenos .container-button-submit{
  justify-content: flex-end;
  margin-left: 60%;
  display: block;
  float: right;
}

/* USER CONFIGURATION ACCOUNT */

.icon-picture img{
  width: 10%;
  height: auto;
}

.icon-picture{
  margin: 0px 0 0 0;
}

.offert-form{
  margin: 20% 5% 0 5%;
  width: 95%;
  height: auto;
}


.config-container{
  display: inline-flex;
  /*display: none;*/
  width: 97%;
  height: auto;
}

/* Accordion for mobile */

.config-container-low{
  display: none;
  /*display: block;*/
  width: 100%;
  height: auto;
}

.accordion{
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.panel{
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

.control-label{
  width: 100%;
  text-align: center;
}

.form-group input[type="text"] {
  width: 100%;
  margin: 0 0;
}

/* Tabs Verticales */

.tabConfiguracion {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 32%;
    height: auto;
}

.tabConfiguracion button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
}

.tabConfiguracion button:hover {
    background-color: #ddd;
}

.tabConfiguracion button.active {
    background-color: #ccc;
}

.tabcontent {
    float: left;
    padding: 30px 30px;
    border: 1px solid #ccc;
    width: 74%;
    border-left: none;
    height: auto;
}

.submit-button-config{
  justify-content: flex-end;
  margin: 19px 0 19px 59%;
  display: block;
  float: right;
  width: 14%;
}

/* MY ARTICLES */

.container-myarticles{
  width: 90%;
  margin: 25% 5% 13% 5%;
  height: auto;
}

.panel-myarticles{
  box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
}

/* CONFIRM DELETE MYARTICLES */

.container-confirm-myarticles{
  width: 90%;
  margin: 46% 5% 46% 5%;
  height: auto;
}

.form-confirm-myarticles{
  text-align: center;
}

.container-myarticles .form-confirm-myarticles h1{
  text-align: center;
}

.title-confirm-myarticles{
  font-size: 15px;
}

.buttons-confirm-myarticles{
  justify-content: center;
  display: inline-flex;
}

.button-confirm-myarticles-cancel{
  font-size: 14px;
  border-radius: 4px;
  width: 91px;
  height: 34px;
  background-color: #d9534f;
  color: white;
  text-align: center;
  vertical-align: baseline;
  margin: 0 15px;
}

.cancel-text{
  margin: 6px 0;
  color: white;
}

/* MY LODGING OFFERS*/

.panel-lodging{
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
  box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
}

.container-lodging{
  width: 90%;
  margin: 46% 5% 38% 5%;
  height: auto;
}


/* DETAIL LODGING OFFER */

.title-cont-lodging{
  margin: 0 0 0 0;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
}

.title-cont-lodging h1{
  font-size: 25px;
}

.acomodacion-lodging{
  width: 100%;
  text-align: left;
  margin: 0 0 0 0;
  font-family: "Source Sans Pro", sans-serif;
}

.acomodacion-lodging h4{
  font-size: 15px;
}

.details-alojamiento{
  width: 100%;
  height: auto;
}

.important-features{
  display: inline-flex;
  flex-flow: row;
  width: 100%;
  justify-content: space-between;
  /*box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);*/
  border-bottom: 1px solid gray;
  padding: 11px 0px 0 15px;
  /*border-radius: 10px;*/
}

.imp-feat-I{
  width: 30%;
  margin: auto;
  text-align: center;
}

.imp-feat-I img{
  width: 32px;
  height: 32px;
}

.lodging-location-title{
  width: 100%;
  margin: 0 0 4% 0;
  display: inline-block;
}

.lodging-location{
  width: 100%;
  font-size: 13px;
  margin-top: 7px;
}

.lodging-price{
  width: 100%;
  font-size: 15px;
  text-align: right;
}

.lodging-price p{
  margin: 0 0 3px 0;
}

.servicios-ofrecidos-container{
  /*box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);*/
  padding: 2px 15px;
  margin-top: 13px;
  border-bottom: 1px solid gray;
  /*border-radius: 10px;*/
}

.servicios-ofrecidos-container-study{
  /*box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);*/
  padding: 2px 15px;
  margin-top: 13px;
  /*border-radius: 10px;*/
}

.servicios-ofrecidos-container-entrepreunership{
  /*box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);*/
  padding: 2px 15px;
  margin-top: 13px;
  /*border-radius: 10px;*/
}

.comodidades-destacadas-container{
  /*box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);*/
  padding: 2px 15px;
  margin-top: 13px;
  /*border-radius: 10px;*/
  border-bottom: 1px solid gray;
}

.comodidades-destacadas-lodging{
  margin: 1px 0 8px 0;
}

.comodidades-destacadas-lodging img{
  width: 32px;
  height: 32px;
  margin: 0 0 0 1px;
}

.descripcion-container{
  /*box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);*/
  padding: 2px 15px;
  margin-top: 13px;
  margin-bottom: 16px;
  border-top: 1px solid gray;
  /*border-radius: 10px;*/
}

#disqus_thread{
  margin-bottom: 26px;
}

.servicios-ofrecidos-lodging{
  margin: 1px 0 8px 0;
}

.servicios-ofrecidos-lodging img{
  width: 32px;
  height: 32px;
  margin: 0 0 0 1px;
}

.caract-cuarto-container{
  /*box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);*/
  padding: 2px 15px;
  margin-top: 13px;
  margin-bottom: 16px;
  /*border-radius: 10px;*/
  border-bottom: 1px solid gray;
}

.caract-cuarto-lodging{
  margin: 1px 0 8px 0;
}

.caract-cuarto-lodging img{
  width: 32px;
  height: 32px;
  margin: 0 0 0 1px;
}

.detail-lodging-container{
  display: flex;
  flex-flow: row wrap;
}

.main-detail-lodging{
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  margin: 21px 39px 0px 55px;
}

.info-offer-detail{
  width: 100%;
}

.info-offer-detail hr{
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.apply-info-detail{
  width: 100%;
  display: flex;
  margin: 0 0 15px 0;
  justify-content: space-between;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

.apply-info-detail hr{
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.add-images-container-low{
  width: 40%;
  height: auto;
  margin: auto;
}

.icons-add-images{
  width: 100%;
  text-align: center;
}

.add-images-container{
  display: none;
  /*width: 40%;
  height: auto;
  margin: 1% 3% 0 0;*/
}

.main-content-lodging{
  font-size: 12px;
  text-align: center;
}

.main-content-lodging img{
  width: 50px;
  height: auto;
}

.post-body-lodging{
  width: auto;
  height: 20%;
}

.search-column-lodging {
  display:none;
  /*display: flex;
  flex-flow: row wrap;
  width: 30%;
  padding-left: 10px;
  margin: 90px 2px 10px 10px;*/
}

.search-column-lodging-low {
  display: flex;
  flex-flow: row wrap;
  width: 50%;
  padding-left: 10px;
}

.icon-lodging{
  margin: 0 0 15px 0;
}

.img-cont-lodging img{
  width: 55px;
  height: auto;
  border-radius: 10%;
  margin: auto;
}

.search-column-lodging .post-column-lodging .info-lodging .icon-lodging img{
  width: 32px;
  height: 32px;
}

.post-column-lodging{
  display: flex;
  flex-flow: row wrap;
  margin: auto;
  text-align: center;
}


.name-review-cont-lodging{
  margin-top: 5px;
  font-size: 10px;
}

.autor-lodging{
  margin: 5px 0;
  margin: 14px 0px 0px 0px;
}

.date-lodging-publish{
  margin-top: 10px 0px;
  font-size: 10px;
}

.container{
  width: 100%;
  padding: 0;
  margin-top: 23px;
}

.carousel {
  overflow: hidden;
  max-width: 100%;
  height: auto;
  margin-top: 4%;
  background-position: center center;
  background-repeat: no-repeat;
}

/* Load and edit images lodging offer */

.container-lodging-pics{
  margin: 9% 5% 0 5%;
}

.lodging-img-container{
  display: inline-flex;
  justify-content: space-between;
}

.row-lodging{
  width: 30%;
  height: auto;
}

.col-md-3{
  width: 95%;
}

.btnAplicarLodging{
  background-color: #036633;
  border: none;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  /*display: inline-block;*/
  display:block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  font-family: 'Source Sans Pro', sans-serif;
  width: 150px;
  height: 28px;
  margin: 20px auto;
}

.btnAplicarLodging:hover {
  background-color: #d6d6d6;
}

/* Lodging Search */

.container-lodging-search{
  margin: 2% 5% 0 5%;
  justify-content: space-between;
}

.banner-lodging-search{
  width: 100%;
  margin-top: 23px;
}

.banner-lodging-search img{
  width: 100%;
  height: auto;
  margin-top: 4%;
}

.head-lodging-search{
  display: inline-flex;
  height: 41px;
  width: 100%;
}

.formgroup-lodging-search{
  display: block;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  padding: 5px 10px;
  color: #4c4c4c;
  border: 1px solid #d6d6d6;
  width: 100%;
  text-align: center;
  /*margin: 0px 25%;*/
  margin-bottom: 8px;
}

.stayhost{
  width: 85%;
  display: table;
  margin: 0 auto;
}

.ofert-icon-lodging{
  width: 20%;
  margin-left: 6px;
}

.formgroup-lodging-search #id_query{
  width: 100%;
}

.formgroup-lodging-search .input_search{
  width: 100%;
  text-align: center;
}

.results-lodging-container{
  margin: 3% 7% 9% 7%;
}

.item-result-lodging{
  width: 100%;
  margin: 25px 0px 0px 0px;
  border-width: 1px;
  border-radius: 10px;
  box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
  display: inline-flex;
  height: 251;
}

.item-result-lodging:hover{
  box-shadow: 0 0 79px 19px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
}

.img-item-container{
  width: 40%;
  height: 100%;
}

.img-item-search{
  width: 100%;
  height: 100%;
}

.img-item-search img{
  width: auto;
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.info-item-lodging{
  width: 60%;
  height: auto;
  margin-left: 3%;
}

.info-item-lodging-firstpart{
  display: inline-block;
  width: 100%;
}

.title-item-lodging{
  width: 100%;
}

.title-item-lodging h3{
  font-size: 17px;
}


.price-item-lodging{
  width: 100%;
  font-size: 12px;
  /*text-align: right;
  margin: 13px 20px;*/
}

.price-item-lodging p{
  margin: 0 0;
}

.location-item-lodging{
  width: 100%;
  font-size: 12px;
  margin: 14px 0 0 0;
}

.info-item-lodging-lastpart{
  display: inline-flex;
  width: 100%;
  height: 40%;
  margin-top: 1%;
}

.description-item-lodging{
  width: 30%;
  margin: auto;
}

.description-item-lodging img{
  border-radius: 31px;
}

.description-item-lodging p{
  font-size: 12px;
}

.mainfeatures-item-lodging{
  display: inline-flex;
  width: 70%;
  margin: auto;
  justify-content: flex-end;
}

.imp-feat-II{
  width: 30%;
  text-align: center;
}

.imp-feat-II-entrepreneurship{
  width: 30%;
  text-align: center;
}

.imp-feat-II p{
  display: none;
}

.imp-feat-II-entrepreneurship p{
  display: none;
}

.imp-feat-II-entrepreneurship img{
  width: 32px;
  height: 32px;
}

.imp-feat-II img{
  width: 32px;
  height: 32px;
}

.img-item-offer{
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.btnAplicarLodging{
  background-color: #036633;
  border: none;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  /*display: inline-block;*/
  display:block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  font-family: 'Source Sans Pro', sans-serif;
  width: 150px;
  height: 28px;
  margin: 20px auto;
}

.btnAplicarLodging:hover {
  background-color: #d6d6d6;
}

/* STUDY OFERT DETAIL */

.detail-study-container{
  display: flex;
  flex-flow: row wrap;
}

.main-detail-study{
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  margin: 21px 25px 0px 25px;
}

.acomodacion-study{
  width: 100%;
  text-align: left;
  margin: 0 0 0 0;
  font-family: "Source Sans Pro", sans-serif;
}

.acomodacion-study h4{
  font-size: 15px;
}

.title-cont-study{
  margin: 0 0 0 0;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
}

.title-cont-study h1{
  font-size: 25px;
}

.study-location-title{
  width: 100%;
  margin: 0 0 4% 0;
  display: inline-block;
}

.study-location{
  width: 100%;
  font-size: 13px;
  margin-top: 7px;
}

.study-price{
  width: 100%;
  font-size: 15px;
  text-align: right;
}

.main-content-study{
  font-size: 12px;
  text-align: center;
}

.main-content-study img{
  width: 50px;
  height: auto;
}

.details-studio{
  width: 100%;
  height: auto;
}

.important-features-study{
  display: inline-flex;
  flex-flow: row;
  width: 100%;
  justify-content: space-between;
  /*box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);*/
  padding: 11px 0px 0 15px;
  /*border-radius: 10px;*/
  border-bottom: 1px solid gray;
}

.imp-feat-study-I{
  width: 30%;
  text-align: center;
}

.imp-feat-study-I img{
  width: 32px;
  height: 32px;
}

.servicios-ofrecidos-study{
  margin: 1px 0 8px 0;
  border-radius: 10px;
}

.servicios-ofrecidos-study img{
  width: 32px;
  height: 32px;
}

.search-column-study {
  display: none;
  /*display: flex;
  flex-flow: row wrap;
  width: 30%;
  padding-left: 10px;
  margin: 90px 2px 10px 10px;*/
}

.search-column-study-low {
  display: flex;
  flex-flow: row wrap;
  width: 50%;
  padding-left: 10px;
  margin: 10px;
}

.post-column-study{
  display: flex;
  flex-flow: row wrap;
  margin: auto;
  text-align: center;
}

.search-column-study .post-column-study .info-study .icon-study img{
  width: 32px;
  height: 32px;
}

.icon-study{
  margin: 0 0 15px 0;
}

.img-cont-study img{
  width: 55px;
  height: auto;
  border-radius: 10%;
  margin: auto;
}

.post-column-study{
  display: flex;
  flex-flow: row wrap;
}

.name-review-cont-study{
  margin-top: 5px;
}

.date-study-publish{
  margin-top: 5px;
}

.btnAplicarStudy{
  background-color: #2D2E82;
  border: none;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  /*display: inline-block;*/
  display:block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  font-family: 'Source Sans Pro', sans-serif;
  width: 150px;
  height: 28px;
  margin: 20px auto;
}

.btnAplicarStudy:hover {
  background-color: #d6d6d6;
}

.contact h4{
  font-size: 12px;
}
/* DETAIL ENTREPRENEURSHIP */

.btnAplicarentrepreneurship{
  background-color: #E84E1B;
  border: none;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  /*display: inline-block;*/
  display:block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  font-family: 'Source Sans Pro', sans-serif;
  width: 150px;
  height: 28px;
  margin: 20px auto;
}

.btnAplicarentrepreneurship:hover {
  background-color: #d6d6d6;
}

/* DETAIL DAILY LIFE */

.btnAplicarDailyLife{
  background-color: #D83381;
  border: none;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  /*display: inline-block;*/
  display:block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  font-family: 'Source Sans Pro', sans-serif;
  width: 150px;
  height: 28px;
  margin: 20px auto;
}

.btnAplicarDailyLife:hover {
  background-color: #d6d6d6;
}

/* DETAIL AYNI */

.btnAplicarAyni{
  background-color: #DDDB00;
  border: none;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  /*display: inline-block;*/
  display:block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  font-family: 'Source Sans Pro', sans-serif;
  width: 150px;
  height: 28px;
  margin: 20px auto;
}

.btnAplicarAyni:hover {
  background-color: #d6d6d6;
}

/*DESIGN RESET PASSWORD*/

.btnResetPassword{
  background-color: #DEDC00;
  border: none;
  color: #706F6F;
  text-align: center;
  text-decoration: none;
  /*display: inline-block;*/
  display:block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  font-family: 'Source Sans Pro', sans-serif;
  width: 130px;
  height: 35px;
  margin: 5px auto;
  white-space: normal;
  font-size: 12px;
}

.btnResetPassword:hover {
  background-color: #d6d6d6;
}

.container-reset-password{
  margin: 17% 20% 23% 20%;
}

.title-reset-password{
  margin: 10px 0 10px 0;
}

.title-reset-password h1{
  font-size: 20px;
}

.texto-reset-password{
  margin: 22px 0 27px 0;
}

.texto-reset-password p{
  font-size: 13px;
}

.text-done{
  margin: 60% 0 60% 0;
}


.btnResetConfirm{
  background-color: #DEDC00;
  border: none;
  color: #706F6F;
  text-align: center;
  text-decoration: none;
  /*display: inline-block;*/
  display:block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  font-family: 'Source Sans Pro', sans-serif;
  width: 130px;
  height: 35px;
  margin: 5px auto;
  white-space: normal;
  font-size: 12px;
}

.btnResetConfirm:hover {
  background-color: #d6d6d6;
}

.container-reset-confirm{
  margin: 17% 20% 23% 20%;
}

.title-reset-confirm{
  margin: 10px 0 50px 0;
}

.title-reset-confirm h1{
  font-size: 20px;
  text-align: center;
}

.help-block{
  font-size: 8px;
  text-align: center;
}

.btnIniciarSesionReset{
  background-color: #DEDC00;
  border: none;
  color: #706F6F;
  text-align: center;
  text-decoration: none;
  /*display: inline-block;*/
  font-size: 12px;
  cursor: pointer;
  border-radius: 5px;
  font-family: 'Source Sans Pro', sans-serif;
  width: 100px;
  height: 25px;
  margin-top: 10px;
  float:right;
  vertical-align: middle;
  display: table-cell;
}

.btnIniciarSesionReset:hover {
  background-color: #d6d6d6;
}

.container-iniciar-reset{
  margin: 45% 30% 45% 30%;
}

.title-reset-complete h1{
  font-size: 20px;
}

/* PROFILE OF USERS DETAIL */


.profile-info-container{
  display: flex;
  flex-flow: row wrap;
}

.column-profile-detail{
  flex: 0 0 20%;
  width: auto;
  /*margin: 90px 2px 10px 10px;*/
  padding: 39px 65px 65px 50px;
  background-color: #e5e5e5;
}

.full-column-profile{
  /*flex:0 0 20%;
  flex-flow: row wrap;*/
  width: 100%;
  background-color: #e5e5e5;
}

.post-info-profile{
  width: 100%;
  margin: 50px 0px;
}

.load-more-post{
  text-align: center;
}

.img-profile{
  width: 100%;
  margin: 20px 0 2% 0;
  display: block;
  justify-content: center;
}

.img-profile a{
  margin: auto;
}

.img-profile img{
  width: 100px;
  height: auto;
  border-radius: 10%;
  margin: auto;
}

.edit-image-profile{
  width: 100%;
  margin: auto;
  text-align: center;
}

.nombre-profile{
  width: 100%;
  font-size: 20px;
  text-align: center;
}

.lugar-nacimiento-profile{
  width: 100%;
  text-align: center;
}

.fecha-nacimiento-profile{
  width: 100%;
  text-align: center;
}

.datos-contacto-profile{
  width: 100%;
  text-align: center;
}

.idiomas-profile{
  width: 100%;
  justify-content: center;
  text-align: center;
}

.idioma-icon{
  width: 12%;
  display: inline-block;
}

.idioma-icon img{
  width: 80%;
  height: auto;
}

.idioma-text{
  width: 8%;
  display: inline-block;
  text-align: left;
}

.lugar-residencia-profile{
  width: 100%;
  text-align: center;
}

.biografia-profile{
  width: 100%;
  text-align: center;
}

.roles-profile{
  width: 100%;
  text-align: center;
}

.act-entretenimiento-profile{
  width: 100%;
  text-align: center;
}

.column-profile-detail hr{
  margin-top: 5px;
  margin-bottom: 5px;
  color: #656565;
  background: #656565;
}

.profile{
  width: 100%;
  text-align: left;
}

.contact{
  margin: 10px;
  width: 150px;
  height: auto;
}

.contact-low{
  display: none;
}

/* PROFILE POST */

.followed-by{
  text-align: center;
}

.search-post {
  width: auto;
  margin: 30px 30px;
  border-width: 1px;
  height: 120px;
  /*box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);*/
  flex: 0 0 30%;
  }

  .publish-post{
    width: auto;
    margin-right: 17px;
    margin-left: 17px;
    border-width: 1px;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 200px;
    box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
    flex: 0 0 30%;
    border-radius: 10px;
  }

  .publish-post:hover{
    box-shadow: 0 0 79px 19px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
  }

  .form-post{
    width: 80%;
    height: 100px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }

  .form-post textarea{
    margin: 30 10 10 10;
    height: 100px;
    width: 100%;
    border:solid 1px #ccc;
  }

  .text-search-post{
    /*margin: 30 30 20 23%;*/
    margin: 20px auto;
    height: 30px;
    width: 100%;
    border:solid 1px #ccc;
    border-radius: 10px;
    text-align: center;
  }

  .btnSubmitPost:hover {
      background-color: #d6d6d6;
    }

  .btnSubmitPost{
      background-color: #DEDC00;
      border: none;
      color: #706F6F;
      text-align: center;
      text-decoration: none;
      /*display: inline-block;*/
      font-size: 16px;
      cursor: pointer;
      border-radius: 5px;
      font-family: 'Source Sans Pro', sans-serif;
      width: 111px;
      height: 30px;
      margin-top: 5px;
      margin-left: 64%;
  }

  .btnSearchPost{
    background-color: #DEDC00;
    border: none;
    color: #706F6F;
    text-align: center;
    text-decoration: none;
    /*display: inline-block;*/
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Source Sans Pro', sans-serif;
    width: 70px;
    height: 33px;
    margin-top: 5px;
    margin-left: 83%;
  }

  .search-form-post{
    margin: auto;
  }

  .nav-search-form{
    margin: auto;
  }

  .btnSearchPost:hover {
      background-color: #d6d6d6;
    }

  .form-post p{
    width: 100%;
  }

  .form-post label{
    display: none;
  }

  /*.history-post{
    width: auto;
    margin-right: 17px;
    margin-left: 17px;
    border-width: 1px;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 100px;
    box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
    flex: 0 0 30%;
  }*/


  /*.history-each-post{
    margin: 20 20 20 20;
  }

  .histoy-each-post .content{
    margin: 20 20 20 20;
  }*/

  .history-post .history-each-post .media{
    width: auto;
    margin-right: 17px;
    margin-left: 17px;
    border-width: 1px;
    margin-top: 15px;
    margin-bottom: 15px;
    /*height: 190px;*/
    box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
    flex: 0 0 30%;
    border-radius: 10px;
  }

  .history-post .history-each-post .media:hover{
    box-shadow: 0 0 79px 19px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
  }

  .history-post .history-each-post .media .media-body{
    padding: 2.5%;
  }

  .author-post-precontent{
    margin: 2px 20px 2px 20px;
    height: 10px;
  }

  .post-content{
    margin: 20px 20px 20px 20px;
    /*height: 20px;*/
    overflow-wrap: break-word;
  }

  .post-author{
    width: 50%;
    margin: 10px 20px 10px 20px;
    height: 20px;
  }

  .post-date{
    width: 50%;
    margin: 10px 20px 10px 20px;
    height: 20px;
    text-align: right;
  }

  .post-view{
    width: 53px;
    margin: 10px 5px 10px 5px;
    height: 23px;
    text-align: center;
    background-color: #e5e5e5;
    border-radius: 5px;
    padding: 2px;
  }

  .post-liked{
    width: 64px;
    margin: 10px 5px 10px 5px;
    height: 23px;
    text-align: center;
    background-color: #e5e5e5;
    border-radius: 5px;
    padding: 2px;
  }

  .post-repost{
    width: 78px;
    margin: 10px 5px 10px 5px;
    height: 23px;
    text-align: center;
    background-color: #e5e5e5;
    border-radius: 5px;
    padding: 2px;
  }

  .post-comentar{
    width: 76px;
    margin: 10px 5px 10px 5px;
    height: 23px;
    text-align: center;
    background-color: #e5e5e5;
    border-radius: 5px;
    padding: 2px;
  }

.post-author-fecha{
  width: 100%;
  display: flex;
}

.post-interaction{
  width: 100%;
  display: flex;
  justify-content: center;
}

.educative-offers-profile{
  margin: auto;
  text-align: center;
}

.daily-offers-profile{
  margin: auto;
  text-align: center;
}

.entrepreunership-offers-profile{
  margin: auto;
  text-align: center;
}

.ayni-offers-profile{
  margin: auto;
  text-align: center;
}

.lodging-offers-profile{
  margin: auto;
  text-align: center;
}

.articles-profile{
  margin: auto;
  text-align: center;
}

/* SEARCH POST RESULT VIEW */

.result-post-search {
    width: 100%;
    margin: 50px 20px 65px 20px;
}

.info-results-post{
  margin: 90px 20px 65px 20px;
  width: auto;
  text-align: center;
}

.results-title-posts{
  text-align: center;
}

.result-post-usuarios{
  margin: 90px 20px 65px 20px;
  width: auto;
  text-align: center;
}

/* VIEW POST RESULT */

.container-post-view {
    width: 95%;
    margin: 50px 20px 65px 20px;
}

.title-post-view{
  text-align: center;
  width: 100%;
  margin: 20px auto;
}

.container-post-view .list-post-view .media{
  width: auto;
  margin-right: 17px;
  margin-left: 17px;
  border-width: 1px;
  margin-top: 15px;
  margin-bottom: 15px;
  /*height: 190px;*/
  box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
  flex: 0 0 30%;
  border-radius: 10px;
}

.container-post-view .list-post-view .media:hover{
  box-shadow: 0 0 79px 19px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
}

.container-post-view .list-post-view .media .media-body{
  padding: 2.5%;
}

/* UPDATE VIEW POST */

.container-update-view{
  width: 95%;
  margin: 230px 20px 230px 20px;
}

.title-update-view{
  margin: 0 42px;
}

.container-update-view .title-update-view p{
  font-size: 25px;
}

.container-update-view .form-update-view .btnSubmitPost{
  margin-left: 62%;
}

.container-update-view .form-update-view .form-post{
  width: 90%;
}

/* DELETE VIEW POST */

.container-delete-view{
  width: 95%;
  margin: 230px 20px 230px 20px;
}

.title-delete-view{
  margin: 0 42px;
}

.container-delete-view .title-delete-view p{
  font-size: 25px;
}

.container-delete-view .form-delete-view{
  margin: 0 44px;
}
