@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700");
/*COLORES*/
/*color principal*/
/*Gris claro*/
/*Gris*/
/*Gris oscuro*/
/*Alerta*/
/*Fuente principal*/
/*Padding para los inputs de texto*/
/*Fondo de textura gris*/
/*Rádio de las puntas*/
* {
  padding: 0;
  margin: 0;
  clear: both;
  list-style-type: none;
  list-style: none;
  text-decoration: none;
  font-family: "Source Sans Pro", sans-serif;
  border: none; }

.wrapper {
  /*max-width: 1280px;*/
  margin: 0 auto; }

h1, h2, h3, h4, h5, h6 {
  color: #4c4c4c; }

p {
  color: #4c4c4c; }
  p a {
    color: #4c4c4c;
    text-decoration: underline; }
  p a:active {
    text-decoration: none; }
  p a:visited {
    color: #706f6f; }

header {
  height: 60px;
  display: flex;
  flex-flow: row wrap;
  box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #ffffff;
  z-index: 2;
  justify-content: space-between;
  }
  header .registration {
    display: flex;
    flex-flow: row wrap;
    width: 25%;
    max-width: 30%;
    min-width: 20%;
    margin: 5px 0 0 0;
    height: 100%;
    justify-content: space-between; }

    header .registration .button_home:hover {
      background-color: #d6d6d6; }

  header .profile-options {
    display: flex;
    flex-flow: row wrap;
    width: 19%;
    height: 100%;
    max-width: 30%;
    min-width: 10%;
    margin: 0 0 0 0;
    justify-content: start;}


    header .profile-options .img {
      display: flex;
      flex-flow: row wrap;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      border-radius: 10px;
      width: 50px;
      height: auto;
      margin-top: 2%;
    }
      header .profile-options .img img {
        display: inline-block;
        width: inherit;
        height: auto;
        cursor: pointer; }
    header .profile-options .name-options-cont {
      display: flex;
      flex-flow: row wrap;
      height: auto;
      width: 59%;
      margin: 10% 0 0 0;
      justify-content: center; }

      header .profile-options .name-options-cont .name {
        color: #706f6f;
        overflow: hidden;
        height: 21px;
        display: none;}
        header .profile-options .name-options-cont .name p {
          text-align: right;
          cursor: pointer; }
      header .profile-options .name-options-cont .options {
        width: 60px;
        margin: 0 0 0 0; }
        header .profile-options .name-options-cont .options p {
          font-size: 0.9em; }
        header .profile-options .name-options-cont .options img {
          width: 15px;
          height: 15px;
          cursor: pointer; }
        header .profile-options .name-options-cont .options .drop-down {
          display: none;
          position: relative;
          top: 0;
          right: 180px;
          width: 170px;
          height: auto;
          padding: 13px;
          border: 1px solid #d6d6d6;
          background-color: #fff; }
          header .profile-options .name-options-cont .options .drop-down ul li a {
            color: #706f6f;
            font-size: 0.9em; }
          header .profile-options .name-options-cont .options .drop-down ul .line {
            border-bottom: 2px solid #d6d6d6;
            margin: 7px 0; }

          header .icons .pic_icon img:hover{
            background-color: #d6d6d6;
          }

.profile-options-low{
  display: none;
}

.registration_low{
  display: none;
}

.button_a{
  width: 50%;
}

.button_home{
  background-color: #DEDC00;
  border: none;
  color: #706F6F;
  text-align: center;
  text-decoration: none;
  /*display: inline-block;*/
  font-size: 11px;
  cursor: pointer;
  border-radius: 5px;
  font-family: 'Source Sans Pro', sans-serif;
  width: 85%;
  height: 57%;
  margin-top: 6%;
  margin-left: 1%;
}

main {
  display: flex;
  flex-flow: row wrap;
  width: 90%;
  margin: 50px;
  justify-content: center;
 }


.logo_container{
  display: flex;
  flex-flow: row wrap;
  padding-right: 0.1%;
  padding-left: 2%;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
  width: 21%;
}

.logo_img{
  /*width: 90%;
  height: 55%;*/
  width: auto;
  height: 85%;
}

.logo_img_low{
  width: 90%;
  height: 55%;
  display: none;
}

.icons{
  display: flex;
  flex-flow: row wrap;
  width: 30%;
  margin-left: 2.5%;
  margin-right: 2%;
  justify-content: center;
  /*margin-top: 40px;
  margin-bottom: 20px;*/
}

.pic_icon{
  padding: 0;
  flex: 0 0 8%;
  margin: 1px;
  align-items: center;
  margin: 4.5% 5px 0px 5px;
}

.icons .pic_icon img{
  height: 68%;
}

.search_ele{
  width: 90%;
  margin: 114px 50px 50px 50px;
  justify-content: center;
  text-align: center;
}

.form_search{
  width: 100%;
  justify-content: center;
}

input[type="text"]{
  display: block;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  padding: 5px 10px;
  color: #4c4c4c;
  border: 1px solid #d6d6d6;
  width: 50%;
  text-align: center;
  margin: 0px 25%;
  margin-bottom: 8px; }

article {
  overflow: hidden;
  display: inline-block;
  width: 48.2%;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-top-left-radius: 10px;
  -moz-border-top-right-radius: 10px;
  -ms-border-top-left-radius: 10px;
  -ms-border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 0 10px 30px 0; }

  article .img-title-cont {
    height: 250px; }

  article .img-title-cont .title-cont {
      -webkit-transition: all 100ms ease-in-out;
      -moz-transition: all 100ms ease-in-out;
      -ms-transition: all 100ms ease-in-out;
      -o-transition: all 100ms ease-in-out;
      transition: all 100ms ease-in-out;
      background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.4) 0%, rgba(125, 185, 232, 0) 100%);
      background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.4) 0%, rgba(125, 185, 232, 0) 100%);
      background: linear-gradient(to right, rgba(0, 0, 0, 0.4) 0%, rgba(125, 185, 232, 0) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= '#66000000', endColorstr='#007db9e8',GradientType=1 );
      height: 250px;
      position: relative !important;
      bottom: 250px  !important;
      left: 0 !important;
      right: 0 !important;
      max-width: 250px; }

  article .img-title-cont .img {
      height: 250px; }

  article .img-title-cont h3 {
      color: #fff;
      position: absolute;
      bottom: 0;
      font-size: 2em;
      padding: 0px 0px 15px 10px;
      margin-bottom: 10px;
      overflow: hidden;
      line-height: 1.1em;
      /* fallback */
      max-height: 4em; }

  article .img-title-cont:hover .title-cont {
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.46) 0%, rgba(125, 185, 232, 0) 100%) !important;
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.46) 0%, rgba(125, 185, 232, 0) 100%) !important;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.46) 0%, rgba(125, 185, 232, 0) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= '#66000000', endColorstr='#007db9e8',GradientType=1 ); }

  article .post-info {
    display: flex;
    flex-flow: row wrap;
    /*height: 80%;
    max-width: 40%;*/
    padding-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;}

  article .post-info .post-type {
    display: flex;
    flex-flow: row wrap;
    height: 15px;
    align-items: left;
    margin-left: 7.5%; }

  article .article-date{
    width: 45%;
    margin-left: 10px;
    font-size: 80%;
    text-align: right;
  }

  article .article-author{
    width: 50%;
    font-size: 90%;
  }

  article .medium-post{
    width: 20%;
    margin-left: 2px;
  }

  article .post-info .post-type i {
        padding: 3px 6px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        border-radius: 5px;
        text-transform: uppercase;
        font-size: 0.57em;
        color: #fff;
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 600;
        letter-spacing: 0.07em;
        margin-top: -4px; }

  article .post-info .description {
      /*display: block;
      vertical-align: top;*/
      display: flex;
      flex-flow: row wrap;
      height: 50%;
      width: 50%;
      color: #4c4c4c;
      overflow: hidden;
      font-size: 0.95em;
      line-height: 1.3em;
      text-overflow: ellipsis;
      max-height: 2.6em; }

  article .post-info .review {
      display: block;
      width: 200px;
      float: right;
      margin-top: 10px; }
      article .post-info .review .cost {
        vertical-align: top;
        display: inline-block;
        font-family: "Montserrat", sans-serif;
        color: #4c4c4c;
        margin-right: 10px; }
      article .post-info .review .stars {
        display: inline-block;
        width: 110px; }
      article .post-info .review img {
        cursor: pointer;
        width: inherit;
        height: 20px; }
      article .post-info .review .average {
        font-size: 0.95em;
        color: #706f6f; }

.first_part_postinfo{
  display: flex;
  flex-flow: row wrap;
  height: 10%;
  width: 100%;
}

.second_part_postinfo{
  display: flex;
  flex-flow: row wrap;
  height: 3%;
  width: 100%
}

.innovate .post-type i {
  background-color: #1d71b6; }

.social .post-type i {
  background-color: #f19125; }

.learn .post-type i {
  background-color: #e74e1b; }

.enjoy .post-type i {
  background-color: #d73380; }

.life .post-type i {
  background-color: #3f4e55; }

.host .post-type i {
  background-color: #006533; }

.full-width {
  width: auto;
  margin-right: 17px;
  margin-left: 17px;
  border-width: 1px;
  margin-top: 20px;
  box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
  flex: 0 0 45%;
  }

 .full-width .post-info .description {
   display: flex;
   flex-flow: row wrap;
   width: 65%;
   height: 100%; }

 .full-width .post-info .review {
    display: inline-block;
    margin-top: 0;
    width: 115px; }

 .full-width .post-info .review .cost {
      display: block; }

/*.full-width-mobile {
  display: block;
  width: auto;
  margin-right: 10px; }
  .full-width-mobile .post-info .description {
    display: block;
    vertical-align: top;
    width: auto; }
  .full-width-mobile .post-info .review {
    display: block;
    width: 200px;
    margin-top: 10px; }
    .full-width-mobile .post-info .review .cost {
      vertical-align: top;
      display: inline-block;
      margin-right: 10px; }
    .full-width-mobile .post-info .review .average {
      font-size: 0.95em;
      color: #706f6f; }*/

    .medium-post{
      width: 20%;
    }

footer {
/*margin-top: 50px;*/ }
  footer .main-cont {
    background: url("../img/background-text.jpg");
    background-repeat: repeat;
    padding: 20px 10px;
  /*height: 200px;*/
    height: 29%; }
    footer .main-cont .content {
      display: flex;
      flex-flow: row wrap;
      margin: 0 auto;
      max-width: 1500px; }
      footer .main-cont .content .logo {
        display: flex;
        flex-flow: row wrap;
        margin-right: 10px;
        vertical-align: middle;
        width: 14%;
        height: 70%;}
        footer .main-cont .content img {
          height: inherit;
          width: auto; }
      footer .main-cont .content .links {
        display: inline-block;
        vertical-align: middle; }
        footer .main-cont .content .links a {
          color: #706f6f;
          margin-right: 35px;
          font-size: 0.9em; }
        footer .main-cont .content .links a:last-child {
          margin-right: 0; }
        footer .main-cont .content .links a:hover {
          text-decoration: underline; }
      footer .main-cont .content .legal {
        margin-top: 20px;
        text-align: center; }
        footer .main-cont .content .legal p {
          color: #706f6f;
          font-size: 0.8em; }

    .quienes-somos{
      display: flex;
      flex-flow: row wrap;
      width: 25%;
      height: auto;
      margin-right: 10px;
      font-size: 11px;
    }

    .links-servicios{
      display: flex;
      flex-flow: row wrap;
      width: 20%;
      height: 70%;
      margin-top: 10px;
    }

    .link-each{
      width: 100%;
      height: auto;
      text-align: center;
      vertical-align: middle;
    }

    .terminos-contactenos{
      display: flex;
      flex-flow: row wrap;
      width: 37%;
      height: 40%;
      margin-top: 33px;
    }

    .terminos-each{
      width: 100%;
      height: auto;
      text-align: right;
    }

    .legal{
      width: 100%;
      text-align: center;
      margin-top: 5px;
    }


    /* Elements for detail article */

    .article-container{
      display: flex;
      flex-flow: row wrap;
    }

    .main-article{
      width: 58%;
      margin: 90px 25px 0px 41px;
    }

    .search-column {
      /*width: 330px;*/
      width: 25%;
      display: flex;
      flex-flow: row wrap;
      padding-left: 10px;
      margin: 90px 2px 10px 10px;
    }

    .post-column{
      display: flex;
      flex-flow: row wrap;
      ´width: 100%;
    }

      .post-column .info {
        margin-bottom: 35px; }
        .post-column .info .icon {
          margin-bottom: 5px; }
          .post-column .info .icon img {
            width: 31px;
            height: 31px;
            vertical-align: middle;
            margin-right: 5px; }
          .post-column .info .icon span {
            vertical-align: middle;
            color: #706f6f;
            font-weight: 600; }
        .post-column .info .autor .title {
          color: #706f6f;
          font-size: 0.9em;
          margin-bottom: 3px; }
        .post-column .info .autor .profile {
          margin-bottom: 13px;
          margin-top: 20px;}
          .post-column .info .autor .profile .img-cont {
            display: inline-block;
            vertical-align: top;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            border-radius: 10px;
            overflow: hidden;
            width: 50px;
            height: 50px;
            margin-right: 5px; }
            .post-column .info .autor .profile .img-cont img {
              width: 50px;
              height: 50px; }
          .post-column .info .autor .profile .name-review-cont {
            display: inline-block;
            vertical-align: top;
            color: #4c4c4c; }
            .post-column .info .autor .profile .name-review-cont span {
              color: #706f6f;
              font-weight: 600;
              margin-top: 11px; }
            .post-column .info .autor .profile .name-review-cont img {
              width: 100px;
              height: 16px;
              display: block;
              margin-top: 3px; }
            .post-column .info .autor .profile .name-review-cont .average span {
              font-size: 0.9em;
              font-weight: 400; }
        .post-column .info .date {
          margin-bottom: 15px; }
          .post-column .info .date .title {
            color: #706f6f;
            font-size: 0.9em; }
          .post-column .info .date span {
            color: #4c4c4c;
            font-weight: 600; }
        .post-column .info .review {
          margin-bottom: 10px; }
          .post-column .info .review .title {
            color: #706f6f;
            font-size: 0.9em;
            margin-bottom: 3px; }
          .post-column .info .review img {
            width: 130px;
            height: 20px; }
          .post-column .info .review .average {
            margin-top: -5px; }
            .post-column .info .review .average span {
              color: #706f6f;
              font-size: 0.9em;
              font-weight: 400; }

              .blog-body .text-cont {
                max-width: 650px;
                margin: 25px 10px 40px 9px; }
                .blog-body .text-cont .side-icon {
                  display: inline-block;
                  width: 38px;
                  height: 38px;
                  margin-right: 5px;
                  margin-top: 4px;
                  vertical-align: top; }
                .blog-body .text-cont .main-text {
                  display: inline-block;
                  width: 90%;
                  margin-right: -4px; }

.title-article{
  font-size: 24px;
}

.search-column-low{
  display: none;
}

/* Search offers */

.ofert-icon img{
  width: 10%;
  height: auto;
}

/* Design elements for text containers for privacy and politics, terms and conditions */

.container-main-info{
  margin: 120px 100px 20px 100px;
}

.container-main-title{
  text-align: center;
  margin: 100px 100px 20px 100px;
}

/* Design elements for login and sign up */

.form-cont{
  display: none;
  flex-flow: row wrap;
  margin: 70px 0px 0px 0px;
  height: 62%;
}

.form-cont-low{
  display: flex;
  flex-flow: row wrap;
  margin: 61px 0px 0px 0px;
  height: 68%;
}

.main-login{
  width: 100%;
  margin-top: 12%;
  margin-left: 29%;
  margin-right: 29%;
  height: 76%;
}

.portrait{
  width: 50%;
  height: 60%;
  margin-top: 10%;
  display: none;
}

.img-cont-login{
  display: inline-block;
  vertical-align: top;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin-right: 5px;
}

.form-login{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: auto;
    background-color: #FFFFFF;
    padding-top: 0px;
    height: 66%;
}

.login-container{
  margin: 20px;
}

input[type="text"] .form-control{
  margin: 0px 0px;
}

.submit-button-cont{
  justify-content: flex-end;
  margin-left: 60%;
}

.login-container .form-group label{
  width: 100%;
  text-align: center;
}

.login-container .form-group input[type="text"]{
  width: 100%;
  margin: 0px 0px;
}

.submit-button-cont{
  justify-content: flex-end;
  margin-left: 50%;
}

.main-login .form-login .login-container .submit-button-cont a{
  width: auto;
  font-size: 12px;
}

/*Formulario contactenos*/

.container-contactenos{
  margin: 132px 100px 110px 100px
}

.container-button-submit:hover{
  background-color: #d6d6d6;
}


.container-contactenos .container-contact-info .form-group .form-control{
  margin: 0px 0px;
  width: 100%;
  text-align: left;
}

.submit-button-contactenos .container-button-submit{
  justify-content: flex-end;
  margin-left: 60%;
  display: block;
  float: right;
}
