@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700");
/*COLORES*/
/*color principal*/
/*Gris claro*/
/*Gris*/
/*Gris oscuro*/
/*Alerta*/
/*Fuente principal*/
/*Padding para los inputs de texto*/
/*Fondo de textura gris*/
/*Rádio de las puntas*/


/* HEADER, FOOTER AND HOME */

* {
  padding: 0;
  margin: 0;
  clear: both;
  list-style-type: none;
  list-style: none;
  text-decoration: none;
  font-family: "Source Sans Pro", sans-serif;
  border: none; }

.wrapper {
  /*max-width: 1280px;*/
  margin: 0 auto; }

h1, h2, h3, h4, h5, h6 {
  color: #4c4c4c; }

p {
  color: #4c4c4c; }
  p a {
    color: #4c4c4c;
    text-decoration: underline; }
  p a:active {
    text-decoration: none; }
  p a:visited {
    color: #706f6f; }

header {
  height: 60px;
  display: flex;
  flex-flow: row wrap;
  box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #ffffff;
  z-index: 2;
  justify-content: space-between;
  }
  header .registration {
    display: flex;
    flex-flow: row wrap;
    width: 25%;
    max-width: 30%;
    min-width: 20%
    margin: 0 0 0 0;
    height: 100%;
    justify-content: space-between; }

  header .registration .button_home:hover {
      background-color: #d6d6d6; }

  header .profile-options {
    display: flex;
    flex-flow: row wrap;
    width: 26%;
    max-width: 30%;
    min-width: 20%;
    height: 100%;
    margin: 0 0 0 0;}


    header .profile-options .img {
      display: flex;
      flex-flow: row wrap;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      /*border-radius: 10px;*/
      border-radius: 10%;
      width: 50px;
      height: auto;
      margin-top: 1%;
    }
      header .profile-options .img img {
        display: inline-block;
        width: inherit;
        height: auto;
        cursor: pointer;
        border-radius: 10%; }
    header .profile-options .name-options-cont {
      display: flex;
      flex-flow: row wrap;
      height: auto;
      width: 70%;
      margin: 5% 0 0 0;
      justify-content: center; }

      header .profile-options .name-options-cont .name {
        color: #706f6f;
        overflow: hidden;
        height: 21px; }
        header .profile-options .name-options-cont .name p {
          text-align: right;
          cursor: pointer; }
      header .profile-options .name-options-cont .options {
        width: 60px;
        margin: 0 0 0 0; }
        header .profile-options .name-options-cont .options p {
          font-size: 0.9em; }
        header .profile-options .name-options-cont .options img {
          width: 15px;
          height: 15px;
          cursor: pointer; }
        header .profile-options .name-options-cont .options .drop-down {
          display: none;
          position: relative;
          top: 0;
          right: 127px;
          width: 200px;
          height: auto;
          padding: 13px;
          border: 1px solid #d6d6d6;
          background-color: #fff; }
          header .profile-options .name-options-cont .options .drop-down ul li a {
            color: #706f6f;
            font-size: 0.9em; }
          header .profile-options .name-options-cont .options .drop-down ul .line {
            border-bottom: 2px solid #d6d6d6;
            margin: 7px 0; }

          header .icons .pic_icon img:hover{
            background-color: #d6d6d6;
          }

.profile-options-low{
  display: none;
}

.registration_low{
  display: none;
}

.button_a{
  width: 50%;
}

.button_home{
  background-color: #DEDC00;
  border: none;
  color: #706F6F;
  text-align: center;
  text-decoration: none;
  /*display: inline-block;*/
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  font-family: 'Source Sans Pro', sans-serif;
  width: 85%;
  height: 57%;
  margin-top: 6%;
  margin-left: 1%;
}

main {
  display: flex;
  flex-flow: row wrap;
  width: 90%;
  height: auto;
  margin: 50px;
  justify-content: center;
 }


.logo_container{
  display: flex;
  flex-flow: row wrap;
  padding-right: 0.1%;
  padding-left: 2%;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
  width: 21%;
}

.logo_img{
  /*max-width: 100%;*/
  /*max-height: 100%;*/
  width: auto;
  height: 100%;
}

.logo_img_low{
  width: 90%;
  height: 55%;
  display: none;
}

.icons{
  display: flex;
  flex-flow: row wrap;
  width: 41%;
  max-height: 56px;
  margin-left: 2.5%;
  margin-right: 2%;
  justify-content: center;
  /*margin-top: 50px;
  margin-bottom: 20px;*/
}


.pic_icon{
  padding: 0;
  flex: 0 0 8%;
  margin: 1px;
  align-items: center;
  margin: 1%;
  max-height: 56px;
}

.icons .pic_icon img{
  height: 100%;
}

.search_ele{
  width: 90%;
  margin: 54px 50px 50px 50px;
  justify-content: center;
  text-align: center;
}

.form_search{
  width: 100%;
  justify-content: center;
}

.form-search-articles{
  display: block;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  padding: 5px 10px;
  color: #4c4c4c;
  border: 1px solid #d6d6d6;
  width: 50%;
  text-align: center;
  margin: 0px 25%;
  margin-bottom: 8px; }

article {
  overflow: hidden;
  display: inline-block;
  width: 48.2%;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-top-left-radius: 10px;
  -moz-border-top-right-radius: 10px;
  -ms-border-top-left-radius: 10px;
  -ms-border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 0 10px 30px 0; }

  article .img-title-cont {
    height: 250px; }

  article .img-title-cont .title-cont {
      -webkit-transition: all 100ms ease-in-out;
      -moz-transition: all 100ms ease-in-out;
      -ms-transition: all 100ms ease-in-out;
      -o-transition: all 100ms ease-in-out;
      transition: all 100ms ease-in-out;
      background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.4) 0%, rgba(125, 185, 232, 0) 100%);
      background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.4) 0%, rgba(125, 185, 232, 0) 100%);
      background: linear-gradient(to right, rgba(0, 0, 0, 0.4) 0%, rgba(125, 185, 232, 0) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= '#66000000', endColorstr='#007db9e8',GradientType=1 );
      height: 250px;
      position: relative !important;
      bottom: 250px  !important;
      left: 0 !important;
      right: 0 !important;
      max-width: 250px; }

  article .img-title-cont .img {
      height: 250px; }

  article .img-title-cont h3 {
      color: #fff;
      position: absolute;
      bottom: 0;
      font-size: 2em;
      padding: 0px 0px 15px 10px;
      margin-bottom: 10px;
      overflow: hidden;
      line-height: 1.1em;
      /* fallback */
      max-height: 4em; }

  article .img-title-cont:hover .title-cont {
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.46) 0%, rgba(125, 185, 232, 0) 100%) !important;
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.46) 0%, rgba(125, 185, 232, 0) 100%) !important;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.46) 0%, rgba(125, 185, 232, 0) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= '#66000000', endColorstr='#007db9e8',GradientType=1 ); }

  article .post-info {
    display: flex;
    flex-flow: row wrap;
    /*height: 80%;
    max-width: 40%;*/
    padding-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;}

  article .post-info .post-type {
    display: flex;
    flex-flow: row wrap;
    height: 15px;
    align-items: left;
    margin-left: 7.5%; }

  article .article-date{
    width: 45%;
    margin-left: 10px;
    font-size: 80%;
    text-align: right;
  }

  article .article-author{
    width: 50%;
    font-size: 90%;
  }

  article .medium-post{
    width: 20%;
    margin-left: 2px;
  }

  article .post-info .post-type i {
        padding: 3px 6px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        border-radius: 5px;
        text-transform: uppercase;
        font-size: 0.57em;
        color: #fff;
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 600;
        letter-spacing: 0.07em;
        margin-top: -4px; }

  article .post-info .description {
      /*display: block;
      vertical-align: top;*/
      display: flex;
      flex-flow: row wrap;
      height: 50%;
      width: 50%;
      color: #4c4c4c;
      overflow: hidden;
      font-size: 0.95em;
      line-height: 1.3em;
      text-overflow: ellipsis;
      max-height: 2.6em; }

  article .post-info .review {
      display: block;
      width: 200px;
      float: right;
      margin-top: 10px; }
      article .post-info .review .cost {
        vertical-align: top;
        display: inline-block;
        font-family: "Montserrat", sans-serif;
        color: #4c4c4c;
        margin-right: 10px; }
      article .post-info .review .stars {
        display: inline-block;
        width: 110px; }
      article .post-info .review img {
        cursor: pointer;
        width: inherit;
        height: 20px; }
      article .post-info .review .average {
        font-size: 0.95em;
        color: #706f6f; }

.first_part_postinfo{
  display: flex;
  flex-flow: row wrap;
  height: 10%;
  width: 100%;
}

.second_part_postinfo{
  display: flex;
  flex-flow: row wrap;
  height: 3%;
  width: 100%
}

.entrepreneurship .post-type i {
  background-color: #E84E1B; }

.ayni .post-type i {
  background-color: #DDDB00; }

.learn .post-type i {
  background-color: #2D2E82; }

.daily-life .post-type i {
  background-color: #D83381; }

.host .post-type i {
  background-color: #036633; }

.full-width {
  width: auto;
  margin-right: 17px;
  margin-left: 17px;
  border-width: 1px;
  margin-top: 20px;
  box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
  flex: 0 0 30%;
  }

 .full-width .post-info .description {
   display: flex;
   flex-flow: row wrap;
   width: 65%;
   height: 100%; }

 .full-width .post-info .review {
    display: inline-block;
    margin-top: 0;
    width: 115px; }

 .full-width .post-info .review .cost {
      display: block; }

/*.full-width-mobile {
  display: block;
  width: auto;
  margin-right: 10px; }
  .full-width-mobile .post-info .description {
    display: block;
    vertical-align: top;
    width: auto; }
  .full-width-mobile .post-info .review {
    display: block;
    width: 200px;
    margin-top: 10px; }
    .full-width-mobile .post-info .review .cost {
      vertical-align: top;
      display: inline-block;
      margin-right: 10px; }
    .full-width-mobile .post-info .review .average {
      font-size: 0.95em;
      color: #706f6f; }*/

    .medium-post{
      width: 20%;
    }

footer {
/*margin-top: 50px;*/ }
  footer .main-cont {
    background: url("../img/background-text.jpg");
    background-repeat: repeat;
    padding: 20px 10px;
  /*height: 200px;*/
    height: 29%; }

    footer .main-cont .content {
      display: flex;
      flex-flow: row wrap;
      margin: 0 auto;
      max-width: 1500px; }
      footer .main-cont .content .logo {
        display: flex;
        flex-flow: row wrap;
        margin-right: 10px;
        vertical-align: middle;
        width: 10%;
        height: 70%;}
        footer .main-cont .content img {
          height: inherit;
          width: auto; }
      footer .main-cont .content .links {
        display: inline-block;
        vertical-align: middle; }
        footer .main-cont .content .links a {
          color: #706f6f;
          margin-right: 35px;
          font-size: 0.9em; }
        footer .main-cont .content .links a:last-child {
          margin-right: 0; }
        footer .main-cont .content .links a:hover {
          text-decoration: underline; }
      footer .main-cont .content .legal {
        margin-top: 20px;
        text-align: center; }
        footer .main-cont .content .legal p {
          color: #706f6f;
          font-size: 0.8em; }

    .quienes-somos{
      display: flex;
      flex-flow: row wrap;
      width: 25%;
      height: auto;
      margin-right: 10px;
    }

    .links-servicios{
      display: flex;
      flex-flow: row wrap;
      width: 25%;
      height: 70%;
      margin-top: 10px;
    }

    .link-each{
      width: 100%;
      height: auto;
      text-align: center;
      vertical-align: middle;
    }

    .terminos-contactenos{
      display: flex;
      flex-flow: row wrap;
      width: 37%;
      height: 40%;
      margin-top: 33px;
    }

    .terminos-each{
      width: 100%;
      height: auto;
      text-align: right;
    }

    .legal{
      width: 100%;
      text-align: center;
      margin-top: 5px;
    }

/* ELEMENTS FOR DETAIL ARTICLE */

.article-container{
  display: flex;
  flex-flow: row wrap;
}

.main-article{
  width: 60%;
  margin: 90px 39px 0px 55px;
}

.search-column {
  /*width: 330px;*/
  display: flex;
  flex-flow: row wrap;
  width: 30%;
  padding-left: 10px;
  margin: 90px 2px 10px 10px;
}

.post-column{
  display: flex;
  flex-flow: row wrap;
}

  .post-column .info {
    margin-bottom: 35px; }
    .post-column .info .icon {
      margin-bottom: 5px; }
      .post-column .info .icon img {
        width: 31px;
        height: 31px;
        vertical-align: middle;
        margin-right: 5px; }
      .post-column .info .icon span {
        vertical-align: middle;
        color: #706f6f;
        font-weight: 600; }
    .post-column .info .autor .title {
      color: #706f6f;
      font-size: 0.9em;
      margin-bottom: 3px; }
    .post-column .info .autor .profile {
      margin-bottom: 13px;
      margin-top: 20px; }
      .post-column .info .autor .profile .img-cont {
        display: inline-block;
        vertical-align: top;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        border-radius: 10px;
        overflow: hidden;
        width: 50px;
        height: 50px;
        margin-right: 5px; }
        .post-column .info .autor .profile .img-cont img {
          width: 50px;
          height: 50px; }
      .post-column .info .autor .profile .name-review-cont {
        display: inline-block;
        vertical-align: top;
        color: #4c4c4c;
        margin-top: 15px;}
        .post-column .info .autor .profile .name-review-cont span {
          color: #706f6f;
          font-weight: 600;
          margin-top: 11px; }
        .post-column .info .autor .profile .name-review-cont img {
          width: 100px;
          height: 16px;
          display: block;
          margin-top: 3px; }
        .post-column .info .autor .profile .name-review-cont .average span {
          font-size: 0.9em;
          font-weight: 400; }
    .post-column .info .date {
      margin-bottom: 15px; }
      .post-column .info .date .title {
        color: #706f6f;
        font-size: 0.9em; }
      .post-column .info .date span {
        color: #4c4c4c;
        font-weight: 600; }
    .post-column .info .review {
      margin-bottom: 10px; }
      .post-column .info .review .title {
        color: #706f6f;
        font-size: 0.9em;
        margin-bottom: 3px; }
      .post-column .info .review img {
        width: 130px;
        height: 20px; }
      .post-column .info .review .average {
        margin-top: -5px; }
        .post-column .info .review .average span {
          color: #706f6f;
          font-size: 0.9em;
          font-weight: 400; }

          .blog-body .text-cont {
            max-width: 650px;
            margin: 25px 10px 40px 20px; }
            .blog-body .text-cont .side-icon {
              display: inline-block;
              width: 38px;
              height: 38px;
              margin-right: 5px;
              margin-top: 4px;
              vertical-align: top; }
            .blog-body .text-cont .main-text {
              display: inline-block;
              width: 607px;
              margin-right: -4px; }

.search-column-low{
  display: none;
}

/* SEARCH OFFERS */

.ofert-icon img{
  width: 10%;
  height: auto;
  border-radius: 10%;
}


/* DESIGN ELEMENTS FOR TEXT CONTAINERS FOR PRIVACY AND POLITICS, TERMS AND CONDITIONS */

.container-main-info{
  margin: 120px 100px 20px 100px;
}

.container-main-title{
  text-align: center;
  margin: 100px 100px 20px 100px;
}

/* DESIGN ELEMENTS FOR LOGIN AND SIGN UP */

/* login */

.form-cont{
  display: flex;
  flex-flow: row wrap;
  margin: 70px 60px 20px 60px;
  height: 87%;
}

.form-cont-low{
  display: none;
}

.main-login{
  width: 35%;
  margin-top: 7%;
  margin-left: 3%;
  margin-right: 6%;
  height: 76%;
}

.portrait{
  width: 50%;
  height: 60%;
  margin-top: 8%;
}

.img-cont-login{
  display: inline-block;
  vertical-align: top;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin-right: 5px;
}

.form-login{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: auto;
    background-color: #FFFFFF;
    padding-top: 0px;
    /*height: 70%;*/
    width: 100%;
    display: inline-block;
}

.login-container{
  margin: 20px;
}

.submit-button-cont{
  justify-content: flex-end;
  margin-left: 60%;
  margin-bottom: 2%;
  display: block;
  float: right;
  width: 22%;
}

.main-login .form-login .login-container .submit-button-cont a{
  width: auto;
  font-size: 12px;
}

.container-button-login{
  margin-top: 8%;
}

/* sign up */

.portrait-signup{
  width: 50%;
  height: 60%;
  margin-top: 10%;
}

.img-cont-signup{
  display: inline-block;
  vertical-align: top;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin-right: 5px;
}

.form-cont-signup{
  display: flex;
  flex-flow: row wrap;
  margin: 0px 60px 34px 60px;
  height: 73%;
}

.form-cont-signup-low{
  display: none;
  flex-flow: row wrap;
  margin: 61px 0px 0px 0px;
  height: 68%;
}

.main-signup{
  width: 35%;
  margin-top: 7%;
  margin-left: 3%;
  margin-right: 6%;
  height: 82%;
}

.form-signup{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 0 0 0 0;
  background-color: #FFFFFF;
  padding-top: 0px;
  height: 95%;
}

.signup-container{
  margin: 3% 10% 10% 10%;
  display: inline-block;
}

.signup-title{
  margin: 10px 0 0 0;
}

.submit-button-cont-signup{
  justify-content: flex-end;
  margin-left: 60%;
  display: block;
  float: right;
  width: 41%;
}

/* FORMULARIO CONTACTENOS */

.container-contactenos{
  margin: 132px 100px 141px 100px
}


.container-button-submit:hover{
  background-color: #d6d6d6;
}

.submit-button-contactenos .container-button-submit{
  justify-content: flex-end;
  margin-left: 60%;
  display: block;
  float: right;
}

/* USER CONFIGURATION ACCOUNT */

.icon-picture img{
  width: 10%;
  height: auto;
}

.icon-picture{
  margin: 0px 0 0 0;
}

.offert-form{
  margin: 9% 11% 0 11%;
  width: 74%;
  height: auto;
}

.config-container{
  display: inline-flex;
  width: 97%;
  height: auto;
}

/* Accordion for mobile */

.config-container-low{
  display: none;
}

/*.accordion{
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.panel{
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}*/

/* Tabs Verticales */

.tabConfiguracion {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 32%;
    height: auto;
}

.tabConfiguracion button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
}

.tabConfiguracion button:hover {
    background-color: #ddd;
}

.tabConfiguracion button.active {
    background-color: #ccc;
}

.tabcontent {
    float: left;
    padding: 30px 30px;
    border: 1px solid #ccc;
    width: 74%;
    border-left: none;
    height: auto;
}

.submit-button-config{
  justify-content: flex-end;
  margin: 19px 0 19px 59%;
  display: block;
  float: right;
  width: 14%;
}


/* MY ARTICLES */

.container-myarticles{
  width: 90%;
  margin: 10% 5% 8.5% 5%;
  height: auto;
}

.panel-myarticles{
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
  box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
}

/* MY LODGING OFFERS*/

.panel-lodging{
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
  box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
}

.container-lodging{
  width: 90%;
  margin: 15% 5% 15.5% 5%;
  height: auto;
}

/* DETAIL LODGING OFFER */

.title-cont-lodging{
  margin: 0 0 0 0;
  width: 100%;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
}

.acomodacion-lodging{
  width: 100%;
  text-align: left;
  margin: 0 0 0 25%;
  font-family: "Source Sans Pro", sans-serif;
}

.details-alojamiento{
  width: 72%;
  height: auto;
}

.important-features{
  display: inline-flex;
  flex-flow: row;
  width: 100%;
  justify-content: space-between;
  box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
  padding: 11px 0px 0 15px;
}

.imp-feat-I{
  width: 30%
}

.imp-feat-I img{
  width: 32px;
  height: 32px;
}

.lodging-location-title{
  width: 100%;
  margin: 0 0 4% 25%;
  display: inline-flex;
}

.lodging-location{
  width: 60%;
  font-size: 13px;
  margin-top: 7px;
}

.lodging-price{
  width: 40%;
  font-size: 20px;
}

.servicios-ofrecidos-container{
  box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
  padding: 2px 15px;
  margin-top: 13px;
}

.comodidades-destacadas-container{
  box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
  padding: 2px 15px;
  margin-top: 13px;
}

.comodidades-destacadas-lodging{
  margin: 1px 0 8px 0;
}

.comodidades-destacadas-lodging img{
  width: 32px;
  height: 32px;
  margin: 0 0 0 1px;
}

.descripcion-container{
  box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
  padding: 2px 15px;
  margin-top: 13px;
  margin-bottom: 16px;
}

#disqus_thread{
  margin-bottom: 26px;
}

.servicios-ofrecidos-lodging{
  margin: 1px 0 8px 0;
}

.servicios-ofrecidos-lodging img{
  width: 32px;
  height: 32px;
  margin: 0 0 0 1px;
}

.caract-cuarto-container{
  box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
  padding: 2px 15px;
  margin-top: 13px;
  margin-bottom: 16px;
}

.caract-cuarto-lodging{
  margin: 1px 0 8px 0;
}

.caract-cuarto-lodging img{
  width: 32px;
  height: 32px;
  margin: 0 0 0 1px;
}

.detail-lodging-container{
  display: flex;
  flex-flow: row wrap;
}

.main-detail-lodging{
  width: 60%;
  margin: 21px 39px 0px 55px;
}

.add-images-container{
  width: 8%;
  height: auto;
  margin: 1% 3% 0 0;
}

.main-content-lodging{
  font-size: 12px;
  text-align: center;
}

.post-body-lodging{
  width: auto;
  height: 20%;
}

.search-column-lodging {
  /*width: 330px;*/
  display: flex;
  flex-flow: row wrap;
  width: 30%;
  padding-left: 10px;
  margin: 90px 2px 10px 10px;
}

.icon-lodging{
  margin: 0 0 15px 0;
}

.img-cont-lodging img{
  width: 38%;
  height: auto;
  border-radius: 10%;
}

.search-column-lodging .post-column-lodging .info-lodging .icon-lodging img{
  width: 32px;
  height: 32px;
}

.post-column-lodging{
  display: flex;
  flex-flow: row wrap;
}

.name-review-cont-lodging{
  margin-top: 5px;
}

.date-lodging-publish{
  margin-top: 5px;
}

.container{
  width: 100%;
  padding: 0;
}

.carousel {
  overflow: hidden;
  max-width: 100%;
  height: 65%;
  margin-top: 4%;
  background-position: center center;
  background-repeat: no-repeat;
}

/* Load and edit images lodging offer */

.container-lodging-pics{
  margin: 9% 5% 0 5%;
}

.lodging-img-container{
  display: inline-flex;
  justify-content: space-between;
}

.row-lodging{
  width: 30%;
  height: auto;
}

.col-md-3{
  width: 95%;
}

/* Lodging Search */

.container-lodging-search{
  margin: 2% 5% 0 5%;
  justify-content: space-between;
}

.banner-lodging-search{
  width: 100%;
}

.banner-lodging-search img{
  width: 100%;
  height: auto;
  margin-top: 4%;
}

.head-lodging-search{
  display: inline-flex;
  height: 41px;
  width: 100%;
}

.formgroup-lodging-search{
  display: block;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  padding: 5px 10px;
  color: #4c4c4c;
  border: 1px solid #d6d6d6;
  width: 100%;
  text-align: center;
  /*margin: 0px 25%;*/
  margin-bottom: 8px;
}

.stayhost{
  width: 50%;
  display: table;
  margin: 0 auto;
}

.ofert-icon-lodging{
  width: 20%;
  margin-left: 6px;
}

.formgroup-lodging-search #id_query{
  width: 100%;
}

.formgroup-lodging-search .input_search{
  width: 100%;
}

.results-lodging-container{
  margin: 3% 12%;
}

.item-result-lodging{
  width: 100%;
  margin: 20px 17px 0 17px;
  border-width: 1px;
  box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
  display: inline-flex;
  height: 243;
}

.item-result-lodging:hover{
  box-shadow: 0 0 79px 19px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
}

.img-item-container{
  width: auto;
  height: 100%;
}

.img-item-search{
  width: auto;
  height: 100%;
}

.img-item-search img{
  width: auto;
  height: 100%;
}

.info-item-lodging{
  width: 70%;
  height: auto;
  margin-left: 1%;
}

.info-item-lodging-firstpart{
  display: inline-flex;
  width: 100%;
}

.title-item-lodging{
  width: 80%;
}

.price-item-lodging{
  width: 50%;
  font-size: 21px;
  text-align: right;
  margin: 13px 20px;
}

.location-item-lodging{
  width: 100%;
  font-size: 15px;
}

.info-item-lodging-lastpart{
  display: inline-flex;
  width: 100%;
  height: auto;
  margin-top: 1%;
}

.description-item-lodging{
  width: 50%;
}

.mainfeatures-item-lodging{
  display: inline-flex;
  width: 50%;
  margin-top: 4%;
  justify-content: flex-end;
}

.imp-feat-II{
  width: 30%;
  text-align: center;
}

.imp-feat-II img{
  width: 32px;
  height: 32px;
}

/* STUDY OFERT DETAIL */

.detail-study-container{
  display: flex;
  flex-flow: row wrap;
}

.main-detail-study{
  width: 60%;
  margin: 21px 39px 0px 55px;
}

.acomodacion-study{
  width: 100%;
  text-align: left;
  margin: 0 0 0 20%;
  font-family: "Source Sans Pro", sans-serif;
}

.title-cont-study{
  margin: 0 0 0 20%;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
}

.study-location-title{
  width: 100%;
  margin: 0 0 4% 20%;
  display: inline-flex;
}

.study-location{
  width: 60%;
  font-size: 13px;
  margin-top: 7px;
}

.study-price{
  width: 40%;
  font-size: 20px;
}

.main-content-study{
  font-size: 12px;
  text-align: center;
}

.details-studio{
  width: 72%;
  height: auto;
}

.important-features-study{
  display: inline-flex;
  flex-flow: row;
  width: 100%;
  justify-content: space-between;
  box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
  padding: 11px 0px 0 15px;
}

.imp-feat-study-I{
  width: 30%;
  text-align: center;
}

.imp-feat-study-I img{
  width: 32px;
  height: 32px;
}

.servicios-ofrecidos-study{
  margin: 1px 0 8px 0;
}

.servicios-ofrecidos-study img{
  width: 32px;
  height: 32px;
}

.search-column-study {
  /*width: 330px;*/
  display: flex;
  flex-flow: row wrap;
  width: 30%;
  padding-left: 10px;
  margin: 90px 2px 10px 10px;
}

.post-column-study{
  display: flex;
  flex-flow: row wrap;
}

.search-column-study .post-column-study .info-study .icon-study img{
  width: 32px;
  height: 32px;
}

.icon-study{
  margin: 0 0 15px 0;
}

.img-cont-study img{
  width: 38%;
  height: auto;
  border-radius: 10%;
}

.post-column-study{
  display: flex;
  flex-flow: row wrap;
}

.name-review-cont-study{
  margin-top: 5px;
}

.date-study-publish{
  margin-top: 5px;
}

/* PROFILE OF USERS DETAIL */


.profile-info-container{
  display: flex;
  flex-flow: row wrap;
}

.column-profile-detail{
  flex: 0 0 20%;
  width: auto;
  /*margin: 90px 2px 10px 10px;*/
  padding: 90px 20px 65px 100px;
  background-color: #e5e5e5;
}

.full-column-profile{
  flex:0 0 20%;
  flex-flow: row wrap;
  width: auto;
  background-color: #e5e5e5;
}

.post-info-profile{
  width: auto;
  margin: 90px 20px 65px 120px;
  flex: 0 0 60%;
}

.img-profile{
  width: 100%;
  margin: 10% 0 2% 0;
  display: block;
  justify-content: center;
}

.img-profile img{
  width: 70%;
  height: auto;
  border-radius: 10%;
}

.nombre-profile{
  width: 100%;
  font-size: 20px;
}

.lugar-nacimiento-profile{
  width: 100%;
  text-align: left;
}

.fecha-nacimiento-profile{
  width: 100%;
  text-align: left;
}

.datos-contacto-profile{
  width: 100%;
  text-align: left;
}

.idiomas-profile{
  width: 100%;
  justify-content: left;
}

.idioma-icon{
  width: 12%;
  display: inline-block;
}

.idioma-icon img{
  width: 80%;
  height: auto;
}

.idioma-text{
  width: 80%;
  display: inline-block;
}

.lugar-residencia-profile{
  width: 100%;
  text-align: left;
}

.biografia-profile{
  width: 100%;
  text-align: left;
}

.column-profile-detail hr{
  margin-top: 5px;
  margin-bottom: 5px;
  color: #656565;
  background: #656565;
}

.profile{3
  width: 100%;
  text-align: left;
}

.contact{
  margin: 10px;
  width: 150px;
  height: auto;
}

/* PROFILE POST */

.search-post {
  width: auto;
  margin-right: 17px;
  margin-left: 17px;
  border-width: 1px;
  margin-top: 30px;
  margin-bottom: 30px;
  height: 120px;
  /*box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);*/
  flex: 0 0 30%;
  }

  .publish-post{
    width: auto;
    margin-right: 17px;
    margin-left: 17px;
    border-width: 1px;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 200px;
    box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
    flex: 0 0 30%;
  }

  .publish-post:hover{
    box-shadow: 0 0 79px 19px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
  }

  .form-post{
    width: 90%;
    height: 100px;
    margin: 10 30 10 30;
    display: flex;
    flex-wrap: wrap;
  }

  .form-post textarea{
    margin: 30 10 10 10;
    height: 100px;
    width: 100%;
    border:solid 1px #ccc;
  }

  .text-search-post{
    margin: 30 30 20 23%;
    height: 30px;
    width: 50%;
    border:solid 1px #ccc;
    border-radius: 10px;
    text-align: center;
  }

  .btnSubmitPost:hover {
      background-color: #d6d6d6;
    }

  .btnSubmitPost{
      background-color: #DEDC00;
      border: none;
      color: #706F6F;
      text-align: center;
      text-decoration: none;
      /*display: inline-block;*/
      font-size: 16px;
      cursor: pointer;
      border-radius: 5px;
      font-family: 'Source Sans Pro', sans-serif;
      width: 10%;
      height: 30px;
      margin-top: 5px;
      margin-left: 90%;
  }

  .btnSearchPost{
    background-color: #DEDC00;
    border: none;
    color: #706F6F;
    text-align: center;
    text-decoration: none;
    /*display: inline-block;*/
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Source Sans Pro', sans-serif;
    width: 10%;
    height: 30px;
    margin-top: 5px;
    margin-left: 70%;
  }

  .btnSearchPost:hover {
      background-color: #d6d6d6;
    }

  .form-post p{
    width: 100%;
  }

  .form-post label{
    display: none;
  }

  /*.history-post{
    width: auto;
    margin-right: 17px;
    margin-left: 17px;
    border-width: 1px;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 100px;
    box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
    flex: 0 0 30%;
  }*/


  /*.history-each-post{
    margin: 20 20 20 20;
  }

  .histoy-each-post .content{
    margin: 20 20 20 20;
  }*/

  .history-post .history-each-post .media{
    width: auto;
    margin-right: 17px;
    margin-left: 17px;
    border-width: 1px;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 190px;
    box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
    flex: 0 0 30%;
  }

  .author-post-precontent{
    width: 100%;
    margin: 20px 20px 20px 70px;
    height: 20px;
  }

  .post-content{
    width: 100%;
    margin: 20px 20px 20px 70px;
    height: 20px;
  }

  .post-author{
    width: 50%;
    margin: 10px 20px 10px 70px;
    height: 20px;
  }

  .post-date{
    width: 50%;
    margin: 10px 70px 10px 20px;
    height: 20px;
    text-align: right;
  }

  .post-liked{
    width: 7%;
    margin: 10px 5px 10px 5px;
    height: 23px;
    text-align: center;
    background-color: #e5e5e5;
  }

  .post-repost{
    width: 7%;
    margin: 10px 5px 10px 5px;
    height: 23px;
    text-align: center;
    background-color: #e5e5e5;
  }

  .post-comentar{
    width: 7%;
    margin: 10px 5px 10px 5px;
    height: 23px;
    text-align: center;
    background-color: #e5e5e5;
  }

.post-author-fecha{
  width: 100%;
  display: flex;
}

.post-interaction{
  width: 100%;
  display: flex;
  margin-left: 73%;
}


/*DESIGN RESET PASSWORD*/

.btnResetPassword{
  background-color: #DEDC00;
  border: none;
  color: #706F6F;
  text-align: center;
  text-decoration: none;
  /*display: inline-block;*/
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  font-family: 'Source Sans Pro', sans-serif;
  width: 203px;
  height: 32px;
  margin-top: 5px;
  float: right;
}

.btnResetPassword:hover {
  background-color: #d6d6d6;
}

.container-reset-password{
  margin: 10% 30% 12% 30%;
}

.title-reset-password{
  margin: 10px 0 10px 0;
}

.texto-reset-password{
  margin: 22px 0 27px 0;
}

.text-done{
  margin: 37% 0 37% 0;
}

.container-reset-confirm{
  margin: 10% 30% 12% 30%;
}

.title-reset-confirm{
  margin: 10px 0 50px 0;
}

.btnResetConfirm{
  background-color: #DEDC00;
  border: none;
  color: #706F6F;
  text-align: center;
  text-decoration: none;
  /*display: inline-block;*/
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  font-family: 'Source Sans Pro', sans-serif;
  width: 203px;
  height: 32px;
  margin-top: 5px;
  float: right;
}

.btnResetConfirm:hover {
  background-color: #d6d6d6;
}

.help-block{
  font-size: 12px;
}

.btnIniciarSesionReset{
  background-color: #DEDC00;
  border: none;
  color: #706F6F;
  text-align: center;
  text-decoration: none;
  /*display: inline-block;*/
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  font-family: 'Source Sans Pro', sans-serif;
  width: 203px;
  height: 32px;
  margin-top: 5px;
  float:right;
}

.btnIniciarSesionReset:hover {
  background-color: #d6d6d6;
}

.container-iniciar-reset{
  margin: 18% 30% 21% 30%;
}
