{% extends 'layout.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block title_tag %}{{ lodgingofferdetail.ad_title }} | {{ block.super }}{% endblock %}
{% block top_logo %}
{% include "top-logo.html" %}
{% endblock %}
{% block body_content %}

<!-- Columna a la derecha -->
<div class="search-column">
    <div class="post-column">
        <div class="info">
            <div class="icon">
                <img src="{% static 'img/icons/info.svg' %}" alt="">
                <span>Información</span>
            </div>
            <div class="autor">
                <p class="title">Autor</p>
                <div class="profile">
                    <div class="img-cont">
                        {% if lodgingofferdetail.created_by.avatar %}
                        <a href="#">
                        <img src="{{ lodgingofferdetail.created_by.avatar.url }}" alt="" class="img-responsive">
                        </a>
                        {% else %}
                        <a href="#">
                            <img src="{% static 'img/default_profile_pic.png' %}" class="img-responsive">
                        </a>
                        {% endif %}
                    </div>
                    <div class="name-review-cont">
                        {% comment %} A quien corresponda {% endcomment %}
                        <a href="#">
                            <span>{{ lodgingofferdetail.created_by.get_long_name }}</span>
                            <span>{{ lodgingofferdetail.created_by.get_enterprise_name }} (@{{ lodgingofferdetail.created_by.email }})</span>
                        </a>
                        {% comment %}
                        <img src="{% static 'img/stars.svg' %}" alt="">
                        <div class="average">
                            <span>546</span>
                            <span>valoraciones</span>
                        </div>
                        {% endcomment %}
                    </div>
                </div>
            </div>
            <!-- Todo good -->

            <div class="date">
                <p class="title">Fecha de creación</p>
                <span>{{ lodgingofferdetail.pub_date }}</span>
            </div>

            {% comment %}
            <div class="review">
                <p class="title">Calificación de la oferta</p>
                <img src="{% static 'img/stars.svg' %}" alt="">
                <div class="average">
                    <span>546</span>
                    <span>valoraciones</span>
                </div>
            </div>
            {% endcomment %}

        </div>
        <!-- todo good -->

        <div class="photos">
            <div class="icon">
                <img src="{% static 'img/icons/photo.svg' %}" alt="">
                <span>Fotos</span>
            </div>
            <div class="cont">
                <div id="photo1" style="background: url('{% static "img/canada-toronto.jpg"%}') no-repeat center; background-size:cover;"></div>
                <div id="photo2" style="background: url('{% static "img/canada-toronto.jpg"%}') no-repeat center; background-size:cover;"></div>
                <div id="photo3" style="background: url('{% static "img/canada-toronto.jpg"%}') no-repeat center; background-size:cover;"></div>
                <div id="photo4" style="background: url('{% static "img/canada-toronto.jpg"%}') no-repeat center; background-size:cover;"></div>
                <div id="photo5" style="background: url('{% static "img/canada-toronto.jpg"%}') no-repeat center; background-size:cover;"></div>
                <div id="photo6" style="background: url('{% static "img/canada-toronto.jpg"%}') no-repeat center; background-size:cover;"></div>
            </div>
        </div>


        {% comment %}

        <div class="recomendation">
            <div class="icon">
                <img src="img/icons/recomend.svg" alt="">
                <span>Te puede interesar</span>
            </div>
            <div class="cont innovate">
                <a href="#">
                    <div class="img" style="background: url(img/canada-toronto.jpg) no-repeat center; background-size:cover;">
                        <div class="title">
                            <span>Otra oferta de innovación</span>
                        </div>
                    </div>
                </a>
                <div class="info">
                    <div class="post-type"><i>innovatehost</i></div>
                    <img src="img/stars.svg" alt="">
                </div>
            </div>
            <div class="cont innovate">
                <a href="#">
                    <div class="img" style="background: url(img/canada-toronto.jpg) no-repeat center; background-size:cover;">
                        <div class="title">
                            <span>Otra oferta de innovación</span>
                        </div>
                    </div>
                </a>
                <div class="info">
                    <div class="post-type"><i>innovatehost</i></div>
                    <img src="img/stars.svg" alt="">
                </div>
            </div>
        </div>
        {% endcomment %}
    </div>
</div>
<!-- //Columna a la derecha -->

<!-- Contenido principal (ofertas) -->
		<main>
			<div class="post-body">
                {% if lodgingofferdetail.image %}
				<div class="banner" style="background: url('{{ lodgingofferdetail.image.url }}') no-repeat center; background-size:cover;">
                {% endif %}
					<div class="title-cont">
						<h1>{{ lodgingofferdetail.ad_title }}</h1>
					</div>
				</div><br/>
				<div class="post-type innovate">
					<i class="host">ALOJAMIENTO</i>
				</div>
				<div class="main-content hosting">
					<div class="cont type">
						<h2>{{ lodgingofferdetail.lodging_offer_type }}</h2>
						<p align="justify">{{ lodgingofferdetail.additional_description }}</p>
					</div>
					<div class="cont amenities">
						<h2>Servicios ofrecidos</h2>
                        {% for services in offeredservices %}
						<div>
							<img src="{% static 'img/icons/diary-button.svg' %}" alt="">
							<span>{{ services }}</span>
						</div>
                        {% endfor %}

                        <h2>Comodidades destacadas</h2>
                        {% for fa in featuredamenities %}
                        <div>
                            <img src="{% static 'img/icons/diary-button.svg' %}" alt="">
                            <span>{{ fa }}</span>
                        </div>
                        {% endfor %}

                        <h2>Room information</h2>
                        {% for offer in lodgingoffer %}
                        <div>
                            <img src="{% static 'img/icons/diary-button.svg' %}" alt="">
                            <span>{{ offer }}</span>
                        </div>
                        {% endfor %}

					</div>
					<div class="cont location">
						<h2>Ubicación</h2>
						<span>{{ lodgingofferdetail.address }}, {{ lodgingofferdetail.city }} - {{ lodgingofferdetail.country }}</span>
						<div class="map-cont">
							<iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d1983.0517024099001!2d-75.56337732682343!3d6.25010353077667!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2sco!4v1501007278560" frameborder="0" style="border:0" allowfullscreen></iframe>
						</div>
					</div>
					<div class="cont services">
						<h2>Servicios</h2>
						<table>
							<tbody>
								<tr>
									<th>Valor</th>
									<th>Descripción</th>
									<th>Descripción</th>
								</tr>
								<tr>
									<td>{{ lodgingofferdetail.room_value }}</td>
									<td>{{ lodgingofferdetail.additional_description }}</td>
									<td>{{ lodgingofferdetail.lodging_offer_owner_email }}</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="contact">
						<a class="contact-button" href="
						{% url 'host:contact_owner_offer' lodging_offer_owner_full_name=lodging_offer_owner_full_name lodging_offer_owner_email=lodging_offer_owner_email user_interested_full_name=user_interested_full_name interested_email=user_interested_email lodging_offer_title=lodging_offer_title offer_url=offer_url %}">
							<img src="{% static 'img/icons/social-lines.svg' %}" alt="">
							<span>Aplicar</span>
						</a>
					</div>
				</div>
			</div>
            <div id="disqus_thread"></div>
            {% comment %}
			<div class="comment-form-cont grey-background">
				<h3>Agregar comentario</h3>
                    <form action="." method="post"> <br>

                        <div class="formgroup">
                            <span>Name</span>
                            <input class="textinputclass" id="id_name" maxlength="80" name="name" type="text" required="">
                        </div>
                        <div class="formgroup">
                            <span>Email</span>
                            <input id="id_email" maxlength="254" name="email" type="email" required="" placeholder="Email">
                        </div>
                        <div class="formgroup">
                            <span>Message</span>
                            <textarea class="editable medium-editor-textarea " cols="40" id="id_body" name="body" rows="10" required=""></textarea>
                        </div>
                        <div class="submit-button-cont">
                                    <div>
                              <input type="image" src="https://s3-sa-east-1.amazonaws.com/ihost-project/assets/img/icons/ok.png" alt="Submit" width="48" height="48">
                                        <input type="submit" value="Add comment" class="submit-button">
                            </div>
                        </div>
                  </form>
			</div>
            {% endcomment %}
        </main>




		<!-- //Contenido principal (posts) -->


{% endblock  %}

