{% extends "layout.html" %}

{% block script %}
<script>
 // http://api.jquery.com/jquery.ajax/
 $(document).ready(function(){
     loadPostContainer("post-container", {{ object.id }})
 });
</script>
{% endblock script %}

{% block body_content %}
<div class="container-post-view">
    <div class="title-post-view">
        <h2>{{ object.user }}</h2>
    </div>
    <div class="list-post-view" id="post-container">
        {% if object.user == userprofile.user %}
            <br/>
        <p><a class='glyphicon glyphicon-pencil' href = "{% url 'post:update' pk=object.pk %}"></a>
          &nbsp;&nbsp;&nbsp;&nbsp;| &nbsp;&nbsp;&nbsp;&nbsp;
        <a class='glyphicon glyphicon-trash' href = "{% url 'post:delete' pk=object.pk %}"></a></p>
        {% endif %}
    </div>
</div>
    {% comment %}
    {{ object.timestamp }}<br/>
    {{ object.timestamp|timesince }}<br/>
    {% endcomment %}
{% endblock body_content %}
